    /*my_footer*/

.my_footer {
    width: 100%;
    position: fixed;
    bottom: 160px;

    bottom: 1.3rem;
    bottom: 0px;
    z-index: 9999;

    background: url("../img/bottom.png") no-repeat left bottom;
    background-size: 100%;

    height: 166px;
    padding-top: 90px;

    height: 1.36rem;
    padding-top: 1.2rem;
}

.my_footer img {
    height: auto;

    width: 0.95rem;
}

.my_footer_left {
    float: left;
    width: 100%;
    position: relative;
}

.footer_left_1 {
    position: absolute;
    left: 10%;
    top: 0.33rem;

    left: 1.6rem;
}

.footer_left_1 img {
    width: 0.8rem;
    height: auto;
}

.footer_left_2 {
    position: absolute;
    left: 20%;
    top: 50px;

    top: 0.65rem;
}

.footer_left_2 img {
    width: 0.7rem;
    height: auto;
}

.footer_left_3 {
    position: absolute;
    left: 30%;
    top: 100px;

    top: 0.9rem;
}

.footer_left_3 img {
    max-height: none;
    height: auto;
    width: 0.45rem;
}

.my_footer_right {
    float: right;
    width: 100%;
    position: relative;
}

.footer_right_1 {
    position: absolute;
    right: 10%;
    top: 0px;

    top: 0.3rem;
}

.footer_right_2 {
    position: absolute;
    right: 20%;
    top: 50px;

    top: 0.6rem;
}

.footer_right_2 img {
    width: 0.7rem;
    height: auto;
}

.footer_right_3 {
    position: absolute;
    right: 30%;

    top: 1rem;
}

.footer_right_3 img {
    height: auto;
    width: 0.6rem;
    top: 1rem;
}



/*copy_right*/

.copy_right {
    width: 100%;
    position: fixed;
    bottom: 0.4rem;
    text-align: center;
    z-index: 9999;
}

.copy_right img {
    width: 20%;
    width: 3.2rem;
    max-width: 289px;
}

.copy_right1 {
    padding-top: 30px;
    width: 100%;
    text-align: center;
    clear: both
}

.copy_right1.index {
    color: #fff;
    position: absolute;
    bottom: 20px;
}

.copy_right1 img {
    width: 20%;
    max-width: 289px;
}



/*index_box*/

.index_box {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}



/*my_top*/

.my_top {
    width: 950px;
    margin: auto;
    margin-top: 20px;
}

.logo {
    float: left;
}

.logo img {}

.my_nav {
    color: #fff;
    height: 54px;
    line-height: 34px;
    float: right;
    margin-top: 23px;
    font-size: 16px;
}

.my_nav a {
    color: #fff;
}

.my_nav li:hover {
    background-color: #eb7a00;
}

.my_nav li.now {
    background-color: #eb7a00;
}

.my_nav li:hover a {
    color: #fff100;
}

.my_nav ul li {
    float: left;
    margin-left: 2px;
    width: 100px;
    border-radius: 55px;
    text-align: center
}



/*notice*/

.notice {
    clear: both;
    width: 770px;
    text-align: center;
    padding-top: 0px;
    font-size: 16px;
    margin: auto;

    height: 30px;
    line-height: 30px;
}

.notice em {
    color: #FFFFFF
}

.notice img {
    margin-left: 290px;
    vertical-align: middle;
    margin-top: 6px;

    margin-left: 150px;
    margin-right: 5px;

    float: left;
}

.notice em {
    font-weight: bold;
    float: left;
}

.box {
    padding-left: 10px;
    float: left;
}

.winBox {
    width: 500px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
}

.scroll {
    /*width的大小是根据下面li的长度和多少个li而定的，需注意！*/
    width: 1500px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.scroll li {
    width: 100%;
    float: left;
    text-align: center;
    color: #FFFFFF
}

.scroll li a {
    color: #FFFFFF
}




/*login_box*/

.login_box {
    margin: auto;
    padding-top: 40px;
    width: 950px;
}



/*ad_box*/

.ad_box {
    float: left;
    padding-top: 0px;
    margin-top: 0.2rem;
}



/*login*/

.login {
    width: 311px;
    height: 330px;
    /*
    border: #1e2020 1px solid;
    border-radius: 20px;
    background: rgba(117,125,133,0.3);
    */
    background: url("../img/bg-login.png") no-repeat;
    background-size: cover;
    float: right;
}

.login ul {
    padding-left: 30px;
}

.login li {
    clear: both;
    margin-bottom: 12px;
    position: relative
}

.login li input[type=text],
.login li input[type=password] {
    width: 213px;
    padding-left: 40px;
    height: 40px;
    line-height: 38px;
    border: none;
    background: #fff;
    font-size: 16px;
}

.login li.login_form_user input {
    background: #fff url(../img/i-user.png) no-repeat 12px center;
}

.login li.login_form_pw input {
    background: #fff url(../img/i-pw.png) no-repeat 12px center;
}

.login li.login_form_pw2 input {
    background: #fff url(../img/d.png) no-repeat 12px center;
}

.login_form_pw2 span {
    display: block;
    position: absolute;
    right: 50px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.login li.login_form_btn img {
    margin-right: 23px;
}

.login li.login_form_play img {
    width: 253px;
}

.login li.login_form_play_btn span {
    display: inline-block;
    width: 253px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border-radius: 5px;
    background: #d30000;
    color: #fff;
    margin-right: 23px;
    font-size: 16px;
}

.login li.login_form_play_btn:hover span {
    background: #eb7a00;
}

.login li input.login_btn {
    display: inline-block;
    width: 112px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border-radius: 5px;
    background: #eb7a00;
    color: #fff;
    margin-right: 23px;
    font-size: 16px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

.login li input.login_btn:hover {
    background: red;
}

.login li span.login_reg {
    display: inline-block;
    width: 112px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border-radius: 5px;
    background: #0085b7;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
}

.login span.login_reg:hover {
    background: red;
}

.login li.login_top {
    padding-top: 30px;
}

.login li.login_top span {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.login li.login_top em {
    background: #fff100;
    border-radius: 15px;
    display: block;
    float: right;
    padding: 5px 20px;
    margin-right: 28px;
    cursor: pointer;
}

.login li.login_top em:hover {
    background: red;
    color: #fff;
}



/*car_box*/

.car_box {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.car_box_in {
    position: relative;
}

.car1 {
    position: absolute;
    z-index: 10;
    left: 30%;
    left: calc(40% - 509px);
    top: 3.5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    margin-left: -2rem;
    margin-top: -2rem;
}

.car1_move {
    animation: mycar1 .9s cubic-bezier(.5, 0, .8, 1) 0s;
    -webkit-animation: mycar1 .9s cubic-bezier(.5, 0, .8, 1) 0s;
}

.car1_light {
    position: absolute;
    left: 2.9rem;
    bottom: 1.65rem;
    z-index: 99999;
}

.car1_light img {
    width: 3.75rem;
    height: 1.24rem;
}

.car1_box {
    position: relative;
}

.car1-smoke {
    position: absolute;
    left: -2.20rem;
    bottom: -0.5rem;
    display: none;
}

.car1-smoke img {
    width: 6.47rem;
    height: 4.11rem;

    width: 7.99rem;
    height: 4.02rem;
}

.car1 i img {
    width: 7.99rem;
    height: 4.02rem;
    /*
    width: 799px;
    height: 402px;
    */
}

.car2 {
    position: absolute;
    z-index: 9;
    top: 3.8rem;
    left: calc(50% - 30px);

    padding-left: 2rem;
    padding-top: 2rem;
    margin-left: -2rem;
    margin-top: -2rem;
}

.car2_move {
    animation: mycar2 .9s cubic-bezier(.5, 0, .8, 1) 0s;
    -webkit-animation: mycar2 .9s cubic-bezier(.5, 0, .8, 1) 0s;
}

.car2 img {
    width: 4.04rem;
    height: 1.89rem;

    width: 400px;
    height: 187px;
}

.daili {
    background-color: #992a2c;
    color: #FFFFFF;
    padding: 0px 15px
}



/*
@keyframes mycar1{0%{transform:translate(0px,-2.5rem) scale(.05);opacity:.7}100%{opacity:1;transform:translate(0) scale(1)}}

@-moz-keyframes mycar1{0%{-moz-transform:translate(0px,-2.5rem) scale(.05);opacity:.7}100%{opacity:1;-moz-transform:translate(0) scale(1)}}

@-webkit-keyframes mycar1{0%{-webkit-transform:translate(0px,-2.5rem) scale(.05);opacity:.7}100%{opacity:1;-webkit-transform:translate(0) scale(1)}}


@keyframes mycar2{0%{transform:translate(-1rem,-0.6rem) scale(.05);opacity:.7}100%{opacity:1;transform:translate(0) scale(1)}}

@-moz-keyframes mycar2{0%{-moz-transform:translate(-1rem,-0.6rem) scale(.05);opacity:.7}100%{opacity:1;-moz-transform:translate(0) scale(1)}}

@-webkit-keyframes mycar2{0%{-webkit-transform:translate(-1rem,-0.6rem) scale(.05);opacity:.7}100%{opacity:1;-webkit-transform:translate(0) scale(1)}}
*/


/*
@media all and (max-width: 1600px) {
    @keyframes mycar1{0%{transform:translate(0px,-1.8rem) scale(.05);opacity:.7}100%{opacity:1;transform:translate(0) scale(1)}}

    @-moz-keyframes mycar1{0%{-moz-transform:translate(0px,-1.8rem) scale(.05);opacity:.7}100%{opacity:1;-moz-transform:translate(0) scale(1)}}

    @-webkit-keyframes mycar1{0%{-webkit-transform:translate(0px,-1.8rem) scale(.05);opacity:.7}100%{opacity:1;-webkit-transform:translate(0) scale(1)}}


    @keyframes mycar2{0%{transform:translate(-1rem,-0.4rem) scale(.05);opacity:.7}100%{opacity:1;transform:translate(0) scale(1)}}

    @-moz-keyframes mycar2{0%{-moz-transform:translate(-1rem,-0.4rem) scale(.05);opacity:.7}100%{opacity:1;-moz-transform:translate(0) scale(1)}}

    @-webkit-keyframes mycar2{0%{-webkit-transform:translate(-1rem,-0.4rem) scale(.05);opacity:.7}100%{opacity:1;-webkit-transform:translate(0) scale(1)}}

}
*/

@keyframes mycar1 {
    0% {
        transform: translate(-1rem, -0.5rem) scale(1);
        opacity: 1
    }
    100% {
        opacity: 1;
        transform: translate(100%, 100%) scale(2)
    }
}

@-moz-keyframes mycar1 {
    0% {
        -moz-transform: translate(0px) scale(1);
        opacity: 1
    }
    100% {
        opacity: 1;
        -moz-transform: translate(100%, 100%) scale(2)
    }
}

@-webkit-keyframes mycar1 {
    0% {
        -webkit-transform: translate(-1rem, -0.5rem) scale(1);
        opacity: 1
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(10000px, 10000px) scale(2)
    }
}


@keyframes mycar2 {
    0% {
        transform: translate(-1rem, -0.6rem) scale(1);
        opacity: 1
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(200%, 200%) scale(2)
    }
}

@-moz-keyframes mycar2 {
    0% {
        -moz-transform: translate(-1rem, -0.6rem) scale(1);
        opacity: 1
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(200%, 200%) scale(2)
    }
}

@-webkit-keyframes mycar2 {
    0% {
        -webkit-transform: translate(-1rem, -0.6rem) scale(1);
        opacity: 1
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(200%, 200%) scale(2)
    }
}

#smokeCanvas {
    position: absolute;
    z-index: 11;
    left: 30%;
    left: calc(0% - 0px);
    top: 0.5rem;

    height: 7rem;
    height: 100%;
    width: 100%;

    opacity: 0;
}



/*
#smokeCanvas {
    position: fixed;
    z-index: 11;
    left: 30%;
    left: calc(0% - 0px);
    bottom: 0rem;

    height: 7rem;
    height: 100%;
    width: 100%;
}
*/

.hide {
    display: none;
}



.banner .flexslider {
    position: relative;
    height: 327px;
    overflow: hidden;
    background: url(../images/loading.gif) 50% no-repeat;
    overflow: hidden;
    width: 595px;
    margin: 0px auto;
}


.banner .slides li {
    height: 327px;
}

.banner .flex-control-nav {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.banner .flex-control-nav li {
    display: inline-block;
    width: 20px;
    height: 4px;
    margin: 0 5px;
    zoom: 1;
}

.kf_t {
    width: 119px;
    background: url(../img/float/v_pic.png) center top no-repeat;
    text-align: center;
    position: fixed;
    left: 53%;
    margin-left: 500px;
    top: 180px;
    z-index: 99999;
}

.kf_t div {
    margin-top: 4px;
}
