@import 'reset';

body {
    background: #e7e7e7;
    min-width: 1180px;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #FFF;
    &:hover {
        color: #DDD;
    }
}
input, select {
    outline: none;
}
.hide {
    display: none;
}
.fl { float: left; }
.fr { float: right; }
.tc { text-align: center; }
.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}


.fwb {
    font-weight: bold;
}

.mgr5 {
    margin-right: 5px;
}

.mgb5 {
    margin-bottom: 5px;
}

.mgb10 {
    margin-bottom: 10px;
}

.mgb15 {
    margin-bottom: 15px;
}

.mgb20 {
    margin-bottom: 20px;
}



.wrapper {
    width: 1180px; margin: 0 auto;
    position: relative;
}

.icon {
    display: inline-block;
    background: url(../images/sprite.png) no-repeat;
    vertical-align: middle;
}
.icon-user {
    background-position: -10px -220px;
    width: 20px; height: 20px;
}
.icon-pw {
    background-position: -50px -220px;
    width: 20px; height: 20px;
}
.icon-dot {
    background-position: -10px -357px;
    width: 36px; height: 36px;
}
.icon-arrow {
    background-position: -50px -360px;
    width: 30px; height: 37px;
}
.icon-notice {
    background-position: -258px -357px;
    width: 30px; height: 30px;
}


.Btn {
    display: inline-block;
    background-image: url(../images/sprite.png) !important;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}



.top {
    background: rgba(0, 79, 167, 0.9);
    height: 42px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .links {
        float: left;
        padding-top: 15px;
        color: #FFF;
        font-size: 14px;
        a, span {
            display: inline-block;
        }
        a {
            padding: 0 4px;
        }
    }
    .login {
        float: right;
        padding-top: 6px;
        font-size: 14px;
        span, a {
            color: #FFF;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
        input {
            display: inline-block;
            background: none;
            border: none;
            vertical-align: middle;
        }
        .input {
            margin-right: 5px;
            background: #FFF;
            border-radius: 3px;
            padding: 3px;
            input {
                height: 22px;
                font-size: 13px;
                width: 136px;
                padding-left: 2px;
            }
            .code {
                width: 68px;
            }
        }
        .login-btn {
            display: inline-block;
            background: #f08300;
            font-size: 16px;
            padding: 5px 14px;
            border-radius: 3px;
            color: #FFF;
            cursor: pointer;
            &:hover {
                background: #C96800;
            }
        }
        .forget {
            font-size: 12px;
            margin-left: 5px;
            a {
                color: #EEE;
            }
        }
        .vcode {
            color: #000; margin-right: 5px;
        }
    }
}

@keyframes blink {  
    0% { color: #272536; }
    50% { color: #ff0000; }
    100% { color: #272536; }
}

@keyframes blink2 {  
    0% { color: #fff; }
    50% { color: #ff0000; }
    100% { color: #fff; }
}

.header {
    overflow: hidden;
    margin-bottom: 3px;
    position: fixed;
    top: 42px;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    background: #e7e7e7;
    border-bottom: 1px solid #CCC;
    .logo {
        float: left;
        margin-top: -7px;
    }
    .nav {
        margin-left: 315px;
        ul {
            list-style: none;
        }
        li {
            float: left; height: 78px; width: 98px;
            text-align: center;
            border-left: 1px solid #adacac;
            line-height: 2.2;
            &:last-child {
                border-right: 1px solid #adacac;
            }
            a {
                color: #272536;
                display: inline-block;
                margin-top: 8px;
                position: relative;
                .icon-hot {
                    position: absolute;
                    width: 17px; height: 17px;
                    right: -17px; bottom: 11px;
                    background-position: -89px -221px;
                }
            }
            .txt-blink {
                animation: blink 1s infinite step-start;
            }
            .icon {
                width: 32px; height: 32px; margin-left: 2px;
            }
            .icon-home {
                background-position: 0 0;
            }
            .icon-reg {
                background-position: -66px 0;
            }
            .icon-money {
                background-position: -131px 0;
            }
            .icon-activity {
                background-position: -198px 0;
            }
            .icon-dl {
                background-position: -263px 0;
            }
            .icon-try {
                background-position: -330px 0;
            }
            .icon-agent {
                background-position: -395px 0;
            }


            &.active, &:hover {
                a {
                    color: #f08300;
                }
                .icon-home {
                    background-position: 0 -40px;
                }
                .icon-reg {
                    background-position: -66px -40px;
                }
                .icon-money {
                    background-position: -131px -40px;
                }
                .icon-activity {
                    background-position: -198px -40px;
                }
                .icon-dl {
                    background-position: -263px -40px;
                }
                .icon-try {
                    background-position: -330px -40px;
                }
                .icon-agent {
                    background-position: -395px -40px;
                }
            }
        }
        
    }
    .actions {
        float: right; overflow: hidden;
        padding-top: 2px;
        .lnk {
            display: block;
            background: url(../images/sprite.png) no-repeat;
            width: 106px; height: 32px;
            margin-bottom: 8px;
            
        }
        .lnk-reg {
            background-position: -10px -160px;
            &:hover {
                background-position: -380px -370px;
            }
        }
        .lnk-kf {
            background-position: -163px -160px;
            &:hover {
                background-position: -500px -370px;
            }
        }
    }
}
.header-padding {
    height: 157px;
}

.lb {
    overflow: hidden;
    position: relative;
    height: 419px;
    .wrap {
        position: absolute;
        left: 50%;
        margin-left: -960px;
        width: 1920px;
        overflow: hidden;
        ul {
            margin: 0; padding: 0;
        }
        ul li {
            float: left;
            height: 419px;
        }
        .dots {
            position: absolute;
            right: 368px;
            bottom: 40px;
            z-index: 4;
            text-align: center;
        }
        .dot {
            display: inline-block;
            height: 10px;
            width: 10px;
            margin: 0 3px;
            border-radius: 6px;
            cursor: pointer;
            background: #999;
            transition: all .5s;
            -webkit-transition: all .5s;
            box-shadow: 0 1px 2px #555 inset;
        }
        .dot {
            *display: inline;
        }
        .dots li.active {
            background: #fff;
        }
    }
    .arrows {
        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            font-size: 50px;
            line-height: 70px;
            color: #333;
            background: rgba(200, 200, 200, 0.4);
            border-radius: 3px;
            cursor: pointer;
            &.prev {
                margin-left: -650px;
            }
            &.next {
                margin-left: 650px;
                color: #444;
            }

        }
    }
}

.radio {
    height: 46px; 
    line-height: 46px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    color: #FFF;
    .ttl {
        font-size: 18px;
        float: left;
    }
    .content {
        margin-left: 110px;
        color: #fff;
        marquee {
            width: 100%;
        }
    }
}

.games {
    .ttl {
        display: inline-block;
        width: 420px; height: 60px;
        background: url(../images/sprite.png) no-repeat;
        background-position: 0 -90px;
        margin-top: 45px; margin-bottom: 35px;
    }
    .container {
        text-align: justify;
        .jfix {
            display: inline-block;
            width: 100%;
        }
        .item {
            display: inline-block;
            width: 220px; height: 230px;
            box-shadow: 0 0 8px 2px #AAA;
            background-color: #FFF;
            box-sizing: border-box;
            text-align: center;
            padding: 6px;
            vertical-align: top;
            color: #454545;
            transition: background-color linear .1s;
            .imgwrap {
                width: 100%;
                height: 170px;
                overflow: hidden;
                position: relative;
                .tj {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.6);
                    box-sizing: border-box;
                    padding-top: 60px;
                    .t-pl {
                        font-size: 20px;
                        color: #FFF;
                        margin-bottom: 15px;
                    }
                    .tj-btn {
                        display: inline-block;
                        background: #f08300;
                        color: #FFF;
                        font-size: 16px;
                        padding: 3px 10px;
                    }
                }
            }
            img {
                display: block;
                width: 103%;
                transition: transform ease-out .8s;
            }
            &:hover {
                .imgwrap {
                    .tj {
                        display: block;
                    }
                }
                background-color: #004fa7;
                .t-name {
                    color: #FFF;
                }
                .t-desc {
                    color: #FFF;
                }
                img {
                    transform: scale(1.1);
                }
            }
            p {
                margin: 0;
                padding-top: 4px;
            }
            .t-name {
                font-size: 20px;
            }
            .t-desc {
                font-size: 14px;
            }
        }
    }
}

.entries {
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 20px;
    .item {
        float: left;
    }
    .app {
        width: 265px; height: 360px;
        background: url(../images/app_bg.png);
        position: relative;
        .code {
            width: 120px; height: 120px;
            position: absolute;
            top: 170px;
            img {
                display: block;
                width: 100%;
            }
        }
        .code-ios {
            left: 5px;
        }
        .code-android {
            left: 144px;
        }
        .lnk {
            display: block;
            width: 128px; height: 36px;
            position: absolute;
            top: 318px;
        }
        .lnk-ios {
            left: 0
        }
        .lnk-android {
            left: 138px;
        }
    }
    .platform {
        width: 477px; height: 360px;
        background: url(../images/platform.jpg);
        position: relative;
        margin-left: 68px;
        .lnk {
            display: block;
            width: 77px; height: 77px;
            position: absolute;
            text-align: center;
            font-size: 18px;
            box-sizing: border-box;
            padding-top: 20px;
        }
        .lnk-ch {
            top: 90px; left: 45px;
        }
        .lnk-about {
            top: 90px; left: 343px;
        }
        .lnk-wd {
            top: 174px; left: 6px;
        }
        .lnk-faq {
            top: 175px; left: 395px;
        }
        .lnk-contact {
            top: 263px; left: 51px;
        }
        .lnk-activity {
            top: 245px; left: 330px;
        }
    }
    .guard {
        width: 315px; height: 360px;
        background: url(../images/guard.jpg);
        margin-left: 55px;
    }
}

.adv {
    background: #00417b;
    .inner {
        height: 343px;
        background: url(../images/greates.png) no-repeat;
    }
    padding-bottom: 30px;
}

.page-banner {
    height: 224px;
    position: relative;
    overflow: hidden;
    .inner {
        position: absolute;
        left: 50%;
        width: 1920px;
        margin-left: -960px;
    }
    .radio {
        bottom: auto;
        top: 0;
    }
}

.page {
    .wrapper {
        width: 860px;
    }
    .menu {
        overflow: hidden;
        text-align: center;
        
        .inner {
            border-bottom: 1px solid #878787;
            margin-bottom: 10px;
        }
        ul {
            margin: 0; padding: 30px 0;
        }
        li {
            display: inline-block;
            margin: 0 33px;
            text-align: center;
            
            a {
                color: #000;
            }

            &.active, &:hover {
                a {
                    color: #002c5d;
                }
                .figure {
                    background: #002c5d;
                }
            }
        }
        .figure {
            width: 100px; height: 100px;
            background: #004fa7;
            display: block;
            line-height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
            .icon {
                width: 64px; height: 64px;
            }
            .icon-charge {
                background-position: -5px -285px;
            }
            .icon-withdraw {
                background-position: -77px -283px;
            }
            .icon-about {
                background-position: -150px -283px;
            }
            .icon-faq {
                background-position: -225px -286px;
            }
            .icon-contact {
                background-position: -303px -282px;
            }
            .icon-coop {
                background-position: -119px -209px;
            }
            .icon-aggrement {
                background-position: -198px -213px;
            }
            .icon-link {
                background-position: -263px -213px;
            }
            .icon-reg {
                background-position: -332px -215px;
            }
            .icon-login {
                background-position: -408px -217px;
            }
        }
    }
}

.reg {
    margin-left: 150px;
    overflow: hidden;
    .ttl {
        font-weight: bold;
        color: #f96900;
        font-size: 20px;
        margin: 30px 0 38px 0;
    }
    .row {
        margin-bottom: 20px;
        clear: both;
        line-height: 35px;
        position: relative;
    }
    .input {
        display: inline-block;
        background: #FFF;
        border: 1px solid #6d6d6d;
        vertical-align: middle;
        margin-right: 20px;
        margin-left: 10px;
        
    }
    .ipt {
        display: inline-block;
        margin-right: 20px;
        margin-left: 10px;
        select {
            margin-right: 6px;
            height: 36px;
            width: 59px;
            border: 1px solid #fff;
            padding: 8px 0 8px 7px;
        }
    }
    input {

        border: none;
        background: none;
        padding: 3px 10px;
        width: 190px;
    }
    label {
        width: 105px; text-align: right;
        color: #000; font-size: 16px;
        float: left;
    }

    .t-rule {
        font-size: 14px; color: #7d7d7d;
    }

    .Btn {
        width: 135px; height: 35px;
    }

    .btn-login {
        background-position: -290px -160px;
    }
    
    .btn-reg {
        background-position: -440px -160px;
    }
    .RBtn {
        display: inline-block;
        background: #f08300;
        font-size: 16px;
        padding: 10px 14px;
        border-radius: 3px;
        color: #FFF;
        cursor: pointer;
        &:hover {
            background: #C96800;
        }
    }

    .actions {
        margin-left: 113px; padding-top: 10px;
        padding-bottom: 15px;
        input, span, a {
            vertical-align: middle;
        }
        .t-home {
            color: #d70000; display: inline-block;
            vertical-align: middle;
            margin-left: 30px;
            margin-right: 30px;
        }
    }
    
}

.float-nav {
    position: absolute;
    top: 420px; 
    opacity: 0.95;
    margin-top: 210px;
    margin-right: 40px;
    &.type-fixed {
        top: 415px;
        position: fixed;
    }
    .item {
        box-sizing: border-box;
        display: block;
        text-align: center;
        line-height: 40px;
        font-size: 32px;
        width: 47px; height: 47px; border: 2px solid #e0dfde;
        background: #FFF;
        color: #97958c;
        margin-bottom: 10px;
        .text {
            display: none;
        }
        &:hover {
            background: #F0F0F0;
            line-height: 18px;
            font-size: 16px;
            padding-top: 5px;
            .figure {
                display: none;
            }
            .text {
                display: block;
            }
            .close-txt {
                line-height: 40px;
            }
        }
    }
    .close-txt {
        font-size: 16px;
        position: relative;
        top: -3px;
        display: inline-block;
    }
}

.promo {
    padding-top: 30px;
    .types {
        margin-left: 50px;
        .item {
            width: 65px; height: 65px;
            background: #004fa7;
            border-radius: 50%;
            line-height: 65px;
            text-align: center;
            margin-right: 50px;
            float: left;
            box-shadow: 0 0 3px 2px #AAA;
            &.active {
                transform: scale(1.1);
                margin-right: 50px;
            }
            
        }
    }
    .promos {
        .item {
            border-left: 2px solid #004fa7;
            margin-left: 120px;
            padding-top: 40px;
            padding-bottom: 40px;
            position: relative;
            padding-left: 65px;
            &:first-child {
                padding-top: 80px;
            }
        }
        .arrow {
            position: absolute;

        }
        .inner {
            width: 755px;
            box-sizing: border-box;
            background: url(../images/activity_m.png) repeat-y;
            position: relative;
            min-height: 50px;
            padding: 0 30px;

            &:before {
                content: '';
                width: 100%;
                position: absolute;
                height: 38px;
                top: -38px;
                left: 0;
                background: url(../images/activity_h.png);
            }
            &:after {
                content: '';
                width: 100%;
                position: absolute;
                height: 39px;
                bottom: -39px;
                left: 0;
                background: url(../images/activity_l.png);
            }

            .meta {
                position: absolute;
                left: -84px; top: 10px;
                background: url(../images/sprite.png);
                background-position: -10px -357px;
                width: 36px; height: 36px;
                &:before {
                    content: '';
                    width: 30px; height: 60px;
                    background: url(../images/sprite.png) -50px -367px;
                    position: absolute;
                    top: -5px;
                    left: 69px;
                }
                .time {
                    width: 94px; height: 33px;
                    background: url(../images/sprite.png) -110px -361px;
                    position: absolute;
                    color: #FFF;
                    text-align: center;
                    line-height: 33px;
                    right: 35px; bottom: 23px;
                }
            }
        }
    }
}

  
 .acttext {
    margin: 12px 0 0 20px;
    padding: 30px 50px;
    position: relative; 
    .tit {
        font-size: 24px;
        color: #e80000;
        margin-bottom: 30px;
        text-align: center; }

    .text {
    line-height: 28px; }

    table {
        text-align: center; 
        border-collapse: collapse;
    }
     table td {
          border: 1px solid #004fa7; padding: 10px; }
     table th {
          border: 1px solid #004fa7; }
}


.article {
    line-height: 1.5;
    margin-bottom: 60px;

    a {
        color: #004fa7;
        &:hover {
            color: #003975;
        }
    }
    
    .ttl {
        font-size: 22px; color: #004fa7;
        font-weight: bold;
        text-align: center;
    }


}

.appdownload {
    .lay-frame {
        width: 412px; height: 478px;
        position: absolute;
        top: 85px; left: 680px;
    }
    .code {
        width: 120px; height: 120px;
        position: absolute;
        top: 297px;
        img {
            display: block;
            width: 100%;
        }
    }
    .code-ios {
        left: 74px;
    }
    .code-android {
        left: 220px;
    }
}

.footer {
    background: #2161b3;
    padding-top: 20px;
    overflow: hidden;
    box-sizing: border-box;
    height: 140px;
    .section {
        width: 49%;
        &:first-child {
            border-right: 1px solid #002140;
        }
        float: left;
        text-align: center;
        padding-top: 5px;
    }
    .bank {
        display: inline-block;
        font-weight: bold;
        color: #FFF;
        p { margin: 0; margin-bottom: 3px; }
        .t1 {
            font-size: 19px;
        }
        .t2 {
            font-size: 16px;
        }
    }
    .browser {
        display: inline-block;
        font-size: 16px;
        color: #FFF;
        text-align: left;
    }
    .copyright {
        clear: both;
        text-align: center;
        padding-top: 25px;
        color: #FFF;
    }
}

.imgCode{
    position: absolute;
    left: 254px;
    top: 4px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}