body,
div,
span,
object,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
}

input,
select {
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    outline: none;
    border: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

select {
    // -webkit-appearance: none;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // outline: none;
}

fieldset,
img {
    border: 0;
    display: block;
}

address,
code,
caption,
th,
cite,
dfn,
em,
var {
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

q:before,
q:after {
    content: "";
}

legend {
    display: none;
}

a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}

a:hover {
    //text-decoration: underline;
}

//float
.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

html,
body {
    min-width: 1024px;
    font-size: 12px;
    position: relative;
    font-family: 'Microsoft YaHei', Arial, 'Times New Roman', SimHei, Helvetica, sans-serif;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f21 {
    font-size: 21px;
}

.f24 {
    font-size: 24px;
}

.f28 {
    font-size: 28px;
}

.f26 {
    font-size: 26px;
}

.f30 {
    font-size: 30px;
}

.f40 {
    font-size: 40px;
}

.f50 {
    font-size: 50px;
}

.f60 {
    font-size: 60px;
}

.fwb {
    font-weight: bold;
}

.fwn {
    font-weight: normal;
}

.tul {
    text-decoration: underline;
}

//margin
.nomg {
    margin: 0;
}

.mgr5 {
    margin-right: 5px;
}

.mgb5 {
    margin-bottom: 5px;
}

.mgb10 {
    margin-bottom: 10px;
}

.mgb12 {
    margin-bottom: 12px;
}

.mgb15 {
    margin-bottom: 15px;
}

.mgb25 {
    margin-bottom: 25px;
}

.mgb30 {
    margin-bottom: 30px;
}

.mgb37 {
    margin-bottom: 37px;
}

.mgt30 {
    margin-top: 30px;
}

.mgt10 {
    margin-top: 10px;
}

.mgt5 {
    margin-top: 5px;
}

.mgr10 {
    margin-right: 10px;
}

//display
.hide {
    display: none;
}

.show {
    display: block;
}

//color
.cyl {
    color: #ffe14b!important;
}

.cy2 {
    color: #ffc600!important;
}

.cyl2 {
    color: #ffff00;
}

.cyl3 {
    color: #f0e091;
}

.cf {
    color: #fff;
}

.cf7 {
    color: #f7f76f;
}

.cred {
    color: red!important;
}

.cy3 {
    color: #feea8b!important;
}

.c3 {
    color: #333;
}

.c6 {
    color: #666;
}

//z-index
.z3 {
    z-index: 3;
}

.z2 {
    z-index: 2;
}

.z1 {
    z-index: 1;
}

//
i {
    display: inline-block;
}

i {
    *display: inline;
}

@mixin icons_login {
    background: url(../img/icons_login.png)no-repeat;
}

@mixin btns {
    background: url(../img/btns.png)no-repeat;
}

//main
.container {
    width: 1019px;
    margin: 0 auto;
    position: relative;
}

.index {
    height: 100%;
    body {
        background: url(../img/bg.jpg) no-repeat top;
        background-size: auto 900px;
        height: 100%;
        min-height: 600px;
    }
    .logo {
        margin-top: 18px;
    }
    .footer {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.reg {
    body {
        background: url(../img/bg_reg.jpg) no-repeat top;
        background-size: auto 900px;
    }
    .logo {
        width: 370px;
        margin: 20px auto 50px;
    }
    .footer {
        margin: 20px;
        img {
            margin: 0 auto;
        }
    }
}

.header {
    height: 134px;
    .btns {
        margin-top: 36px;
        a {
            @include btns;
            width: 168px;
            height: 63px;
            float: left;
            margin-left: 40px;
            &:hover {
                opacity: .8;
            }
        }
        .b1 {
            background-position-x: 0;
        }
        .b2 {
            background-position-x: -206px;
        }
        .b3 {
            background-position-x: -411px;
        }
    }
}

.radio {
    height: 32px;
    background: rgba(0, 0, 0, .3);
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    .tit {
        height: 32px;
        width: 32px;
        display: inline-block;
        background: url(../img/radio.png) center no-repeat;
    }
    marquee {
        width: 980px;
    }
}

.lgbox {
    width: 238px;
    height: 282px;
    padding: 24px 36px;
    background: rgba(0, 0, 0, .3);
    border: 1px solid #000;
    position: absolute;
    right: 0;
    top: 60px;
    .tit {
        margin-bottom: 20px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        letter-spacing: 2px;
    }
    .iptwrap {
        margin-bottom: 13px;
        height: 24px;
        background: #fff;
        border-radius: 3px;
        padding: 7px 3px;
        position: relative;
    }
    label {
        display: inline-block;
        width: 35px;
        height: 24px;
        vertical-align: middle;
        @include icons_login;
        cursor: pointer;
    }
    input[type="text"],
    input[type="password"] {
        display: inline-block;
        height: 24px;
        color: #000;
        padding: 0 5px;
        width: 186px;
        border-left: 1px solid #ccc;
    }
    .u1 {
        background-position: 7px 0;
    }
    .u2 {
        background-position: 7px -50px;
    }
    .u3 {
        background-position: 7px -100px;
    }
    .numcode {
        position: absolute;
        right: 20px;
        top: 12px;
        font-size: 16px;
        cursor: pointer;
    }
    .btnwrap {
        margin-top: 20px;
        input {
            width: 100%;
            height: 37px;
            border-radius: 3px;
            background: #f50000;
            font-size: 20px;
            &:hover {
                opacity: .9;
            }
        }
    }
}

.regbox {
    width: 853-88px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #90c1c7;
    margin: 0 auto;
    padding: 14px 44px 25px;
    .tit {
        line-height: 58px;
        font-size: 25px;
        color: #0066c5;
        font-weight: bold;
    }
    input[type="text"],
    input[type="password"] {
        background: #cbcaca;
        height: 20px;
        width: 256px;
        padding: 7px 5px;
        color: #000;
    }
    select {
        background: #cbcaca;
        width: 45px;
        height: 28px;
        margin-right: 10px;
        padding: 5px;
        color: #000;
    }
    li {
        margin-bottom: 20px;
        &>div {
            display: inline-block;
        }
    }
    .typename {
        width: 82px;
        text-align: right;
        font-size: 15px;
    }
    .hint {
        color: #ff0000;
        font-size: 13px;
        margin-left: 5px;
    }
    .sel {
        width: 266px;
    }
    .ipt {
        position: relative;
    }
    .imgCode {
        position: absolute;
        left: 274px;
        top: 8px;
        width: 78px;
        height: 26px;
        cursor: pointer;
    }
    .btns {
        margin: 40px 0 0 84px;
        input,
        a {
            height: 39px;
            width: 227px;
            border-radius: 5px;
            line-height: 39px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            &:hover {
                opacity: .9;
            }
        }
        input {
            background: #0055a4;
            margin-right: 25px;
        }
        a {
            background: #f08200;
        }
    }
}


.footer {
    color: #fff;
    text-align: center;
    font-size: 14px;
    p {
        line-height: 24px;
    }
}

.float {
    width: 178px;
    height: 464px;
    background: url(../img/float.png) center no-repeat;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    a,
    img {
        position: absolute;
    }
    .appewm {
        width: 99px;
        height: 99px;
        top: 228px;
        left: 24px;
    }
    .onlineservice {
        width: 108px;
        height: 28px;
        top: 372px;
        left: 18px;
    }
    .qqservice {
        width: 108px;
        height: 28px;
        top: 404px;
        left: 18px;
    }
    .close {
        width: 60px;
        height: 22px;
        top: 445px;
        left: 44px;
    }
}