@charset "utf-8";


/* CSS Document */

body {
    font: 12px/1.5 "Microsoft YaHei", arial, simsun, sans-serif;
    color: #000;
    margin: 0 auto;
    padding: 0;
    min-width: 1100px;
}



/*链接整体设置*/

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #0f62b3;
}

a:active {
    color: #000;
}

a {
    blr: expression(this.onFocus=this.close());
}

a {
    blr: expression(this.onFocus=this.blur());
}

a:focus,
input:focus,
button:focus,
textarea:focus {
    -moz-outline-style: none;
    outline: none;
}



/*公用样式*/

div,
table,
tr,
td,
img,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
i,
font,
span,
dl,
dt,
dd,
form,
textarea,
input,
select {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: normal;
    font-family: "Microsoft YaHei";
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

img {
    border: none;
    -ms-interpolation-mode: bicubic;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.clear0 {
    clear: both;
    font-size: 0px;
    height: 0px;
    overflow: hidden;
}

.hidden {
    display: none;
}

.hide{
    display:none;
}

.wrap {
    width: 100%;
}



/*header*********************************************************************/

.header {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #fff;
    height: 68px;
    overflow: hidden;
    background: #404040;
}

.head {
    width: 1100px;
    margin: 0 auto;
}

.logo {
    width: 320px;
    padding-top: 5px;
}

.logo a {
    display: inline-block;
}

.hrt {
    width: 750px;
    text-align: right;
    padding-top: 21px;
}

.hrt a {
    color: #fff;
    background: #1f3fff;
    display: inline-block;
    font-size: 15px;
    border-radius: 1000px;
    margin-left: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 23px;
}

.hrt a.a1 {
    background: #ff4c00;
}

.hrt a.a2 {
    background: #5ab3ff;
}

.hrt a:hover {
    background: #0322de;
}

.hrt a.a1:hover {
    background: #ce3f02;
}

.hrt a.a2:hover {
    background: #046cc4;
}

.con2 {
    background: url(../img/bg1.jpg) top center no-repeat;
    height: 476px;
}

.con2c {
    width: 1100px;
    margin: 0 auto;
}

.login {
    width: 240px;
    padding: 0 36px 0 824px;
    height: 310px;
}

.login h3 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    height: 75px;
    line-height: 75px;
}

.login ul li {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.login ul li i {
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    display: inline-block;
    height: 38px;
    background: url(../img/ico.png) 0 -106px no-repeat;
}

.login ul li i.i1 {
    background: url(../img/ico.png) 0 0 no-repeat;
}

.login ul li i.i2 {
    background: url(../img/ico.png) 0 -52px no-repeat;
}

.login ul li .yzm {
    position: absolute;
    right: 9px;
    top: 5px;
    cursor: pointer;
    font-size: 18px;
}

.intxt {
    height: 38px;
    line-height: 38px;
    border-radius: 2px;
    background: #fff;
    width: 192px;
    border: none;
    font-size: 13px;
    padding-left: 48px;
}

.inbut {
    color: #fff;
    border-radius: 2px;
    font-size: 20px;
    width: 240px;
    border: none;
    cursor: pointer;
    background: #f50000;
    height: 38px;
    line-height: 38px;
}

.inbut:hover {
    color: #fff;
    background: #b80303;
}

.notice {
    width: 272px;
    padding: 4px 20px 0 20px;
}

.notice h3 {
    text-align: center;
    font-size: 14px;
    color: #e72f0b;
    line-height: 30px;
}

.notice p {
    line-height: 21px;
    height: 126px;
    overflow: hidden;
}

.regc {
    background: url(../img/bg2.jpg) top center no-repeat #000;
    padding-bottom: 30px;
}

.reg {
    width: 650px;
    margin: 0 auto;
}

.reg h3 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    height: 125px;
    line-height: 125px;
}

.reg ul li {
    margin-bottom: 30px;
    position: relative;
    padding-left: 82px;
    line-height: 34px;
}

.reg .sel {
    width: 265px;
    display: inline-block;
}

.reg .sel select{
    width:50px;
    height:30px;
    margin-right:10px;
}

.reg ul li em {
    font-size: 15px;
    display: inline-block;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    text-align: right;
}

.reg ul li span {
    color: #ffdf4c;
    font-size: 13px;
    padding-left: 12px;
}

.reg ul li .yzm {
    position: absolute;
    top: 8px;
    left: 277px;
    cursor: pointer;
}

.r_intxt {
    background: #fff;
    border: none;
    height: 34px;
    font-size: 15px;
    padding: 0 15px;
    width: 235px;
}

.r_inbut {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    background: #f50000;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    width: 125px;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
    border: none;
}

.r_inbut.r_inbut1 {
    background: #306aff;
}

.r_inbut:hover {
    color: #fff;
    background: #b80303;
}

.r_inbut.r_inbut1:hover {
    color: #fff;
    background: #063ac0;
}

.quality {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
}

.quality li {
    width: 275px;
    float: left;
    text-align: center;
    line-height: 33px;
}

.quality li img {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.quality li h3 {
    font-size: 18px;
    color: #666;
    font-weight: bold;
    padding-top: 13px;
}

.quality li p {
    font-size: 15px;
    color: #666;
}

.line {
    height: 1px;
    overflow: hidden;
    font-size: 0;
    background: url(../img/combo.png) bottom center no-repeat;
}



/*foot style*********************************************************************/

.combo {
    padding: 20px 0 0 0;
    text-align: center;
    background: #fff;
}

.foot {
    padding: 20px 0 25px 0;
    text-align: center;
    line-height: 20px;
    background: #404040;
}

.foot p {
    font-size: 14px;
    padding-top: 5px;
    color: #fff;
}

.security {
    background: url(../img/bg1.png) 40px 25px no-repeat;
    width: 785px;
    overflow: hidden;
    padding-top: 15px;
}

.item {
    width: 370px;
}

.item .thumb {
    width: 155px;
    height: 155px;
    float: left;
    border-radius: 3px;
    overflow: hidden;
}

.item .des {
    padding-left: 165px;
}

.item .des_item_tit {
    color: #ea5504;
    font-size: 14px;
    margin-bottom: 2px;
}

.item .mb30 {
    margin-bottom: 17px;
}

.item .des_item_des {
    height: 24px;
}

.item .des_item_des .fl {
    float: left;
}

.item .des_item_des .fr {
    float: right;
    font-size: 30px;
}

.item .des_item_des span {
    font-size: 15px;
}

.item .des_item_chart {
    border-radius: 4px;
    height: 8px;
    width: 100%;
    background: #959595;
    position: relative;
}

.item .des_item_chart .chart_cur {
    border-radius: 4px;
    height: 8px;
    width: 100%;
    background: #ea5504;
    top: 0;
    left: 0;
    width: 80%;
    position: absolute;
}

.item_right {
    float: right;
}

.login_adv2 {
    background: #fff;
}

.login_adv2 .login_adv2_wrap {
    width: 1160px;
    margin: 0 auto;
    padding: 45px 0;
}

.login_adv2 .item {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.login_adv2 .item .item_tit {
    font-size: 20px;
    color: #343434;
    margin-bottom: 15px;
    line-height: 50px;
}

.login_adv2 .item .item_tit .icon {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    display: inline-block;
    min-resolution: 10px;
}

.login_adv2 .item .item_tit .tit_icon_safe {
    background: url(/img/login_icon.png) no-repeat;
    background-position: 0 0;
}

.login_adv2 .item .item_tit .tit_icon_speed {
    background: url(/img/login_icon.png) no-repeat;
    background-position: -55px 0;
}

.login_adv2 .item .item_tit .tit_icon_more {
    background: url(/img/login_icon.png) no-repeat;
    background-position: -115px 0;
}

.login_adv2 .item .item_des {
    font-size: 14px;
    color: #898989;
    margin-bottom: 25px;
}

.login_adv2 .item .item_links {
    color: #999;
}

.login_adv2 .item .item_links a {
    color: #787878;
}

.login_adv2 .item .item_links a:hover {
    color: #2C313E;
}

.login_adv2 .mr0 {
    margin-right: 0;
}

.imgCode{
    width: 70px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    left: 360px;
    top: 3px;
}