body,
div,
span,
object,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
}

input,
select {
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    outline: none;
    border: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

select {
    /* -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none; */
}

fieldset,
img {
    border: 0;
}

address,
code,
caption,
th,
cite,
dfn,
em,
var {
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

q:before,
q:after {
    content: "";
}

legend {
    display: none;
}

a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}

a:hover {
    /* text-decoration: underline; */
}



/* float */

.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

html,
body {
    min-width: 1046px;
    font-size: 14px;
    font-family: 'Microsoft YaHei', Arial, 'Times New Roman', SimHei, Helvetica, sans-serif;
}

.fl {
    float: left;
}

.fr {
    float: right;
}



/* fontsize */

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f21 {
    font-size: 21px;
}

.f24 {
    font-size: 24px;
}

.f28 {
    font-size: 28px;
}

.f26 {
    font-size: 26px;
}

.f30 {
    font-size: 30px;
}

.f40 {
    font-size: 40px;
}

.f50 {
    font-size: 50px;
}

.f60 {
    font-size: 60px;
}

.fwb {
    font-weight: bold;
}

.fwn {
    font-weight: normal;
}

//margin
.nomg {
    margin: 0;
}

.mgr5 {
    margin-right: 5px;
}

.mgb10 {
    margin-bottom: 10px;
}

//display
.hide {
    display: none;
}

.show {
    display: block;
}

//color
.cyl {
    color: rgb(255, 192, 0);
}

.cyl2 {
    color: #ffff00;
}

.cyl3 {
    color: #f0e091;
}

.cf {
    color: #fff;
}

.cf7 {
    color: #f7f76f;
}

.cred {
    color: red;
}

//container
.container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

// global header
.header {
    height: 120px;
    background: url(../img/header/bg_header.jpg) repeat-x;
    .logo {
        width: 269px;
        height: 103px;
        margin-top: 10px;
    }
    .nav {
        position: absolute;
        right: 0;
        top: 60px;
        li {
            float: left;
            padding-top: 8px;
            margin-left: 5px;
        }
        a {
            color: #fff;
            line-height: 31px;
            text-align: center;
            padding: 0 15px;
        }
        .hot {
            position: relative;
            i {
                position: absolute;
                top: 0px;
                left: 50%;
                display: block;
                width: 21px;
                height: 12px;
                background: url(../img/header/icon_header.png) no-repeat -302px 0;
            }
            a {
                color: #fcff0a;
            }
        }
        .active {
            a {
                color: #000;
                background: url(../img/header/active_nav.png) repeat-x;
                box-shadow: 2px 2px 3px #000;
            }
        }
    }
    .tool-bar {
        font-size: 12px;
        position: absolute;
        right: 5px;
        top: 8px;
        li {
            color: #fff;
            float: left;
            margin-left: 10px;
        }
        a {
            &:hover {
                text-decoration: underline;
                color: #FFCC00;
            }
        }
        .lan {
            a {
                float: left;
                width: 21px;
                height: 15px;
                background: url(../img/header/icon_header.png) no-repeat;
                margin-left: 3px;
            }
            .cn {
                background-position: -323px -50px;
            }
            .hk {
                background-position: -347px -50px;
            }
            .us {
                background-position: -371px -50px;
            }
        }
    }
}

.lgbox {
    height: 46px;
    background: #3700c2;
    text-align: center;
    overflow: hidden;
    .container {
        background: url(../img/header/bg_lgbar.png) no-repeat center;
        height: 100%;
    }
    li {
        float: left;
        line-height: 46px;
        position: relative;
    }
    ul {
        width: 915px;
        margin: 0 auto;
    }
    .tit {
        font-size: 15px;
        margin-right: 6px;
        line-height: 48px;
        color: #fff;
    }
    input[type="text"],
    input[type="password"] {
        width: 150px;
        height: 21px;
        padding: 3px 15px;
        background: url(../img/header/icon_header.png) no-repeat;
        margin-right: 5px;
        color: #000;
    }
    label {
        position: absolute;
        left: 15px;
        top: 2px;
        cursor: text;
    }
    .btn-lg {
        width: 93px;
        height: 38px;
        background: url(../img/header/icon_header.png) no-repeat 0 -49px;
        cursor: pointer;
        margin-top: 1px;
        &:hover {
            background-position-y: -100px;
        }
    }
    .btn-reg {
        width: 117px;
        height: 38px;
        background: url(../img/header/icon_header.png) no-repeat -150px -49px;
        margin: 7px 0 0 -4px;
        &:hover {
            background-position-y: -100px;
        }
    }
    .forget {
        color: #fff;
        text-decoration: underline;
        margin-left: 10px;
        &:hover {
            color: #fc0;
        }
    }
    font {
        position: absolute;
        right: 20px;
        top: 2px;
        cursor: pointer;
        letter-spacing: 1px;
    }
}

.banner-index {
    z-index: 2;
    min-width: 1000px;
    width: 100%;
    position: relative;
    background: #040120;
    .lb-wrap {
        height: 502px;
        overflow: hidden;
        position: relative;
    }
    .lb-index {
        position: absolute;
        left: 50%;
        margin-left: -960px;
        width: 1920px;
        ul li {
            float: left;
            height: 502px;
        }
        .dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 45px;
            z-index: 4;
            text-align: center;
        }
        .dot {
            display: inline-block;
            height: 10px;
            width: 10px;
            margin: 0 3px;
            border-radius: 6px;
            cursor: pointer;
            background: #999;
            transition: all .5s;
            -webkit-transition: all .5s;
            box-shadow: 0 1px 2px #555 inset;
        }
        .dot {
            *display: inline;
        }
        .dots li.active {
            background: #fff;
        }
    }
}

.banner {
    position: relative;
    height: 261px;
    background: url(../img/banner.jpg) no-repeat center #000;
}

.radio {
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    .wrap {
        margin: 0 auto;
        width: 1046px;
        height: 64px;
        background: url(../img/bg_radio.png) no-repeat 0 0;
        position: relative;
    }
    .tit {
        position: absolute;
        left: 110px;
        top: 15px;
        font-size: 14px;
        color: #f9f287;
        i {
            display: inline-block;
            width: 17px;
            height: 15px;
            background: url(../img/bg_radio.png) no-repeat -1101px 0;
            vertical-align: middle;
        }
        i {
            *display: inline;
        }
        span {
            line-height: 17px;
            vertical-align: middle;
        }
    }
    .marquee {
        position: absolute;
        left: 210px;
        top: 16px;
        width: 740px;
        color: #fff;
    }
}

.main-index {
    height: 442px;
    background: url(../img/bg_main.jpg) repeat-x;
    .wrap {
        width: 1033px;
        height: 442px;
        margin: 0 auto;
        position: relative;
        background: url(../img/gamelist/bg_list.png) no-repeat center bottom;
    }
    ul {
        position: absolute;
        bottom: 36px;
        left: 50%;
        margin-left: -506px;
        width: 1012px;
    }
    li {
        float: left;
        text-align: center;
        margin: 0 4px;
    }
    a {
        height: 352px;
        width: 194px;
        position: relative;
        img {
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -112px;
            top: 0;
        }
    }
    span {
        position: absolute;
        font-size: 13px;
        left: 50%;
        margin-left: -48px;
        bottom: 20px;
        color: #fff;
        width: 94px;
        height: 26px;
        display: inline-block;
        line-height: 26px;
        border: 1px solid #fff;
        &:hover {
            color: #fc0;
            border-color: #fc0;
        }
    }
    span {
        *display: inline;
    }
}

.main {
    background: url(../img/bg_main.jpg) repeat-x #02002a;
    padding-bottom: 70px;
    .leftmenu {
        width: 237px;
        background: #1d1663;
        margin-top: 35px;
        padding-bottom: 24px;
        .tit {
            height: 42px;
            color: #040120;
            background: url(../img/icon_leftbar.png) no-repeat 0 0;
            font-size: 24px;
            line-height: 40px;
            font-weight: bold;
            text-align: center;
        }
        ul {
            margin-top: 11px;
        }
        li {
            margin: 0 auto 14px;
            width: 180px;
            height: 62px;
            position: relative;
            a {
                height: 52px;
                width: 100%;
                background: url(../img/icon_leftbar.png) no-repeat;
                position: absolute;
                left: 0;
                top: 5px;
                &:hover {
                    top: 0;
                }
            }
        }
        .about {
            background-position: 0 -60px;
        }
        .question1 {
            background-position: 0 -133px;
        }
        .question2 {
            background-position: 0 -209px;
        }
        .question3 {
            background-position: 0 -285px;
        }
        .activity {
            background-position: 0 -362px;
        }
        .contact {
            background-position: 0 -437px;
        }
        .agentplan {
            background-position: -180px -60px;
        }
        .agentrules {
            background-position: -180px -133px;
        }
        .agenturl {
            background-position: -180px -209px;
        }
        .agentreg {
            background-position: -180px -285px;
        }
        .agentlg {
            background-position: -180px -362px;
        }
    }
    .text {
        margin: 35px 0 0 6px;
        min-height: 533px;
        overflow: hidden;
        width: 770px;
        background: url(../img/bg_reg.png) center top #070232;
        color: #fff;
        box-shadow: 0px 3px 2px #000;
        font-size: 12px;
        .wrap {
            padding: 25px 30px 18px;
        }
        p {
            line-height: 30px;
        }
        .activity {
            text-align: center;
            th {
                height: 38px;
            }
            td {
                color: #ff0000;
                height: 38px;
            }
        }
    }
    .text-reg {
        background: #fff;
        color: #333;
        .regbox .tit {
            background: #fff;
        }
    }
    .rules {
        a {
            margin-top: 15px;
        }
        img {
            display: block;
        }
        .drop {
            padding: 10px;
        }
    }
    .agenturl {
        input {
            padding: 3px 15px;
            width: 310px;
            height: 24px;
            line-height: 24px;
            border: 1px solid #5799f2;
            box-shadow: 2px 2px 4px #072a65 inset;
            color: #000;
        }
    }
    .regbox {
        position: relative;
        margin-top: 30px;
        padding-bottom: 20px;
        .tbwrap {
            border: 1px solid #074391;
            position: relative;
            padding: 20px 100px;
        }
        .tit {
            position: absolute;
            left: 10px;
            top: -10px;
            font-weight: bold;
            font-size: 14px;
            padding: 0 6px;
            background: #070232;
            z-index: 2;
        }
        table {
            strong {
                color: red;
                margin-right: 5px;
                font-size: 14px;
            }
            input {
                height: 18px;
                line-height: 18px;
                padding: 4px 8px;
                width: 248px;
                color: #000;
                border: 2px solid #5799f2;
            }
            td {
                line-height: 36px;
            }
            select {
                width: 48px;
                height: 22px;
                margin-right: 8px;
                color: #000;
                border: 1px solid #5799f2;
            }
            .authimgcode {
                width: 58px;
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                letter-spacing: 1px;
                vertical-align: bottom;
            }
            .imgCode {
                width: 78px;
                height: 26px;
                vertical-align: bottom;
                margin-left: 10px;
                cursor: pointer;
            }
        }
        .check {
            height: 70px;
            line-height: 70px;
            text-align: center;
            strong {
                color: #fff100;
            }
            span {
                vertical-align: middle;
            }
            input {
                margin: 0 3px;
                vertical-align: middle;
            }
            font-size: 14px;
        }
        .btns {
            text-align: center;
            input {
                border: 1px solid #707070;
                color: #707070;
                cursor: pointer;
                height: 28px;
                width: 90px;
                margin: 0 3px;
            }
        }
    }
    .appdownload {
        text-align: center;
        .down {
            h3 {
                font-size: 16px;
                line-height: 40px;
            }
            p {
                font-size: 14px;
                margin-top: 10px;
            }
            img {
                margin-top: 20px;
                width: 130px;
            }
        }
        .teach {
            overflow-x: hidden;
            height: 500px;
            margin-top: 30px;
            padding: 30px 0;
            img {
                width: 400px;
            }
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #00179a;
                border: 2px solid #051037;
                -webkit-border-radius: 2em;
                -moz-border-radius: 2em;
                border-radius: 2em;
            }
            &::-webkit-scrollbar-track {
                background-color: #051037;
                -webkit-border-radius: 2em;
                -moz-border-radius: 2em;
                border-radius: 2em;
            }
        }
    }
}

.footer {
    background: #040120;
    padding-bottom: 40px;
    .wrap {
        width: 1000px;
        margin: 0 auto;
    }
    .paylist {
        height: 150px;
        background: url(../img/footer/payicon.png) no-repeat center bottom;
    }
    li {
        float: left;
    }
    .servicelist {
        height: 50px;
        li {
            margin-right: 33px;
        }
        .last {
            margin: 0;
        }
        a {
            line-height: 36px;
            padding-left: 42px;
            color: #fff2f2;
            font-size: 15px;
            background: url(../img/footer/contacticon.png) no-repeat;
            span {
                color: #ff0000;
            }
        }
        .phone {
            background-position: 0 0;
        }
        .qq {
            background-position: 0 -40px;
        }
        .email {
            background-position: 0 -80px;
        }
        .online {
            background-position: 0 -120px;
        }
    }
    .line {
        height: 3px;
        background: url(../img/footer/line.png)repeat-x;
    }
    .links {
        text-align: center;
        color: #848484;
        line-height: 45px;
        font-size: 12px;
        a {
            color: #848484;
            display: inline;
            margin: 0 30px;
            &:hover {
                color: #fc0;
                text-decoration: underline;
            }
        }
    }
    .cominfo {
        color: #848484;
        text-align: center;
        padding-bottom: 20px;
        font-size: 12px;
    }
    .detaillist {
        font-size: 12px;
        li {
            width: 305px;
            margin: 0 35px 0 3px;
            color: #fff;
        }
        .last {
            margin-right: 0;
        }
        .titimg {
            background: url(../img/footer/icon_list.png)no-repeat;
            width: 140px;
            height: 43px;
            margin-bottom: 30px;
        }
        .service {
            background-position: 0 0;
        }
        .product {
            background-position: 0 -55px;
        }
        .help {
            background-position: 0 -119px;
        }
        .bankshow {
            .textbox {
                width: 258px;
            }
            .leftbox {
                .t1 {
                    font-size: 18px;
                    margin-bottom: 2px;
                }
            }
            .rightbox {
                font-size: 24px;
                .num {
                    font-size: 34px;
                    margin-right: 2px;
                }
                span {
                    vertical-align: middle;
                }
            }
            .lineshow {
                margin: 10px 0 20px 0;
                background: url(../img/footer/icon_list.png) no-repeat -5px -481px;
                width: 259px;
                height: 14px;
                overflow: hidden;
                position: relative;
                border-radius: 20px;
            }
            .floatling {
                display: block;
                position: absolute;
                left: -153px;
                top: 0;
                width: 153px;
                height: 13px;
                background: url(../img/footer/icon_list.png) no-repeat -5px -447px;
            }
            .imgshow {
                width: 252px;
                height: 50px;
                margin-top: 12px;
                background: url(../img/footer/icon_list.png) no-repeat 0px -212px;
            }
        }
        .textshow {
            .tit {
                font-size: 19px;
                margin-bottom: 6px;
                span {
                    font-size: 14px;
                }
            }
            .text {
                margin-bottom: 40px;
            }
            .text2 {
                margin-bottom: 12px;
            }
            .partnerimg {
                width: 306px;
                height: 90px;
                background: url(../img/footer/icon_list.png) no-repeat 0px -309px;
            }
            .links {
                line-height: inherit;
                text-align: left;
                margin-top: 2px;
                a {
                    line-height: 20px;
                    margin: 0 40px 0 0;
                    padding-left: 20px;
                    display: inline-block;
                    background: url(../img/footer/icon_list.png) no-repeat 0px -398px;
                    &:hover {
                        background-position: 0 -419px;
                    }
                }
                a {
                    *display: inline;
                }
                .last {
                    margin-right: 0;
                }
            }
        }
    }
}

.float {
    width: 149px;
    height: 575px;
    position: absolute;
    background: url(../img/float/bg_float.png) no-repeat;
    text-align: center;
    ul {
        position: absolute;
        left: 18px;
        top: 183px;
        width: 112px;
    }
    li {
        width: 100%;
    }
    img {
        margin: 0 auto;
        display: block;
    }
    .service {
        a {
            height: 58px;
            background: url(../img/float/bg_float.png) no-repeat -377px 0;
            &:hover {
                background-position: -377px -113px;
            }
        }
    }
    .register {
        margin-top: 22px;
        a {
            height: 35px;
            background: url(../img/float/bg_float.png) no-repeat -378px -195px;
            &:hover {
                background-position: -377px -258px;
            }
        }
    }
    .try {
        margin-top: 5px;
        a {
            height: 35px;
            background: url(../img/float/bg_float.png) no-repeat -377px -325px;
            &:hover {
                background-position: -377px -380px;
            }
        }
    }
    .qq {
        margin-top: 3px;
        a {
            position: relative;
            height: 74px;
            background: url(../img/float/bg_float.png) no-repeat -224px -0px;
            &:hover {
                background-position: -224px -98px;
            }
            span {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 5px;
                left: 0;
                color: #1c1c1c;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
    .ewm {
        margin-top: 4px;
        a {
            color: #fff;
        }
    }
    .close {
        margin-top: 3px;
        position: relative;
        height: 25px;
        a {
            width: 25px;
            height: 25px;
            background: url(../img/float/bg_float.png) no-repeat -231px -196px;
            position: absolute;
            left: 43px;
            top: 0;
            &:hover {
                background-position: -231px -263px;
            }
        }
    }
}