@charset "utf-8";

/* CSS Document */

body {
    font: 12px/1.5 "Microsoft Yahei", arial, simsun, sans-serif;
    color: #505050;
    margin: 0 auto;
    padding: 0;
    min-width: 1020px;
    background: url(../img/bg.png) #fff top center no-repeat;
}


/*链接整体设置*/

a {
    text-decoration: none;
    color: #505050;
    transition: 0.4s;
}

a:hover {
    color: #183885;
}

a:active {
    color: #505050;
}

a {
    blr: expression(this.onFocus=this.close());
}

a {
    blr: expression(this.onFocus=this.blur());
}

a:focus {
    -moz-outline-style: none;
}

input:focus,
textarea:focus {
    outline: none;
}


/*公用样式*/

div,
table,
tr,
td,
img,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
i,
font,
span,
dl,
dt,
dd,
form,
textarea,
input,
select {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: normal;
    font-family: "Microsoft Yahei";
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

img {
    border: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.clear0 {
    clear: both;
    font-size: 0px;
    height: 0px;
    overflow: hidden;
}

.hidden {
    display: none;
}

.hide {
    display: none;
}

.wrap {
    width: 1020px;
    margin: 0 auto;
}

.htop {
    height: 68px;
    position: relative;
    padding: 6px 0 6px 145px;
}

.htop a {
    background: #fc3031;
    display: inline-block;
    border: 3px solid #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 1000px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    padding: 0 27px;
    position: absolute;
    top: 17px;
    right: 95px;
}

.htop a:hover {
    color: #fff;
    background: #e91f20;
}

.bgcon {
    width: 1000px;
    padding: 0 10px;
    background: #fff;
}

.head {
    padding-top: 10px;
    position: relative;
}

.logo {
    width: 185px;
    padding: 0 0 3px 15px;
    height: 55px;
}

.logo a {
    display: inline-block;
}

.nav {
    border: 1px solid #83bafa;
    border-bottom: none;
    height: 28px;
    margin-top: 29px;
}

.nav li {
    display: inline;
    float: left;
}

.nav li a {
    font-size: 15px;
    font-weight: bold;
    color: #336cb1;
    padding: 0 17px;
    background: url(../img/line.png) right center no-repeat;
    display: inline-block;
    line-height: 28px;
}

.nav li a font {
    color: #dd0005;
    font-size: 15px;
}

.nav li:last-child a {
    background: none;
}

.nav li.cur a {
    background: #336cb1;
    color: #fff;
}

.nav li.cur a font {
    color: #fff;
}

.online {
    position: absolute;
    right: 0;
    top: 20px;
    height: 35px;
    width: 250px;
    text-align: center;
    line-height: 18px;
}

.online span {
    color: #000;
    font-size: 13px;
    display: block;
    float: left;
    margin: 10px 5px;
}

.online span font {
    color: #f00;
    font-size: 15px;
}

.online a {
    float: right;
    display: block;
}

.online a:hover {
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.notice {
    background: #295b97;
    height: 30px;
    width: 1000px;
}

.notice em {
    line-height: 30px;
    width: 72px;
    float: left;
    font-weight: bold;
    display: inline-block;
    padding: 0 0 0 28px;
    color: #ffe401;
    font-size: 14px;
    background: url(../img/ico1.png) 5px center no-repeat;
}

.ntxt {
    width: 895px;
    line-height: 30px;
    float: left;
    color: #fff;
    background: url(../img/line.png) left center no-repeat;
}

.titc {
    margin-top: 5px;
    padding: 33px 0 0 25px;
    height: 135px;
}

.tit_bg1 {
    background: url(../img/bg1.jpg) top center no-repeat;
}

.tit_bg2 {
    background: url(../img/bg2.jpg) top center no-repeat;
}

.tit_bg3 {
    background: url(../img/bg3.jpg) top center no-repeat;
}

.tit_bg4 {
    background: url(../img/bg4.jpg) top center no-repeat;
}

.titc h3 {
    font-size: 30px;
    color: #ccc;
    text-transform: uppercase;
    line-height: 50px;
}

.titc h3 font {
    font-size: 35px;
    color: #0f64a5;
    padding-right: 8px;
}

.titc p {
    font-size: 16px;
    color: #000;
    line-height: 30px;
}

.buts {
    overflow: hidden;
    padding: 25px 45px;
}

.buts a {
    color: #fff;
    display: inline-block;
    padding: 0 33px;
    height: 36px;
    line-height: 36px;
    background: #336cb1;
    border-radius: 5px;
    font-size: 20px;
}

.cooperation {
    padding: 15px 45px 0 45px;
}

.cooperation p {
    font-size: 16px;
    color: #000;
    line-height: 180%;
    margin-bottom: 20px;
}

.nycon {
    padding: 15px 0;
}

.sider {
    width: 208px;
}

.sider ul li {
    height: 51px;
    padding-bottom: 6px;
    position: relative;
}

.sider ul li em {
    color: #336cb1;
    border: 1px solid #0f64a5;
    font-size: 16px;
    display: inline-block;
    line-height: 49px;
    border-radius: 5px;
    padding: 0 0 0 78px;
    width: 119px;
    cursor: pointer;
}

.sider ul li i {
    position: absolute;
    right: 0;
    top: 16px;
    width: 9px;
    font-size: 0;
    height: 19px;
    overflow: hidden;
    background: url(../img/point1.png) left center no-repeat;
    display: none;
}

.sider ul li em.a1 {
    background: url(../img/ico12.png) 35px 0 no-repeat;
}

.sider ul li em.a2 {
    background: url(../img/ico12.png) 35px -49px no-repeat;
}

.sider ul li em.a3 {
    background: url(../img/ico12.png) 35px -98px no-repeat;
}

.sider ul li em.a4 {
    background: url(../img/ico12.png) 35px -147px no-repeat;
}

.sider ul li em.a5 {
    background: url(../img/ico12.png) 35px -196px no-repeat;
}

.sider ul li.on i {
    display: inline-block;
}

.sider ul li.on em {
    color: #fff;
    border: 1px solid #336cb1;
}

.sider ul li.on em.a1 {
    background: url(../img/ico12h.png) #336cb1 35px 0 no-repeat;
}

.sider ul li.on em.a2 {
    background: url(../img/ico12h.png) #336cb1 35px -49px no-repeat;
}

.sider ul li.on em.a3 {
    background: url(../img/ico12h.png) #336cb1 35px -98px no-repeat;
}

.sider ul li.on em.a4 {
    background: url(../img/ico12h.png) #336cb1 35px -147px no-repeat;
}

.sider ul li.on em.a5 {
    background: url(../img/ico12h.png) #336cb1 35px -196px no-repeat;
}

.nyrt {
    border: 1px solid #d2d2d2;
    padding: 0 40px;
    width: 700px;
}

.show_tit {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #000;
    padding: 30px 0;
    line-height: 40px;
}

.show_dt {
    padding: 0 0 40px 0;
}

.show_dt p {
    font-size: 14px;
    color: #000;
    line-height: 180%;
}

.tell_pic {
    width: 410px;
    padding: 40px 0 0 60px;
}

.down {
    width: 353px;
    border: 1px solid #73cbf3;
    border-radius: 18px;
    margin: 90px 100px 0 0;
    padding: 20px 0 15px 0;
}

.down h2 {
    text-align: center;
    color: #f00;
    font-size: 30px;
    line-height: 40px;
}

.down p {
    background: url(../img/tv.png) 50px 0 no-repeat;
    text-align: right;
    height: 70px;
    padding: 28px 40px 0 40px;
    margin: 15px 0;
}

.down p a {
    display: inline-block;
    color: #fff;
    border-radius: 1000px;
    height: 36px;
    line-height: 36px;
    background: #ff6c00;
    font-size: 22px;
    padding: 0 20px;
}

.down h3 {
    text-align: center;
    font-size: 20px;
    color: #000;
    line-height: 24px;
}

.down ul {
    overflow: hidden;
    width: 260px;
    margin: 0 auto;
    padding-top: 15px;
}

.down ul li {
    text-align: center;
    float: left;
    width: 130px;
}

.down ul li em {
    display: block;
}

.down ul li i {
    font-size: 14px;
    color: #.down ul li;
    line-height: 35px;
}


/*Activity*/

.Activity {
    width: 1020px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.acttop {
    padding: 30px 0 0 105px;
    position: relative;
}

.acttop .line1 {
    position: absolute;
    left: 140px;
    top: 101px;
    height: 30px;
    width: 2px;
    font-size: 0;
    overflow: hidden;
    background: url(../img/line1.png) 0 0 repeat-y;
}

.acttop a {
    display: inline-block;
    width: 59px;
    height: 59px;
    color: #fff;
    font-size: 15px;
    background: #004fa7;
    border-radius: 50%;
    line-height: 59px;
    text-align: center;
    margin: 6px 48px 0 0;
}

.acttop a:hover {
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.acttop a.all {
    background: #004fa7;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    margin: 0 48px 0 0;
    line-height: 71px;
}

.actcon {
    background: url(../img/line1.png) 140px 0 repeat-y;
    padding-bottom: 20px;
}

.actcon ul li {
    position: relative;
    padding-top: 70px;
}

.actcon ul li .time {
    position: absolute;
    left: 38px;
    top: 132px;
    background: #004fa7;
    border-radius: 1000px 1000px 0 1000px;
    width: 94px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #fff;
}

.actcon ul li .circle {
    width: 35px;
    height: 35px;
    background: url(../img/point2.png) top center no-repeat;
    position: absolute;
    top: 162px;
    left: 123px;
}

.actcon ul li .point2 {
    width: 28px;
    height: 51px;
    background: url(../img/point3.png) top center no-repeat;
    position: absolute;
    top: 155px;
    left: 178px;
    z-index: 5;
}

.actcon ul li .act-content {
    min-height: 255px;
    width: 665px;
    margin-left: 205px;
    background: #fff;
    padding: 15px 40px;
    border: 1px solid #a7cbd7;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 103, 138, 0.75);
}

.actpic {
    text-align: center;
}

.mores {
    float: right;
    display: inline-block;
    width: 128px;
    height: 37px;
    background: url(../img/more.png) top center no-repeat;
}

.mores.dtbg {
    background: url(../img/more.png) bottom center no-repeat;
}

.acttxt1 {
    padding-top: 10px;
}

.acttxt1 p {
    font-size: 15px;
    line-height: 24px;
    color: #333;
}

.acttxt2 {
    padding-bottom: 15px;
}

.acttxt2 h3 {
    font-size: 15px;
    line-height: 24px;
    padding: 10px 0;
    color: #333;
}

.acttxt2 p {
    font-size: 13px;
    line-height: 24px;
    color: #333;
}

.acttxt2 p font {
    color: #f00;
    font-size: 13px;
}

.acttxt2 table th {
    background: #fff;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    width: 33.33%;
    color: #333;
    padding: 2px 0;
}

.acttxt2 table td {
    background: #fff;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #333;
    padding: 2px 0;
}

.actconb {
    position: relative;
}

.actconb .point1s {
    width: 35px;
    height: 35px;
    background: url(../img/point2.png) top center no-repeat;
    position: absolute;
    bottom: -40px;
    left: 123px;
    z-index: 5;
}

.reg {
    padding: 45px 0;
}

.reg ul li {
    padding: 0 0 20px 115px;
    position: relative;
}

.reg .imgCode{
	position: absolute;
	width: 70px;
	height: 30px;
	left: 388px;
	top: 6px;
}

.reg ul li em {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    text-align: right;
    width: 110px;
    font-size: 15px;
    color: #000;
    line-height: 36px;
}

.reg ul li font {
    font-size: 13px;
    color: #f00;
    padding-left: 10px;
    line-height: 36px;
    display: inline-block;
}

.reg ul li a.but1 {
    text-decoration: underline;
    font-size: 15px;
    color: #f00;
}

.reg ul li a.but1:hover {
    color: #205ba3;
}

.intxt {
    border: 1px solid #6d6d6d;
    height: 34px;
    line-height: 34px;
    text-indent: 10px;
    font-size: 14px;
    color: #000;
    width: 265px;
    margin-right: 2px;
}

.sel {
    border: 1px solid #6d6d6d;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #000;
    width: 65px;
    margin-right: 2px;
}

.inbut {
    color: #fff;
    background: #336cb1;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 267px;
    border: none;
    text-align: center;
    height: 39px;
    line-height: 39px;
    margin-right: 12px;
}

.inbut:hover {
    color: #fff;
    background: #205ba3;
}

.i_con {
    padding-top: 3px;
}

.i_conlf {
    width: 244px;
    margin-right: 3px;
    border: 2px solid #336cb1;
    height: 384px;
    overflow: hidden;
}

.i_conlf h2 {
    color: #fff;
    font-size: 15px;
    padding: 0 8px 2px 8px;
    height: 29px;
    line-height: 29px;
    background: #336cb1;
    overflow: hidden;
}

.i_conlf h2 a.gdcz {
    color: #fff;
    font-size: 15px;
}

.i_conlf h2 a.more {
    color: #fff;
    float: right;
    font-size: 14px;
}

.i_conlf ul {
    padding: 0 9px;
}

.i_conlf ul li {
    border-bottom: 1px solid #83bafa;
    padding: 7px 0 7px 10px;
    overflow: hidden;
}

.i_conlf ul li:last-child {
    border-bottom: none;
}

.i_conlf ul li i {
    float: left;
    display: inline-block;
    width: 54px;
    height: 44px;
}

.i_conlf ul li h3 {
    font-size: 16px;
    color: #000;
    line-height: 28px;
}

.i_conlf ul li h3 a {
    font-size: 16px;
    color: #000;
}

.i_conlf ul li h3 a:hover {
    color: #295b97;
}

.i_conlf ul li p {
    color: #000;
    line-height: 16px;
}

.i_conlf ul li h3 a:hover {
    color: #FF0000
}

.banner {
    width: 470px;
    height: 388px;
    overflow: hidden;
    position: relative;
}

.banner .hd {
    height: 12px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 18px;
    z-index: 1;
    text-align: center;
}

.banner .hd em {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    font-size: 0;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.banner .hd em.on {
    background: #f00;
}

.banner .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.banner .bd img {
    display: block;
}

.i_conrt {
    width: 276px;
    height: 388px;
    overflow: hidden;
}

.ibor {
    border: 1px solid #c4c4c4;
    margin-bottom: 3px;
}

.ibor h2 {
    background: #d4e8ff;
    height: 33px;
    line-height: 33px;
    padding: 0 10px 0 15px;
    font-size: 15px;
    color: #000;
}

.ibor h2 i {
    float: right;
    color: #92c5ff;
    font-size: 15px;
}

.ibor ul {
    padding: 9px 20px 3px 20px;
}

.ibor ul li {
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
}

.ibor ul li .yzm_pic {
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}

.intxt2 {
    border: 1px solid #c4c4c4;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    color: #666;
    padding: 0 0 0 35px;
    width: 197px;
}

.intxt2.yhm {
    background: url(../img/icobg.png) 10px 0 no-repeat;
}

.intxt2.mm {
    background: url(../img/icobg.png) 10px -41px no-repeat;
}

.intxt2.yzm {
    background: url(../img/icobg.png) 10px -80px no-repeat;
}

.ibtn2 {
    display: inline-block;
    background: #ff020e;
    border-radius: 5px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 0 25px;
    border: none;
}

.ibtn2:hover {
    color: #fff;
    background: #de0510;
}

.ibtn3 {
    display: inline-block;
    background: #295b97;
    border-radius: 5px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 0 25px;
    border: none;
}

.ibtn3:hover {
    color: #fff;
    background: #13437c;
}

.ibtn1 {
    display: block;
    background: #d0550b;
    border-radius: 5px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.ibtn1:hover {
    color: #fff;
    background: #be4e0b;
}

.i_ewm {
    padding: 3px 15px;
    overflow: hidden;
}

.i_ewm em {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.i_ewm p {
    font-size: 15px;
    line-height: 32px;
}

.i_ewm p .app1 {
    display: inline-block;
    padding-left: 25px;
    background: url(../img/apple.png) left center no-repeat;
    color: #ff020e;
    font-size: 15px;
    margin-top: 5px;
}

.i_ewm p .app2 {
    display: inline-block;
    padding-left: 25px;
    background: url(../img/android.png) left center no-repeat;
    color: #00890d;
    font-size: 15px;
}

.i_ewm p a {
    padding-left: 25px;
}

.i_down {
    background: url(../img/downbg.png) top center no-repeat;
    height: 195px;
    padding-top: 72px;
    margin-top: 12px;
    position: relative;
    width: 1000px;
}

.i_down p {
    color: #fff;
    line-height: 37px;
    font-size: 25px;
    padding-left: 420px;
}

.i_down p font {
    color: #fff100;
    font-size: 25px;
}

.i_down .ewms {
    position: absolute;
    top: 30px;
    left: 190px;
    width: 180px;
    text-align: center;
    padding-top: 11px;
}

.i_down .ewms img {
    display: block;
    margin: 0 auto;
}

.i_down .ewms i {
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 28px;
}

.i_down .ewms span {
    font-size: 21px;
    color: #f85a1a;
    display: inline-block;
    line-height: 44px;
}

.i_about {
    border: 1px solid #c4c4c4;
    background: url(../img/house.png) left bottom no-repeat;
    margin-top: 15px;
    padding: 0 40px 40px 308px;
}

.i_about h2 {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    line-height: 40px;
    padding-top: 40px;
}

.i_about h3 {
    font-size: 17px;
    color: #000;
    line-height: 30px;
}

.i_about p {
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.brand {
    width: 1000px;
    overflow: hidden;
    padding: 40px 0;
}

.brand ul {
    width: 1100px;
    overflow: hidden;
}

.brand ul li {
    width: 190px;
    float: left;
    text-align: center;
    margin-right: 80px;
}

.brand ul li i {
    display: inline-block;
    margin: 5px 0;
}

.brand ul li h3 {
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
}

.brand ul li p {
    font-size: 15px;
    color: #717171;
    line-height: 24px;
}

.foot {
    text-align: center;
    padding: 10px 0;
}

.foot p {
    line-height: 24px;
}

.foot p font {
    font-size: 15px;
}

.foot p img {
    display: inline-block;
    margin: 12px 16px;
}