* {
    margin: 0;
    padding: 0;
}

.inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

img {
    border: 0 none;
    vertical-align: middle;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

.logos {
    float: left;
    width: 300px;
    margin-top: 50px
}

a:active,
a:hover,
:focus {
    outline: 0;
}

body,
input,
button,
select,
textarea {
    font: 12px/1.5 "Microsoft YaHei", Arial, \5b8b\4f53, sans-serif;
    color: #333;
}

.container {
    width: 1000px;
    margin: 0px auto
}

.icon,
.btn {
    display: inline-block;
}

.icon {
    position: relative;
    vertical-align: top;
    background: url(../images/icon.png) no-repeat;
}

.btn {
    border: 0 none;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
    filter: alpha(Opacity=90);
}

html {}

.bg {
    width: 1px;
    position: relative;
    width: 1000px;
    z-index: 99999;
    margin: 0px auto
}

.bg2 {
    padding: 20px 0;
    background: url(../images/bg1.jpg) center no-repeat;
    background-size: 100% 100%;
}

.bg3 {
    height: 511px;
    background: url(../images/bg3.jpg) center no-repeat;
    overflow: hidden
}

.app {
    width: 978px;
    height: 462px;
    background: url(../images/app.png);
    margin-top: 25px;
    position: relative
}

.vx {
    position: absolute;
    right: 98px;
    bottom: 32px;
}

.register-bg {
    background: #ffffff;
}

.register-container {
    overflow: hidden;
}

.register-header {

    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    background: url(../images/banner.jpg);
    height: 235px
}

.register-banner {
    height: 325px;
    overflow: hidden;
    background: url(../img/register_banner.jpg) no-repeat center top;
}

.register-inner {
    padding: 14px 49px 100px;
    margin-top: 40px;
    border: 1px solid #efefef;
    background-color: #fff;
}

.register-heading {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #b2b2b2;
    font-size: 18px;
    color: #e2413e;
    font-weight: bold
}

.register-heading .icon-edit {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: 4px;
    margin-right: 10px;
    background-position: 0 0;
}

.register-form {
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
    min-height: 470px;
    padding-bottom: 30px;
}

.tis {
    color: #f96900;
    font-size: 17px;
    line-height: 45px;
    border-bottom: 1px solid #dedede;
    padding-left: 25px
}

.tis span {
    color: #FF0000;
    float: right;
    font-size: 14px;
    margin-right: 25px
}

.tis span a {
    font-size: 14px
}

.clear {
    clear: both;
    height: 20px
}

.register-form .input-group {
    overflow: hidden;
    margin-top: 10px;
    margin-left: 55px
}

.register-form .ipt-lab,
.register-form .ipt,
.register-form .ipt-tip {
    float: left;
}

.register-form .code-img {}

.register-form .ipt-lab,
.register-form .ipt-tip,
.login-form .ipt-lab {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}

.register-form .ipt-lab {
    width: 90px;
    margin-right: 10px;
    text-align: right;
    color: #000000;
    font-size: 14px
}

.register-form .ipt-tip {
    margin-left: 20px;
    position: absolute;
}

.tit2 {
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 72px
}

.register-form .ipt-tip {
    color: #FF0000
}

.register-form .ipt,
.login-form .ipt {}

.register-form .ipt {
    width: 218px;
    border: 1px solid #6d6d6d;
    background-color: #ffffff;
    height: 30px
}

.code-img {
    position: absolute;
    left: 230px;
    top: 7px
}

.register-form .btn-group {
    padding-left: 85px;
    padding-top: 15px
}

.register-form .btn-group .btn {
    display: block;
    width: 270px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.register-form .btn-group .btn-reg {
    width: 225px;
    height: 34px;
    border: 0px;
    float: left;
    background-color: #b60005;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 50px
}

.zhanghu {
    display: inline-block;
    float: left;
    line-height: 34px;
    margin: 0px 22px;
    color: #d70000
}

.register-form .btn-group .btn-login {
    width: 134px;
    height: 34px;
    border: 0px;
    float: left;
    background: url(../images/d2.png);
    margin-left: 55px
}

.register-form .btn-group .btn-login:hover {
    opacity: .9;
    filter: alpha(Opacity=90);
}

.register-form .btn-group .btn-reg:hover {
    opacity: .9;
    filter: alpha(Opacity=90);
}

.yy {
    float: left;
    line-height: 34px;
    margin-left: 15px
}

.yy a {
    color: #d70000
}

.footer {

    text-align: center;
    font-size: 13px;
}

.footer p {
    margin-top: 1px;
}

.register-container .footer {
    color: #858585;
}

.header {
    height: 108px;
    overflow: hidden;
}

.logo {
    float: left;
    margin-top: 20px
}

.content {
    width: 1000px;
    height: 367px;
    position: relative;
    border-radius: 10px
}


.lanmu2 {
    float: right;
    margin-top: 20px
}

.lanmu2 a {
    display: inline-block;
    width: 111px;
    height: 58px;
    text-align: center;
    line-height: 31px;
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 10px;
}

.lanmu2 a.l1 {
    background: url(../images/k1.png) no-repeat
}

.lanmu2 a.l2 {
    background: url(../images/k2.png) no-repeat;
    margin-left: 33px
}

.lanmu2 a.l1:hover {
    background: url(../images/k1s.png) no-repeat
}

.lanmu2 a.l2:hover {
    background: url(../images/k2s.png) no-repeat
}

.wz {
    float: left;
    width: 328px;
    height: 89px;
    background: url(../images/wz.png);
    margin-left: 52px;
    margin-top: 35px
}

.float-login {
    float: right;
    width: 413px;
    height: 377px;
    color: #cecece;
    background: url(../images/loginbg.png) no-repeat;
    position: absolute;
    top: -403px;
    right: -35px
}

.float-login h3 {
    height: 62px;
    line-height: 62px;
    overflow: hidden;
    font-size: 22px;
    text-align: center;
    color: #0054a3;
    font-weight: bold
}

.login-form {
    width: 241px;
    margin-left: 75px
}

.ljdl {
    width: 241px;
    height: 42px;
    color: #FFFFFF;
    background: url(../images/bt1.png) no-repeat;
    border: 0px;
    margin-left: 19px;
    font-size: 18px;
    color: #FFFFFF;
}

.mfzc {
    display: inline-block;
    width: 115px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: url(../images/bt2.png);
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 95px
}

.mfsw {
    display: inline-block;
    width: 115px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 5px;
    background: url(../images/bt3.png)
}

.ljdl:hover {
    opacity: .9;
    filter: alpha(Opacity=90);
}

.mfzc:hover {
    opacity: .9;
    filter: alpha(Opacity=90);
}

.mfsw:hover {
    opacity: .9;
    filter: alpha(Opacity=90);
}

.login-form .input-group {
    position: relative;
    margin-bottom: 19px;
    margin-left: 18px
}

.code {
    position: absolute;
    right: 0px;
    top: 11px
}

.login-form .ipt-lab {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #333333;
    line-height: 44px;
}

.login-form .ipt-lab i {
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-right: 8px;
    border-right: 1px solid #7f7f7f;
}

.login-form .ipt-lab .icon-user {
    background-position: 0 0px;
}

.login-form .ipt-lab .icon-lock {
    background-position: 0px -55px;
}

.login-form .ipt-lab .icon-yzm {
    background-position: 0px -109px;
}

.login-form .ipt {
    width: 200px;
    padding-left: 40px;
    font-size: 14px;
    color: #000000;
    height: 38px;
    border: 0px;
    background-color: #cccccc;
    border-radius: 5px
}

.login-form .btn-group {}

.login-form .btn-group .btn,
.float-login .btn-visit {
    color: #fff;
    font-size: 18px;
}

.login-form .btn-group .btn {
    float: left;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    background-color: #0085b7;
}

.login-form .btn-group a.btn {
    width: 105px;
    line-height: 32px;
}

.login-form .btn-group .btn-login {
    margin-right: 12px;
    border-color: #2d8800;
    background-color: #2d8800;
    width: 105px;
    color: #ffffff;
}

.float-login .btn-visit {
    display: block;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #eb1919, #c40606);
    background-image: -moz-linear-gradient(top, #eb1919, #c40606);
    background-image: -o-linear-gradient(top, #eb1919, #c40606);
    background-image: linear-gradient(to bottom, #eb1919, #c40606);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb1919', endColorstr='#c40606', GradientType=0);
    width: 224px
}

.float-login .btn-os {
    position: absolute;
    z-index: 9;
    top: 6px;
    right: 15px;
    width: 224px;
    height: 62px;
    line-height: 54px;
    font-size: 13px;
    font-size: 34px;
    font-family: "Times New Roman", Times, seriff;
    color: #88ccff
}

.float-ad {
    float: left;
    width: 759px;
    height: 339px
}

.nav {

    height: 33px;
    line-height: 33px;
    overflow: hidden;

    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px
}

.nav a {

    margin-left: 10px;
    height: 23px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
    margin-right: 10px;
    color: #202020;
    font-size: 15px
}

.nav a:hover {
    background: url(../images/navbg.png) no-repeat
}

.nav a:first-child {
    margin-left: 0;
}

.nav a.current,
.nav a:hover {
    color: #FF0000;
}

.fr {
    float: right;
    width: 665px;
    margin-top: 50px
}

.site-notice {
    position: relative;
    float: right;
    width: 550px;
    height: 18px;
    overflow: hidden;
    padding-left: 95px;

    color: #a5a5a5;
}

.site-notice h3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    color: #ffffff;
    font-weight: normal;
}

.site-notice h3 .icon-horn {
    float: left;
    width: 20px;
    height: 18px;
    margin-top: 1px;
    margin-right: 5px;
    background: url(../images/gg.png) left top no-repeat
}

.notice-list li {
    height: 18px;
    overflow: hidden;
}

.index .footer {


    z-index: 9;
    width: 100%;
}

.ie {
    display: block;
    background: url(../images/copyright.png) center top no-repeat;
    padding-top: 35px;
    text-align: center;
    margin-top: 25px;
    clear: both
}

.hide {
    display: none;
}

.show {
    display: block;
}

.zlc-model {
    height: 100%;
}

.model-content {
    padding: 0 15px;
}

.model-content h4,
.model-content p {
    line-height: 24px;
}

.model-content h4 {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #98282b;
}

.model-content p {
    margin-bottom: 5px;
}

.model-content .warn {
    color: #e43232;
}

.zlc-faq .icon-doubt,
.jc-aboutus .icon-i {
    float: left;
    width: 12px;
    height: 13px;
    margin-top: 6px;
    margin-right: 10px;
}

.zlc-faq .icon-doubt {
    background-position: -140px 0;
}

.zlc-aboutus .icon-i {
    background-position: -170px 0;
}

.prom-table,
.prom-table th,
.prom-table td {
    border: 1px solid #b5e2ff;
}

.prom-table {
    margin-bottom: 25px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    background-color: #FFFFFF
}

.prom-table tr {
    height: 40px;
}

.prom-table th,
.prom-table td {
    padding-left: 20px;
    padding-right: 20px;
}

.prom-table td {
    color: #e43232;
}

.agency-actions {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.agency-actions a {
    width: 115px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    background-color: #98292b;
}

.agency-actions .btn-login {
    float: left;
}

.agency-actions .btn-reg {
    float: right;
}

.agency-login {
    position: relative;
    height: 475px;
    margin-top: 150px;
    background: url(../img/agency_login_banner.jpg) no-repeat center;
}

.agency-login .user-login {
    top: 70px;
}

.agency-login .login-form .ipt {
    width: 150px;
}

.agency-login .login-form .btn-login {
    width: 209px;
    height: 50px;
    margin-top: 5px;
    margin-left: -3px;
    background-position: 0 -280px;
}

.agency-login .jc-logo {
    background: none;
}

.layui-layer {
    border: 5px solid #00a8ec;
    background: url(../images/model_bg.jpg) center top !important;
}

.layui-layer-title {
    padding: 30px !important;
    border-bottom: 0 none !important;
    border-radius: 10px !important;
    font-size: 26px !important;
    font-weight: bold;
    color: #ffffff !important;
    text-align: center;
    background: transparent !important;
}

.layui-layer-title span {
    font-size: 14px
}

.layui-layer-page .layui-layer-content {
    background: none
}

.layui-layer-setwin {
    top: 15px !important;
    right: 15px !important;
}

.layui-layer-setwin .layui-layer-close1 {
    width: 30px;
    height: 30px;
    background: url(../images/close.png) no-repeat!important;
}





/*banner*/

.banner .flexslider {
    position: relative;
    height: 422px;
    overflow: hidden;
    background: url(../images/loading.gif) 50% no-repeat;
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
    min-width: 1000px
}

.banner .slides {
    position: relative;
    z-index: 1;
    height: 422px;
    overflow: hidden;
}

.banner .slides li {
    height: 422px;
}

.banner .flex-direction-nav {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 40%;
}

.banner .flex-direction-nav li a {
    display: block;
    width: 49px;
    height: 49px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
}

.banner .flex-direction-nav li a.flex-prev {
    background: url(../images/left333.png) center center no-repeat;
    left: 50%;
    margin-left: -550px
}

.banner .flex-direction-nav li a.flex-next {
    background: url(../images/right333.png) center center no-repeat;
    left: 50%;
    margin-left: 530px
}


.banner .flex-control-nav {
    position: absolute;
    bottom: 30px;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.banner .flex-control-nav li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    *display: inline;
    zoom: 1;
}

.banner .flex-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 40px;
    overflow: hidden;
    background: url(../images/dot.png) right 0 no-repeat;
    cursor: pointer;
}

.banner .flex-control-nav .flex-active {
    background-position: 0 0;
}



.gg-bg {
    height: 30px;
    background: url(../images/bgs2.png);
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 502px;
    z-index: 99999
}

.gg-bg2 {
    height: 30px;
    background: url(../images/bgs2.png);
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 343px;
    z-index: 99999
}

.gg-bg .tit {
    float: left;
    background: url(../images/gg.png) left center no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
    font-size: 14px;
    color: #000000;
    margin-left: 46px
}

.gg-bg2 .tit {
    float: left;
    background: url(../images/gg.png) left center no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
    font-size: 14px;
    color: #000000;
    margin-left: 46px
}

.gonggao {
    float: left;
    line-height: 33px;
    margin-left: 15px;
    width: 800px
}

.gonggao a {
    font-size: 14px;
    color: #000000
}