a{text-decoration:none}.loading{position:fixed;left:0;top:0;width:100%;height:100%;background:#fff;z-index:99999}.loadingfa{width:50px;height:50px;line-height:50px;text-align:center;font-size:29px;color:#444;position:absolute;left:50%;margin-top:-25px;margin-left:-25px;top:50%}.animteeh{opacity:.2;transition:all ease 1.5s;-webkit-transition:all ease 1.5s;-moz-transition:all ease 1.5s;-o-transition:all ease 1.5s;transform:translateY(100px);-webkit-transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px)}.animteeh.active{opacity:1;transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0)}.animts{opacity:.2;transition:all ease 1.5s;-webkit-transition:all ease 1.5s;-moz-transition:all ease 1.5s;-o-transition:all ease 1.5s;transform:translateY(100px);-webkit-transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px)}.active.animts{opacity:1;transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0)}@keyframes rotate{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(360deg)}}@-webkit-keyframes rotate{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(360deg)}}@-moz-keyframes rotate{from{-moz-transform:rotate(0)}to{-moz-transform:rotate(360deg)}}@-ms-keyframes rotate{from{-ms-transform:rotate(0)}to{-ms-transform:rotate(360deg)}}@-o-keyframes rotate{from{-o-transform:rotate(0)}to{-o-transform:rotate(360deg)}}@keyframes rotate1{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(-360deg)}}@-webkit-keyframes rotate1{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(-360deg)}}@-moz-keyframes rotate1{from{-moz-transform:rotate(0)}to{-moz-transform:rotate(-360deg)}}@-ms-keyframes rotate1{from{-ms-transform:rotate(0)}to{-ms-transform:rotate(-360deg)}}@-o-keyframes rotate1{from{-o-transform:rotate(0)}to{-o-transform:rotate(-360deg)}}.xuanzhuan{animation:2s linear 0s normal forwards infinite rotate;-webkit-animation:2s linear 0s normal forwards infinite rotate;-moz-animation:2s linear 0s normal forwards infinite rotate;-o-animation:2s linear 0s normal forwards infinite rotate}.xuanzhuan1{animation:5s linear 0s normal forwards infinite rotate;-webkit-animation:5s linear 0s normal forwards infinite rotate;-moz-animation:5s linear 0s normal forwards infinite rotate;-o-animation:5s linear 0s normal forwards infinite rotate}.nizhuan{animation:2s linear 0s normal forwards infinite rotate1;-webkit-animation:2s linear 0s normal forwards infinite rotate1;-moz-animation:2s linear 0s normal forwards infinite rotate1;-o-animation:2s linear 0s normal forwards infinite rotate1}.nizhuan1{animation:3s linear 0s normal forwards infinite rotate1;-webkit-animation:3s linear 0s normal forwards infinite rotate1;-moz-animation:3s linear 0s normal forwards infinite rotate1;-o-animation:3s linear 0s normal forwards infinite rotate1}@keyframes Updown{0%{transform:translateY(30px);-webkit-transform:translateY(30px);-moz-transform:translateY(30px);-ms-transform:translateY(30px);-o-transform:translateY(30px)}100%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0)}}.shangxia{animation:1.4s 0s alternate none infinite running Updown}.yaohuan{animation:2.4s 0s alternate none infinite running swing}.yaohuan1{animation:9.4s 0s alternate none infinite running swing}.flash{animation:2.4s 0s alternate none infinite running flash}.wobble{animation:20.4s 0s alternate none infinite running wobble}.dtable{display:table;width:100%;height:100%}.dcell{display:table-cell;vertical-align:middle}.shangxia1{animation:2.4s 0s alternate none infinite running Updown}.shangxia2{animation:2.9s 0s alternate none infinite running Updown}.shangxia3{animation:3.4s 0s alternate none infinite running Updown}.shangxia4{animation:2.5s 0s alternate none infinite running Updown}.shangxia5{animation:3.3s 0s alternate none infinite running Updown}.shangxia6{animation:2.4s 0s alternate none infinite running Updown}.shangxia7{animation:2.6s 0s alternate none infinite running Updown}.df{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.dc{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.flex1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.ac{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.as{-webkit-box-align:justify;-webkit-align-items:space-between;-ms-flex-align:justify;align-items:space-between}.ae{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}.jc{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.js{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.je{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}.fww{-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap}.yanshi01{animation-delay:.1s;-webkit-animation-delay:.1s}.yanshi02{animation-delay:.2s;-webkit-animation-delay:.2s}.yanshi03{animation-delay:.3s;-webkit-animation-delay:.3s}.yanshi04{animation-delay:.4s;-webkit-animation-delay:.4s}.yanshi05{animation-delay:.5s;-webkit-animation-delay:.5s}.yanshi06{animation-delay:.6s;-webkit-animation-delay:.6s}.yanshi07{animation-delay:.7s;-webkit-animation-delay:.7s}.yanshi08{animation-delay:.8s;-webkit-animation-delay:.8s}.yanshi09{animation-delay:.9s;-webkit-animation-delay:.9s}.yanshi10{animation-delay:1s;-webkit-animation-delay:1s}.yanshi11{animation-delay:1.1s;-webkit-animation-delay:1.1s}.yanshi12{animation-delay:1.2s;-webkit-animation-delay:1.2s}.yanshi13{animation-delay:1.3s;-webkit-animation-delay:1.3s}.yanshi14{animation-delay:1.4s;-webkit-animation-delay:1.4s}.yanshi15{animation-delay:1.5s;-webkit-animation-delay:1.5s}.yanshi16{animation-delay:1.6s;-webkit-animation-delay:1.6s}.yanshi17{animation-delay:1.7s;-webkit-animation-delay:1.7s}.yanshi18{animation-delay:1.8s;-webkit-animation-delay:1.8s}.yanshi19{animation-delay:1.9s;-webkit-animation-delay:1.9s}.yanshi20{animation-delay:2s;-webkit-animation-delay:2s}.yanshi21{animation-delay:2.1s;-webkit-animation-delay:2.1s}.yanshi22{animation-delay:2.2s;-webkit-animation-delay:2.2s}.yanshi23{animation-delay:2.3s;-webkit-animation-delay:2.3s}.yanshi24{animation-delay:2.4s;-webkit-animation-delay:2.4s}.yanshi25{animation-delay:2.5s;-webkit-animation-delay:2.5s}.yanshi26{animation-delay:2.6s;-webkit-animation-delay:2.6s}.yanshi27{animation-delay:2.7s;-webkit-animation-delay:2.7s}.yanshi28{animation-delay:2.8s;-webkit-animation-delay:2.8s}.yanshi29{animation-delay:2.9s;-webkit-animation-delay:2.9s}.yanshi30{animation-delay:3s;-webkit-animation-delay:3s}.yanshi31{animation-delay:3.1s;-webkit-animation-delay:3.1s}.yanshi32{animation-delay:3.2s;-webkit-animation-delay:3.2s}.yanshi33{animation-delay:3.3s;-webkit-animation-delay:3.3s}.yanshi34{animation-delay:3.4s;-webkit-animation-delay:3.4s}.yanshi35{animation-delay:3.5s;-webkit-animation-delay:3.5s}.yanshi36{animation-delay:3.6s;-webkit-animation-delay:3.6s}.yanshi37{animation-delay:3.7s;-webkit-animation-delay:3.7s}.yanshi38{animation-delay:3.8s;-webkit-animation-delay:3.8s}.yanshi39{animation-delay:3.9s;-webkit-animation-delay:3.9s}.yanshi40{animation-delay:4s;-webkit-animation-delay:4s}.yanshi41{animation-delay:4.1s;-webkit-animation-delay:4.1s}.yanshi42{animation-delay:4.2s;-webkit-animation-delay:4.2s}.yanshi43{animation-delay:4.3s;-webkit-animation-delay:4.3s}.yanshi44{animation-delay:4.4s;-webkit-animation-delay:4.4s}.yanshi45{animation-delay:4.5s;-webkit-animation-delay:4.5s}.yanshi46{animation-delay:4.6s;-webkit-animation-delay:4.6s}.yanshi47{animation-delay:4.7s;-webkit-animation-delay:4.7s}.yanshi48{animation-delay:4.8s;-webkit-animation-delay:4.8s}.yanshi49{animation-delay:4.9s;-webkit-animation-delay:4.9s}.yanshi50{animation-delay:5s;-webkit-animation-delay:5s}.yanshi51{animation-delay:5.1s;-webkit-animation-delay:5.1s}.yanshi52{animation-delay:5.2s;-webkit-animation-delay:5.2s}.yanshi53{animation-delay:5.3s;-webkit-animation-delay:5.3s}.yanshi54{animation-delay:5.4s;-webkit-animation-delay:5.4s}.yanshi55{animation-delay:5.5s;-webkit-animation-delay:5.5s}.yanshi56{animation-delay:5.6s;-webkit-animation-delay:5.6s}.yanshi57{animation-delay:5.7s;-webkit-animation-delay:5.7s}.yanshi58{animation-delay:5.8s;-webkit-animation-delay:5.8s}.yanshi59{animation-delay:5.9s;-webkit-animation-delay:5.9s}.yanshi60{animation-delay:6s;-webkit-animation-delay:6s}.yanshi61{animation-delay:6.1s;-webkit-animation-delay:6.1s}.yanshi62{animation-delay:6.2s;-webkit-animation-delay:6.2s}.yanshi63{animation-delay:6.3s;-webkit-animation-delay:6.3s}.yanshi64{animation-delay:6.4s;-webkit-animation-delay:6.4s}.yanshi65{animation-delay:6.5s;-webkit-animation-delay:6.5s}.yanshi66{animation-delay:6.6s;-webkit-animation-delay:6.6s}.yanshi67{animation-delay:6.7s;-webkit-animation-delay:6.7s}.yanshi68{animation-delay:6.8s;-webkit-animation-delay:6.8s}.yanshi69{animation-delay:6.9s;-webkit-animation-delay:6.9s}.yanshi70{animation-delay:7s;-webkit-animation-delay:7s}.yanshi71{animation-delay:7.1s;-webkit-animation-delay:7.1s}.yanshi72{animation-delay:7.2s;-webkit-animation-delay:7.2s}.yanshi73{animation-delay:7.3s;-webkit-animation-delay:7.3s}.yanshi74{animation-delay:7.4s;-webkit-animation-delay:7.4s}.yanshi75{animation-delay:7.5s;-webkit-animation-delay:7.5s}.yanshi76{animation-delay:7.6s;-webkit-animation-delay:7.6s}.yanshi77{animation-delay:7.7s;-webkit-animation-delay:7.7s}.yanshi78{animation-delay:7.8s;-webkit-animation-delay:7.8s}.yanshi79{animation-delay:7.9s;-webkit-animation-delay:7.9s}.yanshi80{animation-delay:8s;-webkit-animation-delay:8s}.yanshi81{animation-delay:8.1s;-webkit-animation-delay:8.1s}.yanshi82{animation-delay:8.2s;-webkit-animation-delay:8.2s}.yanshi83{animation-delay:8.3s;-webkit-animation-delay:8.3s}.yanshi84{animation-delay:8.4s;-webkit-animation-delay:8.4s}.yanshi85{animation-delay:8.5s;-webkit-animation-delay:8.5s}.yanshi86{animation-delay:8.6s;-webkit-animation-delay:8.6s}.yanshi87{animation-delay:8.7s;-webkit-animation-delay:8.7s}.yanshi88{animation-delay:8.8s;-webkit-animation-delay:8.8s}.yanshi89{animation-delay:8.9s;-webkit-animation-delay:8.9s}.yanshi90{animation-delay:9s;-webkit-animation-delay:9s}.yanshi91{animation-delay:9.1s;-webkit-animation-delay:9.1s}.yanshi92{animation-delay:9.2s;-webkit-animation-delay:9.2s}.yanshi93{animation-delay:9.3s;-webkit-animation-delay:9.3s}.yanshi94{animation-delay:9.4s;-webkit-animation-delay:9.4s}.yanshi95{animation-delay:9.5s;-webkit-animation-delay:9.5s}.yanshi96{animation-delay:9.6s;-webkit-animation-delay:9.6s}.yanshi97{animation-delay:9.7s;-webkit-animation-delay:9.7s}.yanshi98{animation-delay:9.8s;-webkit-animation-delay:9.8s}.yanshi99{animation-delay:9.9s;-webkit-animation-delay:9.9s}

.inner{
  width:1040px;
  margin:0 auto;
}
.top{
  height:28px;
  background:#0046a7;
}
.time{
  font-size:12px;
  line-height:28px;
  color:#fff;
}
.topnav{
  font-size:12px;
  line-height:28px;
  color:#2f9ee0;
}
.topnav a{color:#fff;padding:0  5px;}
.topnav a:hover{text-decoration:underline;}
.header{
  height:86px;
  background: url(../images/hbg.png) ;
}

.nav li{float:left;padding-top:18px;}
.nav li a{
  display:block;
  text-align:center;
  color:#fff;
  padding:0 12px;
  padding-top:30px;
  height:36px;
 
}
.nav li a:hover{
  color:#ffdc19;
  border-bottom:2px solid #ffdc19;
}
.nav li .on{
   color:#ffdc19;
  border-bottom:2px solid #ffdc19;
}
.nv1{background: url(../images/nv1.png) no-repeat center top;}
.nv1:hover{background: url(../images/nv1cur.png) no-repeat center top;}
.nv2{background: url(../images/nv2.png) no-repeat center top;}
.nv2:hover{background: url(../images/nv2cur.png) no-repeat center top;}
.nv3{background: url(../images/nv3.png) no-repeat center top;}
.nv3:hover{background: url(../images/nv3cur.png) no-repeat center top;}
.nv4{background: url(../images/nv4.png) no-repeat center top;}
.nv4:hover{background: url(../images/nv4cur.png) no-repeat center top;}
.nv5{background: url(../images/nv5.png) no-repeat center top;}
.nv5:hover{background: url(../images/nv5cur.png) no-repeat center top;}
.nv6{background: url(../images/nv6.png) no-repeat center top;}
.nv6:hover{background: url(../images/nv6cur.png) no-repeat center top;}
.nv7{background: url(../images/nv7.png) no-repeat center top;}
.nv7:hover{background: url(../images/nv7cur.png) no-repeat center top;}
.nv8{background: url(../images/nv8.png) no-repeat center top;}
.nv8:hover{background: url(../images/nv8cur.png) no-repeat center top;}
.nv9{background: url(../images/nv9.png) no-repeat center top;}
.nv9:hover{background: url(../images/nv9cur.png) no-repeat center top;}
.nv10{background: url(../images/nv10cur.png) no-repeat center top;color:#ffdc19;}
.nv10:hover{background: url(../images/nv10cur.png) no-repeat center top; color:#ffdc19;}
.nav li  a.nv10{
  color:#ffdc19;
}
.nav .on.nv1{background: url(../images/nv1cur.png) no-repeat center top;}
.nav .on.nv2{background: url(../images/nv2cur.png) no-repeat center top;}
.nav .on.nv3{background: url(../images/nv3cur.png) no-repeat center top;}
.nav .on.nv4{background: url(../images/nv4cur.png) no-repeat center top;}
.nav .on.nv5{background: url(../images/nv5cur.png) no-repeat center top;}
.nav .on.nv6{background: url(../images/nv6cur.png) no-repeat center top;}
.nav .on.nv7{background: url(../images/nv7cur.png) no-repeat center top;}
.nav .on.nv8{background: url(../images/nv8cur.png) no-repeat center top;}
.nav .on.nv9{background: url(../images/nv9cur.png) no-repeat center top;}
.nav .on.nv10{background: url(../images/nv10cur.png) no-repeat center top;color:#ffdc19;}

.banner{
  height:446px;
  position:relative;
}
.tutu li{
  position:absolute;
  width:100%;
  height:446px;
  left:0px;
  top:0px;
  display:none;
}
.tutu li a{
  display:block;
  width:100%;
  height:446px;
  
}
.no1{background: url(../images/lun1.gif) no-repeat center top;}
.no2{background: url(../images/lun2.jpg) no-repeat center top;}
.no3{background: url(../images/lun3.jpg) no-repeat center top;}

.login{
  width:273px;
  height:327px;
  background: url(../images/login.png) no-repeat center top;
  position:relative;
  z-index:10;
  float:right;
}
.loin{
  width:223px;
  margin:0 auto;
}
.shu{
  height:35px;
  background: url(../images/shu.png) no-repeat center top;
  margin-bottom:10px;
}
.shu input{
  padding-left:28px;
  height:35px;
  border:none;
  width:192px;
  color:#525252;
}
.shu input::-webkit-input-placeholder { /* WebKit browsers*/ 
  color:#525252;
}
.shu input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
  color:#525252;
}
.shu input::-moz-placeholder {  /* Mozilla Firefox 19+*/ 
  color:#525252;
}
.shu input:-ms-input-placeholder { /* Internet Explorer 10+*/ 
  color:#525252;
}
.key1{background: url(../images/key1.png) no-repeat 8px   center ;}
.key2{background: url(../images/key2.png) no-repeat 8px   center ;}

.newbox{
   height:40px;
   background:#e8e8e8;
   border-top:1px solid #fff  ;
   border-bottom:1px solid #fff  ;
  }
  .newin{
    height: 40px;
    padding-left:133px;
    background: url(../images/newtl.png) no-repeat left center;
  }
  .lunleft{
    position:relative;
    overflow:hidden;
    height:40px;
  }
  .lunleft ul{
    position:absolute;
    left:100%;
    top: 0px;
    display:table;
  }
  .lunleft ul li{
    display:table-cell;
    white-space:nowrap;
    line-height:40px;
    color:#676767;
  }
  .game{
    width:248px;
    position:relative;
    width:100%;
  }
  .btn{
    position:absolute;
    cursor:pointer;
    top:100px;
  }
 .leftbtn{left:-50px;}
 .rightbtn{right:-50px;}
 .gain{
   position:relative;
   width:100%;
   height:248px;
   overflow:hidden;
 }
 .cai{
   position:absolute;
   width:10000px;
   height:248px;
 }
 .cai li a{
   display:block;
   width:194px;
   background:#efefef;
   height:228px;
  border-radius: 10px;
   padding-top:20px;
   margin: 0 auto;
 }
 .cai li {
   float:left;
    
 }
 .gat{
   font-size:18px;
   line-height:44px;
   text-align:center;
   color:#555555;
 }
 .tou{
   width:98px;
   margin:0 auto;
   height:35px;
   color:#fff;
   font-size:16px;
   line-height:34px;
   background: url(../images/tou1.png) no-repeat center top;
   padding-left:20px;
 }
 .cai li a:hover{
   background:#0081cd;
 }
 .cai li a:hover .gat{color:#fff;}
 .cai li a:hover .tou{color:#000;background: url(../images/tou2.png) no-repeat center top;}
 .foot{
   height:42px;
   background:#353535;
   
 }
 .cop{
   font-size:14px;
   line-height:42px;
   padding-right:20px;
   color:#fff;
 }
 .liu{
   padding-left:24px;
   padding-top:10px;
 }
 .an li{
   float:left;
   width:33.33%;
 }
 .antu{
   float:left;
   padding-left:12px;
   padding-right:14px;
 }
 .wen{
   float:left;
   
 }
 .wt{
   font-size:16px;
   color:#1f1f1f;
   line-height:24px;
   padding-top:6px;
 }
 .ww{
   font-size:12px;
   line-height:20px;
   color:#818181;
 }

.layers{
  border:5px solid #0d4481;
  width:620px;
  position:relative;
  display:none;
}
.title{
  text-align:center;
  font-size:22px;
  font-weight:bold;
  color:#fff;
  line-height:50px;
  background: url(../images/title.png) no-repeat center top;
}
.closebtn{
  position:absolute;
  right: 8px;
  top: 8px;
  width:29px;
  height:29px;
  background: url(../images/close.png) no-repeat center top;
  cursor:pointer;
}
.lyaeronct{
  width:590px;
  margin:0 auto;
  max-height: 600px;
  overflow-y: auto;
  min-height:300px;
}
.tlbox{
  width:137px;
  height:30px;
  background: url(../images/tlbg.png) no-repeat center top;
  text-align:center;
  line-height:30px;
  color:#fffa00;
  font-size:16px;
  margin-bottom:15px;
}
.wenzi{
  padding:0px 15px;
}
.hong{
  color:#ff0000;
}
@media(max-height: 600px){
  .lyaeronct{
    max-height: 400px;
  }
}

