ol,
ul,
li {
    list-style: none;
    padding: 0;
}

.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

.container {
    position: relative;
    width: 1029px;
    margin: 0 auto;
}

html {
    min-width: 1029px;
}

body {
    margin: 0;
    font-family: "Microsoft Yahei", sans-serif, Arial, Verdana;
    height: 100%;
    background: #6c0008;
    min-width: 1029px;
    overflow-x: hidden;
}

:focus {
    outline: 0;
}

.header {
    height: 160px;
    overflow: hidden;
}

.header .container {
    width: 1029px;
    margin: 0 auto;
    position: relative;
}

.login-top ul.nav-right {
    position: absolute;
    right: 10px;
}

.login-top ul,
.login-bottom ul,
.container-footer ul {
    display: inline-flex;
}

.login-top ul li .time {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
}

.login-top ul.nav-right li a, .login-top ul.nav-right {
    color: #fff;
}

.login-bottom {
    display: inline-flex;
}

.login-bottom label.icon-usn, .login-bottom label.icon-pwd, .login-bottom .forget {
    position: absolute;
    padding: 2px;
}

.login-bottom ul {
    padding-left: 0;
}

.login-bottom .slogan, .login-bottom form {
    float: left;
}

.login-bottom form {
    position: absolute;
    right: 10px;
    top: 53px;
}

.login-bottom .slogan {
    padding-right: 8px;
    position: absolute;
    top: 35px;
    left: 7px;
}

.login-top ul li a,
.login-top ul li a .seperate,
.login-bottom ul li a {
    font-size: 12px;
    margin-right: 3px;
}

.container-footer ul li a {
    font-size: 12px;
    margin-right: 27px;
}

.container-footer ul li a:hover {
    color: #ff0001;
}

.login-top ul li a:hover,
.login-bottom ul li a.forgot-pwd:hover {
    color: #ffffa3;
}

.login-top ul li a,
.login-top ul li a.seperate:hover,
.login-bottom ul li a,
.container-footer ul li a,
.container-footer .row span,
.login-top .nav-left ul li a,
.login-top .nav-right ul li a,
.navigation a,
.seperate {
    text-decoration: none;
}

.login-top ul li a,
.login-top ul li a.seperate:hover,
.login-bottom ul li a,
.container-footer ul li a,
.container-footer .row span,
.login-top .nav-left ul li a,
.navigation a,
.seperate {
    color: #000;
}

.login-top ul li a.flags {
    vertical-align: middle;
    margin-right: 3px;
}

.txt-box {
    width: 146px;
    height: 25px;
    margin-right: 6px;
    padding-left: 18px;
    background: #fff;
    border: 1px solid transparent;
    color: #000;
    border-radius: 30px;
    margin-top: 3px;
}

.banner-float {
    padding: 0;
    background: url(../img/online-service.png) top no-repeat;
    width: 130px;
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 136px;
    right: 10px;
    margin-right: 10px;
}

.banner-float a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 0;
    height: 100%;
}

.banner-float li {
    margin: 0 auto;
    position: relative;
}

.banner-float .girl {
    height: 24px;
}

.banner-float .service {
    height: 90px;
}

.banner-float .ewm {
    height: 132px;
}

.banner-float .ewm .qrcode-pic {
    margin: -5px 3px 0 1px;
    background-size: 73%;
}

.banner-float .reg, .banner-float .agent, .banner-float .qq {
    height: 35px;
}

.banner-float .close {
    width: 95px;
    height: 25px;
}


.header input[type='text']::placeholder,.header input[type='password']::placeholder {
    color: #000; /* Firefox */
    font-size: 10px;
}

.header input[type='text']:-ms-input-placeholder,.header input[type='password']::placeholder { /* Internet Explorer 10-11 */
   color: #000;
   font-size: 10px;
}

.header input[type='text']::-ms-input-placeholder,.header input[type='password']::placeholder { /* Microsoft Edge */
   color: #000;
   font-size: 10px;
}

a.nav-btn {
    display: block;
    text-align: center;
    font-size: 16px;
    width: 93px;
    height: 30px;
    border-radius: 30px;
    padding: 5px 0 0 0;
}

a.nav-btn span {
    display: block;
    margin-top: 4px;
}

a.nav-btn.login-btn, a.nav-btn.trybtn {
    color: #000;
}

a.nav-btn.login-btn {
    background: url(../img/member_login.png) center no-repeat;
}

a.nav-btn.trybtn {
    background: url(../img/free_play.png) center no-repeat;
}

a.nav-btn.regist-btn {
    background: url(../img/quick_login.png) center no-repeat;
    width: 110px;
}

a.forgot-pwd {
    padding: 7px 0;
    display: block;
    font-size: 14px;
}

.login-bottom a.forget {
    top: 21px;
    left: 309px;
}

.imgJsCode {
    background: #1b1652;
    color: #b3b3b3;
    font-family: Arial;
    font-style: italic;
    padding: 6px 10px;
    margin-right: 6px;
    border-radius: 2px;
    cursor: pointer;
}

.header {
  background: url(../img/topnav_bg.jpg) center repeat-x;
  height: 176px;
}

.navigation a {
    font-size: 14px;
    padding: 20px 2px;
    display: block;
    text-align: center;
}

.navigation li.active, .navigation li.active a, .navigation li a:hover {
    background: url(../img/navbtn_bg.png) center no-repeat;
    color: #fff;
}

.navigation li:nth-child(6).active, .navigation li:nth-child(6).active a, .navigation li:nth-child(6) a:hover {
    background: url(../img/hotbtn_bg.png) center no-repeat;
}

.navigation li:nth-child(8).active, .navigation li:nth-child(8).active a, .navigation li:nth-child(8) a:hover {
    background: none;
}

.navigation a:last-child {
    margin-right: 0;
}


.navigation .nav-btn ul {
    display: flex;
    position: absolute;
    top: 90px;
}

.navigation .nav-btn ul li {
    float: left;
    padding: 19px 0;
    width: 127px;
}

.navigation .nav-btn ul li:nth-child(6) {
    background: url(../img/hot.png) center no-repeat;
}

.navigation .nav-btn ul li:nth-child(8) {
    background: url(../img/appbtn_bg.png) top no-repeat;
    background-position-y: 5px;
    width: 138px;
}

.footer {
    height: auto;
    width: 100%;
    position: relative;
    display: inline-block;
    border-top: 30px solid #fff;
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner_02 {
    background: url(../img/banner_02.jpg) bottom repeat-x;
    height: 338px;
}

.banner_02 .ui-news marquee {
    width: 817px;
}

.index-news-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    top: 357px;
    background: url(../img/news_bg.png) bottom no-repeat;
    z-index: 2;
    height: 81px;
}

.ui-news {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    color: #fff;
    left: 0;
    right: 0;
    top: 455px;
    width: 980px;
    padding-left: 38px;
    display: inline-block;
}

.container-app {
    position: relative;
}

.wrapper-qrcode {
    display: flex;
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: 128px;
    top: 352px;
}

.qrcode-pic {
    width: 130px;
    height: 130px;
    background: url(../img/rd_app.png) center no-repeat;
    background-size: 97%;
    margin-right: 17px;
}

.index-news-wrap .ui-news {
    position: relative;
    left: auto;
    top: 45px;
    display: block;
    padding-left: 327px;
}

.banner_02 .ui-news {
    top: 304px;
    padding-left: 320px;
}

.ui-news .title {
    float: left;
    color: #e9e0b1;
    margin: 0 10px;
}

.ui-news .title,
.ui-news marquee {
    margin: 0 10px;
}

.ui-news marquee {
    width: 790px;
    padding-top: 5px;
    font-size: 12px;
}

.showbox {
    min-width: 1029px;
    background: #6c0008;
}

.showbox-bg {
  background: url(../img/show_bg.jpg) top repeat-x;
  position: relative;
  z-index: 2;
}

.showtext {
    position: relative;
    overflow: hidden;
    background: url(../img/info_bg.png) center no-repeat;
}

.wrapper-app {
    min-height: 630px;
    background: url(../img/rd_app.jpg) top repeat-x;
}

.showgames {
    height: 600px;
}

.showgames .wrap {
    position: absolute;
}

.showgames .wrap .row:nth-child(1) {
    margin: 15px 0;
}

.showgames .row {
    padding: 2px 1px;
    text-align: center;
    margin-bottom: 5px;
}

.showgames .row ul {
    padding-left: 0;
    margin-top: 11px;
}

.showgames .row ul li {
    display: inline-flex;
    margin-right: 46px;
}

.showgames .row ul li a {
    opacity: .9;
}

.showgames .row ul li a:hover {
    opacity: 1;
}

.showgames .row ul li, .showgames .row ul li .icon, .showgames .row ul li .title {
    float: left;
}

.showgames .row ul li .icon {
    width: 71px;
    margin-right: 12px;
}

.showgames .row ul li .title {
    width: auto;
    color: #fff;
    text-align: left;
    padding-top: 10px;
}

.showgames .row ul li .title span {
    width: 100%;
    display: block;
}

.showgames .row ul li .title span:nth-child(2) {
    font-size: 12px;
}

.showgames .row .game-01,
.showgames .row .game-02 {
    width: 511px;
    height: 213px;
    float: left;
    margin: 1px;
}

.showgames .row .game-01:hover,
.showgames .row .game-02:hover {
    opacity: 1;
}

a.sub-game {
  width: 190px;
  height: 150px;
  display: inline-block;
  margin: 3px 3px 0 3px;
}

.showgames .row .game-01,
.showgames .row .game-02,
a.sub-game,
a.download {
    opacity: .9;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.showgames .row .game-01:hover,
.showgames .row .game-02:hover,
a.sub-game:hover,
a.download:hover {
    opacity: 1;
}

.sub-game.game-03 {
    background: url(../img/game_03.png) top no-repeat;
}

.sub-game.game-04 {
    background: url(../img/game_04.png) top no-repeat;
}

.sub-game.game-05 {
    background: url(../img/game_05.png) top no-repeat;
}

.sub-game.game-06 {
    background: url(../img/game_06.png) top no-repeat;
}

.sub-game.game-07 {
    background: url(../img/game_07.png) top no-repeat;
}

.sub-game span {
    display: block;
    margin-top: 140px;
}

.showtext .container {
    height: 355px;
}

.showtext .row {
    width: 265px;
    float: left;
    margin-top: 100px;
    line-height: 1.65;
}

.row.article-left {
    padding: 100px 96px 0 27px;
    margin-top: 57px;
    width: 346px;
    color: #fff;
}

.row.article-right .rd-qrcode {
    background: url(../img/rd_app.png) center no-repeat;
    width: 133px;
    height: 133px;
    position: absolute;
    right: -3px;
    top: 135px;
    background-size: 100%;
}

.showtext .row p, .showtext .row marquee {
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 114px;
}

.showtext .row p span {
    display: block;
}

a.download {
    display: block;
    background: url(../img/download_btn.png) center no-repeat;
    width: 150px;
    height: 40px;
    position: absolute;
    right: -89px;
    top: 239px;
}

.footer .container {
    top: -60px;
}

.container-footer .row {
    display: block;
    text-align: center;
}

.container-footer .row:nth-child(3) {
    padding-top: 15px;
}

.container-footer .row:nth-child(3) span {
    color: #fff;
    padding-top: 15px;
}

.container-footer .row span {
    font-size: 12px;
}

.container-footer .row.row-bank {
    padding: 1% 15%;
}

.container-footer .row ul {
    height: 60px;
    width: 100%;
}

.container-footer .row ul li {
    width: 100%;
    margin-top: 18px;
}

.container-footer .footer-info {
    display: flex;
    color: #fff;
    margin-top: 15px;
}

.container-footer .footer-info .lead-title {
    text-align: left;
    border-bottom: 1px solid #3950ff;
}

.container-footer .footer-info .lead-title span {
    font-size: 18px;
    display: block;
    padding-bottom: 5px;
}

.container-footer .footer-info .row {
    width: 33%;
    margin-right: 15px;
}

.container-footer .footer-info .row p {
    font-size: 10px;
    text-align: left;
}


.left-list,
.main-content {
    float: left;
    display: block;
    height: auto;
    margin: 10px 5px;
}

.left-list {
    width: 240px;
    position: relative;
    z-index: 20;
    top: -18px;
}

.left-list ul {
    padding-top: 2px;
    padding-left: 0;
    box-shadow: 1px 2px 2px rgba(0,0,0, .5);
}

.left-list ul li {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea0000+1,c70000+44,a60000+57,6a0103+100 */
    background: #ea0000; /* Old browsers */
    background: -moz-linear-gradient(top, #ea0000 1%, #c70000 44%, #a60000 57%, #6a0103 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ea0000 1%,#c70000 44%,#a60000 57%,#6a0103 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ea0000 1%,#c70000 44%,#a60000 57%,#6a0103 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0000', endColorstr='#6a0103',GradientType=0 ); /* IE6-9 */
    height: 30px;
    padding: 20px 20px 20px 60px;
}

.left-list ul li a {
    color: #fff;
}

.left-list ul li a:hover {
    color: #ffd53c;
}

.left-list .icon {
    width: 20%;
    padding-right: 10px;
    padding-top: 3px;
}

.left-list .icon b {
  display: block;
  width: 33px;
  height: 33px;
  background: url(../img/list_icons.png);
}

.left-list .icon b.icon-01 {
    background-position: 0 0;
}

.left-list .icon b.icon-02 {
    background-position: 0 -78px;
}

.left-list .icon b.icon-03 {
    background-position: 0 -156px;
}

.left-list .icon b.icon-04 {
    background-position: 0 -230px;
}

.left-list .icon b.icon-05 {
    background-position: 0 -308px;
}

.left-list .icon b.icon-06 {
    background-position: 0 -382px;
}

.left-list .title {
    width: 70%;
}

.left-list .title span {
    width: 100%;
    display: block;
}

.left-list .title span:nth-child(2) {
    font-size: 12px;
}

.left-list .icon,
.left-list .title {
    display: block;
    float: left;
}

.main-content {
    width: 730px;
    color: #fff;
    background: #3c0405;
    border: none;
    font-size: 12px;
    padding: 15px;
}

.main-content-activity {
    width: 982px;
    text-align: center;
}

.main-content-activity a img {
    opacity: .9;
}

.main-content-activity a img:hover {
    margin-left: 20px;
    opacity: 1;

}

.main-content .title {
    color: #ffd53c;
    font-size: 14px;
}

.main-content p {
    line-height: 1.85;
    word-break: break-all;
    padding: 0;
    white-space: normal;
    text-align: justify;
}

.main-content h4,
.main-content h5 {
    margin: 5px 0;
}

.main-content.main-content-issue {
    padding-bottom: 72px;
}

.main-content.main-content-contact {
    padding-bottom: 195px;
}

.table-info {
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-right: 1px solid rgba(255, 255, 255, .4);
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    background: #363636;
}

.table-info th,
.table-info td {
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .4);
}

.table-info td {
    color: #ffe588;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.form-bg {
    background: #e7e7e7;
    padding: 15px;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    font-size: 16px;
    color: #f96900;
}

.font-orange {
    color: #ff6216;
}

.font-grey {
    color: #7c7c7c;
}

.form-regist .row {
    line-height: 46px;
    display: flex;
    width: 100%;
}

.form-regist input[type="text"],
.form-regist input[type="password"] {
    background: #fff;
    border: 1px solid #a4a4a4;
    padding: 5px;
    width: 190px;
    height: 22px;
    color: #000;
}

.form-regist .form-left {
    text-align: right;
    display: inline-block;
    width: 15%;
    color: #000;
}

.form-regist .form-left b {
    margin-right: 5px;
}

.form-regist .form-center {
    width: 32%;
    text-align: center;
}

.form-regist .form-right {
    display: inline-block;
    width: 52%;
}

.form-regist .form-left, .form-regist .form-center, .form-regist .form-right {
    float: left;
}


/* slider */
.dl {
    min-width: 1029px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.slick-slider {
  left: 50%;
  margin-left: -960px;
}


/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: 126%;
    left: 187%;
    margin-left: -60px;
    font-size: 8px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* tab-view */
.ui-widget-header {
    border: none;
    background: transparent;
    color: #ffd53c;
    font-weight: bold;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-content {
    border: none;
    background: transparent;
    color: #fff;
}

.ui-tabs .ui-tabs-panel {
    padding: 1em 0.5em;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    background: #290d96;
    outline: none;
    border-radius: 30px;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #f3e829;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li {
    margin: 1px 1.5em 0 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    color: #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    outline: none;
}


/* dropdown */
.form-regist .ui-button .ui-icon {
    background: url(../img/dropdown_btn.png) center no-repeat;
}

.form-regist .ui-selectmenu-button.ui-button {
    width: 7%;
    border-radius: 0;
    border: 1px solid #6d57f2;
}

.form-regist select {
    border-color: #a4a4a4;
    background: #fff;
    color: #000;
    height: 30px;
    padding: 0 8px;
}

.form-regist .imgCode {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    margin-left: -71px;
    margin-top: 10px;
    color: #000;
}

.form-button .row {
    padding: 20px 0 10px 119px;
}

.form-button input {
    border: 1px solid #707070;
    color: #313131;
    cursor: pointer;
    height: 28px;
    width: 90px;
}

.form-button input[type="submit"] {
    background: #f08300;
    color: #fff;
    border: none;
    width: 170px;
    height: 35px;
}

.form-button input[type="submit"]:hover {
    background: #d87600;
}

.form-button a.popup {
    background: transparent;
    color: #ff0000;
    border: none;
    width: 180px;
    height: 35px;
    text-decoration: none;
    margin-left: 35px;
}

.form-button a.popup:hover {
    color: #6c0008;
}

.form-button.form-checkbox .row {
    width: 307px;
    padding: 10px 20px 10px 65px;
}

.tabs li {
  float: left;
  margin-right: 10px;
  background: #ea0000;
  background: -moz-linear-gradient(top, #ea0000 1%, #c70000 44%, #a60000 57%, #6a0103 100%);
  background: -webkit-linear-gradient(top, #ea0000 1%,#c70000 44%,#a60000 57%,#6a0103 100%);
  background: linear-gradient(to bottom, #ea0000 1%,#c70000 44%,#a60000 57%,#6a0103 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0000', endColorstr='#6a0103',GradientType=0 );
  width: 80px;
  padding: 5px;
  text-align: center;
}

.tabs a {
    color: #fff;
    text-decoration: none;
}

.tabs li:hover {
    color: #ffd53c;
}

/* bar */
.lineshow {
    margin: 0 0  26px 0;
    background: transparent;
    background-position: -5px -497px;
    width: 282px;
    height: 12px;
    overflow: hidden;
    position: relative;
    float: left;
    border-radius: 20px;
    border: 1px solid #fff;
}

.floatling {
    display: block;
    position: absolute;
    left: -153px;
    top: 0;
    width: 203px;
    height: 12px;
    background: #fff;
    border-radius: 20px;
}

/*login pop-up */
.popup {
  cursor: pointer;
}

.popup-main {
    width: 620px;
    height: 290px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -300px;
    z-index: 9999;
    background: url(../img/popup_bg.png) center no-repeat;
    display: none;
}

.popup-main .show {
    visibility: visible;
}

.cross {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    opacity: .9;
}

form.fill-in {
    text-align: right;
    padding-right: 20px;
}

form.fill-in input {
    width: 300px;
    height: 28px;
    border-radius: 30px;
    margin: 11px 0 3px 0;
    padding-left: 12px;
    color: #000;
    border-color: transparent;
}

form.fill-in .fast-login, form.fill-in .sign-up {
    width: 317px;
    height: 35px;
    cursor: pointer;
    opacity: .9;
    display: inline-block;
}

.cross:hover, form.fill-in .fast-login:hover, form.fill-in .sign-up:hover {
    opacity: 1;
}

form.fill-in .fast-login {
    background: url(../img/fast_login.png) center no-repeat;
}

form.fill-in .sign-up {
    background: url(../img/sign_up.png) center no-repeat;
    margin-top: 10px;
}

/* activity */
.rules ul li .text {
    background: #3c0405;
    width: 937px;
    padding: 5px 10px;
    line-height: 1.75;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}
.rules ul li .text p {
    margin: 10px;
}