a {
    text-decoration: none;
}

.hide {
    display: none;
}

.inner {
    width: 1040px;
    margin: 0 auto;
}

.top {
    height: 35px;
    background: #433E81;
}

.time {
    font: 12px/34px "SimSun";
    color: #fff;
}

.db {
    display: block;
}

.shuk {
    height: 27px;
    background: white;
    border: none;
    border-radius: 5px;
    padding-left: 6px;
    float: left;
    width: 148px;
    color: #1e353f;
    font-size: 12px;
    outline: none;
    margin-left: 3px;
}

.saj {
    color: #fff;
    font-size: 12px;
    height: 27px;
    float: left;
    background: #1E343F;
    border-radius: 5px;
    text-align: center;
    width: 62px;
    margin-right: 5px;
    display: block;
    line-height: 26px;
}

.wang {
    height: 24px;
    line-height: 24px;
    margin-top: 2px;
    width: 52px;
    margin-left: -54px;
}

.lgsub {
    background: url(../img/enter.png) no-repeat center;
    width: 59px;
    height: 27px;
    display: block;
    border: none;
    cursor: pointer;
}

.lgsub:hover {
    position: relative;
    top: 1px;
}

.saj2 {
    background: #CA1315;
}

.ml5 {
    margin-left: 5px;
}

.header {
    height: 92px;
    border-bottom: 1px solid #433E81;
}

.nav li {
    float: left;
    width: 97px;
    padding-left: 2px;
    background: url(../img/ge.png) no-repeat left center;
    height: 92px;
}

.nav li a {
    display: block;
    color: #333333;
    text-align: center;
    padding-top: 27px;
    height: 65px;
}

.big {
    line-height: 24px;
    font-size: 16px;
}

.small {
    font-size: 12px;
    line-height: 16px;
}

.nav li a:hover {
    background: url(../img/di.png) no-repeat bottom center;
}

.nav .on a {
    background: url(../img/di.png) no-repeat bottom center;
}

.banner {
    height: 370px;
    position: relative;
}

.banner .tutu li {
    position: absolute;
    width: 100%;
    height: 370px;
    top: 0px;
    display: none;
    left: 0px;
}

.banner .tutu li a {
    display: block;
    width: 100%;
    height: 370px;
}

.yuandian {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 45px;
    bottom: 0px;
    left: 0px;
}

.yuandian span {
    width: 0px;
    height: 0px;
    font-size: 0px;
    padding: 7px;
    background: white;
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;
}

.yuandian .cur {
    background: #FFE287;
}

.youhui {
    width: 281px;
    position: relative;
    z-index: 9;
    height: 332px;
    background: url(../img/hui.png) no-repeat top center;
}

.zhi {
    font-size: 40px;
    line-height: 46px;
    color: #fca615;
    padding-left: 25px;
    font-weight: bold;
}

.jin {
    color: #433e81;
    font-size: 22px;
    padding-left: 25px;
    line-height: 36px;
    font-weight: bold;
}

.jie {
    color: #757575;
    padding-left: 25px;
    font-weight: bold;
}

.hao {
    width: 259px;
    height: 342px;
    background: url(../img/qi.png) no-repeat top center;
    float: left;
}

.lun {
    width: 196px;
    margin: 0 auto;
    height: 224px;
    /*position: relative;*/
}

.btn {
    display: block;
    cursor: pointer;
    margin-top: 55px;
}

.lunin {
    width: 110px;
    margin-left: 38px;
    height: 224px;
    overflow: hidden;
    position: relative;
    float: left;
}

.lunin li {
    float: left;
    width: 109px;
}

.lunin li div {
    padding-bottom: 5px;
}

.lunin ul {
    position: absolute;
    width: 100000px;
    height: 224px;
    top: 0px;
    left: 0px;
}

body {
    background: #fbfbfb;
}

.sai {
    overflow: hidden;
    width: 780px;
    float: left;
    margin-top: 19px;
    margin-left: -2px;
    background: white;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.sai li {
    float: left;
    width: 194px;
    height: 125px;
    padding-top: 18px;
    position: relative;
    text-align: center;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
}

.zhe {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 198px;
    height: 142px;
    display: none;
    background: url(../img/zhe.png) no-repeat center;
}

.sait {
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    color: #433e81;
}

.tou {
    height: 28px;
    width: 94px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 28px;
    border-radius: 30px;
    background: #FF9900;
}

.foot {
    background: #3C3777;
}

.footer {
    background: #433E81;
}

.sadi {
    float: left;
    width: 190px;
    padding: 0px 9px;
}

.diti {
    font-size: 14px;
    color: #f6ff00;
    line-height: 30px;
    border-bottom: 1px solid #6059A6;
    padding-left: 40px;
}

.diti1 {
    background: url(../img/diti1.png) no-repeat 6px center;
}

.diti2 {
    background: url(../img/diti3.png) no-repeat 6px center;
}

.diti3 {
    background: url(../img/diti2.png) no-repeat 6px center;
}

.diti4 {
    background: url(../img/diti4.png) no-repeat 6px center;
}

.diti5 {
    background: url(../img/diti5.png) no-repeat 6px center;
}

.list li {
    padding-left: 40px;
}

.list li a {
    font: 12px/30px "SimSun";
    color: #fff;
}

.list li a:hover {
    text-decoration: underline;
}

.you1 {
    float: left;
    width: 251px;
}

.c3f {
    color: #3f3f3f;
}

.c78 {
    color: #787876;
}

.c84 {
    color: #848483;
}

.you2 {
    float: left;
    width: 340px;
    padding: 0px 60px;
}

.you3 {
    float: right;
    width: 295px;
}

.l90 {
    line-height: 90px;
}

.content {
    min-height: 800px;
    background: url(../img/bg.jpg) no-repeat top center #d0d6ec;
    padding-bottom: 22px;
}

.huan {
    height: 62px;
    margin-bottom: 9px;
}

.huan li {
    float: left;
    line-height: 62px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.huan1 {
    background: url(../img/ht1.png) no-repeat top center;
}

.huan2 {
    background: url(../img/ht2.png) no-repeat top center;
}

.huan1 li {
    width: 33.33%;
}

.huan li em {
    font-size: 26px;
    line-height: 62px;
}

.nei {
    background: white;
    border: 2px solid #BFBFBF;
    /*height: 556px;*/
}

.nei2 {}

.zhushu {
    height: 38px;
    padding-bottom: 15px;
    position: relative;
}

.zhushu .imgCode {
    position: absolute;
    width: 80px;
    height: 32px;
    cursor: pointer;
    left: 339px;
    top: 3px;
}

.zhushu .regsub {
    background: url(../img/chuang.png) no-repeat center;
    border: none;
    width: 266px;
    height: 38px;
    cursor: pointer;
}

.zhushu span {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 38px;
}

.red {
    color: #ff0000;
}

.tear {
    text-align: right;
}

.zhushu input {
    float: left;
    height: 36px;
    outline: none;
    width: 260px;
    padding-left: 10px;
    border: 1px solid #D2D2D2;
    margin-right: 15px;
}

.zhushu select {
    float: left;
    height: 36px;
    margin-right: 5px;
    width: 64px;
}

.huan2 li {
    width: 25%;
    cursor: pointer;
}

.neiin {
    padding: 20px;
}

.dai {
    font-size: 24px;
    line-height: 32px;
    color: #433e81;
}

.huan3 {
    background: url(../img/ht3.png) no-repeat top center;
}

.huan3 li {
    width: 20%;
    cursor: pointer;
}

h6 {
    color: #433e81;
    font-size: 24px;
    line-height: 40px;
}

.neiin p {
    font-size: 14px;
    line-height: 30px;
}

.top a:hover {
    text-decoration: underline;
    position: relative;
    top: 1px;
}


/*radio*/

.radio {
    height: 36px;
    background: #433e81;
}

.radio .wrap {
    padding-left: 105px;
    height: 36px;
    background: url(../img/newtl.png) no-repeat left center;
}

.radio marquee{
    line-height: 36px;
    font-size: 14px;
    color: #fff;
}

.home_float {
    width: 151px;
    height: 276px;
    position: fixed;
    left: 50%;
    top: 145px;
    margin-left: -690px;
    background: url(../img/float.png);
}
.activity_item {
    margin-bottom: 20px;
}
.activity_toggle_link{
    text-align: center;
}
.activity_toggle_link img {
    max-width: 100%;
}
.activity_content { 
    padding: 20px; 
    line-height: 1.2;
    background: rgba(229, 231, 244, 0.37);
}
.activity_content table {
    width: 60%;
    text-align: center;
}
.activity_content thead th {
    background: #fef8a9;
    text-align: center;
}
.activity_content th, .activity_content td {
    border: 1px solid #CCC;
    padding: 5px;
}
.activity_content p {
    line-height: 1.6;
    margin-top: 15px;
    font-size: 15px;
}
.activity_content h3 {
    text-align: center;
    font-size: 24px;
}
.activity_content strong {
    font-size: 1.1em;
    font-weight: bold;
}