/*---------- base ---------*/

* {
    padding: 0px;
    margin: 0px;
}

html {
    background: #FFF;
}

body {
    font: 12px "Microsoft YaHei UI", "宋体", "新宋体";
    color: #ffffff;
    min-width: 1030px;
}

img {
    border: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

input,
select,
button {
    font: 12px "宋体", "新宋体";
    vertical-align: middle;
}

.clr {
    clear: both;
}

.w1030 {
    width: 1030px;
    margin: 0 auto;
}

.round {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.round6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}



/*---------- 首页 ---------*/

.header {
    width: 100%;
    background: #0c29b6;
    height: 40px;
    position: relative;
    overflow: hidden;
}

#logInfo {
    line-height: 40px;
    float: left;
}

.header_fl {
    float: left;
    margin-left: 20px;
}

.header_fl a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.header_fr {
    float: right;
}

.login_form {
    height: 40px;
    line-height: 36px;
    float: left;
    position: relative;
}

.login_form input {
    border: none;
    text-indent: 1em;
}

.zhanghu {
    width: 180px;
    height: 28px;
    background: #c6c6c6;
    color: #998b98;
}

.mima {
    width: 180px;
    height: 28px;
    background: #c6c6c6;
}

.btn_login {
    background: #ffffff;
    width: 46px;
    height: 26px;
    text-indent: 0!important;
    color: #333333;
    cursor: pointer;
}

.regist {
    width: 70px;
    height: 26px;
    background: #0088ff;
    display: block;
    float: left;
    line-height: 26px;
    text-align: center;
    margin: 7px 6px;
}

.kefu {
    width: 84px;
    height: 26px;
    background: url(../images/kf.png) no-repeat;
    display: block;
    float: left;
    margin-top: 7px;
}

.forget {
    width: 40px;
    height: 20px;
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 9px;
    background: #e5e5e5;
    border: 1px solid #999999;
    color: #999999;
    line-height: 20px;
    left: 134px;
    display: block;
    cursor: pointer;
}

.forget:hover {
    color: #999999;
    background: #f5f5f5;
}

.fo2 {
    left: 320px;
}

.main {
    width: 100%;
    height: 892px;
    background: url(../images/index_bg.jpg) no-repeat top center;
    position: relative;
}

.header_nav {
    background: url(../images/nav_bg.png) no-repeat top center;
    height: 84px;
    position: relative;
}

.logo {
    margin: -5px 0 0 45px;
}

.nav {
    width: 660px;
    height: 80px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 60px;
}

.nav ul li {
    display: inline-block;
    line-height: 80px;
    font-size: 14px;
    margin: 0 20px;
}

.main_text {
    background: url(../images/index_text.png) no-repeat;
    width: 663px;
    height: 213px;
    margin-top: 80px;
    margin-left: 30px;
}

.game {
    background: url(../images/game.png) no-repeat top center;
    width: 1030px;
    height: 140px;
    margin-top: 270px;
}


/*---------- footer ---------*/

.footer {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

.footer_icon {
    background: url(../images/bottom_icon.png) no-repeat top center;
    width: 1030px;
    height: 40px;
}


/*---------- 内页 ---------*/

.main_page {
    background-color: #ffffff;
    background: url(../images/page_bg.jpg) no-repeat top center;
    height: 100%;
    min-height: 850px;
    position: relative;
}

.page_text {
    background: url(../images/page_text.png) no-repeat;
    width: 363px;
    height: 118px;
    margin-left: 15px;
    margin-top: 15px;
}

.page_cont {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    min-height: 700px;
    background: #ffffff;
    border: 1px solid #9e9e9e;
    margin-top: 40px;
}

.main_page .footer_cont {
    color: #0b1469;
    margin-bottom: 20px;
}


/*---------- 常见问题 ---------*/

.quest_tit,
.promo_tit,
.daili_tit {
    margin-left: 230px;
}

.quest_tit a,
.daili_tit a {
    display: inline-block;
    width: 126px;
    height: 42px;
    background: #075db5;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.quest_tit .on,
.daili_tit .on {
    background: #5cb85c;
}

.quest_cont,
.daili_cont,
.promo_cont {
    width: 975px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #3a3a3a;
    font-size: 15px;
}

.quest_cont .about h3 {
    height: 30px;
    font-size: 24px;
    margin-bottom: 10px;
}

.quest_cont .about p,
.daili_cont p,
.promo_cont p {
    line-height: 30px;
    word-spacing: 10px;
}


/*---------- 最新优惠 ---------*/

.promo_tit a {
    display: inline-block;
    width: 126px;
    height: 42px;
    background: #e7e7e7;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #333333;
}

.promo_tit .on {
    background: #075db5;
    color: #ffffff;
}

.promo_cont h3 {
    font-size: 24px;
    color: #ff0000;
}

.promo_cont p i,
.daili_cont p i {
    color: #ff0000;
    font-style: normal;
}

.promo_cont table {
    width: 400px;
    height: 120px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    text-align: center;
    border-collapse: collapse;
}

.promo_cont table tr td {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}


/*---------- 注册 ---------*/

.daili_reg hr {
    margin-top: 30px;
    height: 1px;
    border: none;
    border-top: 1px solid #efefef;
}

.reg_form {
    width: 850px;
    margin: 0 auto;
    position: relative;
}

.reg_tit {
    color: #e2413e;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #b2b2b2;
}

.daili_reg_form {
    margin-top: 30px;
    font-size: 14px;
    word-spacing: 4px;
    color: #333333;
}

.daili_reg_form li {
    height: 40px;
    margin-bottom: 5px;
    position: relative;
}

.daili_reg_form li i {
    font-style: normal;
    width: 65px;
    text-align: right;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.daili_reg_form li input {
    border: 1px solid #6d6d6d;
    height: 32px;
    width: 222px;
    text-indent: 1em;
}

.daili_reg_form li span {
    margin-left: 10px;
    color: #948d94;
}

.daili_reg_form li select {
    width: 48px;
    height: 30px;
    border: 1px solid #6d6d6d;
}

.tijiao {
    border: none;
    background: url(../images/zhuce.png) no-repeat;
    width: 135px;
    height: 34px;
    cursor: pointer;
    margin-top: 10px;
}

.reg_login {
    border: none;
    background: url(../images/denglu.png) no-repeat;
    width: 135px;
    height: 34px;
    cursor: pointer;
    margin-top: 10px;
}

.denglu {
    color: #d7004f;
    display: inline-block;
    height: 34px;
    width: 100px;
    text-align: center;
    line-height: 34px;
    margin-top: 10px;
}

.denglu:hover {
    color: #d7004f
}

.code {
    display: block;
    background: url(../images/code.jpg) no-repeat;
    width: 96px;
    height: 30px;
    position: absolute;
    top: 7px;
    left: 190px;
}

.radio {
    position: absolute;
    bottom: -25px;
    height: 20px;
    left: 60px;
    width: 860px;
    padding-left: 40px;
    background: url(../images/radio.png) no-repeat 10px 0;
}

.hide{
    display: none;
}

.imgCode{
    position: absolute;
    left: 310px;
    top: 6px;
    width: 78px;
    height: 30px;
    cursor: pointer;
}

.float{
    position: fixed;
    right: 10px;
    top: 50%;
    height: 340px;
    width: 109px;
    transform:translate(0,-50%);
    background: url(../images/float/v_pic.png) no-repeat center;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.float .appewm{
    position: absolute;
    top: 43px;
    left: 50%;
    transform:translateX(-50%);
    width: 85%;
}
.float .appewm img{
    width: 100%;
}

.appdownload{
    text-align: center;
    padding: 30px 0;
    color: #000;
    background: #eee;
    font-size: 20px;
}
.appdownload .ewm{
    margin-bottom: 30px;
}
.appdownload .teach img{
    width: 500px;
}

/*---------- 活動 ---------*/
.rules .banner {
    display: inline-flex;
}

.rules li {
    box-shadow: 0 4px 10px rgba(0,0,0, .2);
    margin: 10px 0;
    padding: 10px 10px 5px 10px;
}

.rules h2 {
    color: #0074ea;
}

.rules h4 {
    color: #9e9e9e;
    display: block;
    height: 38px;
    line-height: 1.75;
}

.rules p {
    text-align: left;
    margin: 5px auto;
    display: block;
    padding: 5px 0 0 0;
    border-top: dotted;
    border-top-color: #ddd;
}

.rules img {
    margin-right: 10px;
}

.rules button {
    position: relative;
    top: 71px;
    font-size: 18px;
    padding: 5px 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff670f+0,ff3f00+100 */
    background: #ff670f; /* Old browsers */
    background: -moz-linear-gradient(top, #ff670f 0%, #ff3f00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff670f 0%,#ff3f00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff670f 0%,#ff3f00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff3f00',GradientType=0 ); /* IE6-9 */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.rules button:focus {
    outline: none;
}

.rules span.title {
    background: #ddd;
}
