* {
    margin: 0;
    padding: 0;
}

.inner {
    width: 1000px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

img {
    border: 0 none;
    vertical-align: middle;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

.logos {
    float: left;
    width: 300px;
    margin-top: 50px
}

a:active,
a:hover,
:focus {
    outline: 0;
}

body,
input,
button,
select,
textarea {
    font: 12px/1.5 "Microsoft YaHei", Arial, \5b8b\4f53, sans-serif;
    color: #333;
}

.icon,
.btn {
    display: inline-block;
}

.icon {
    position: relative;
    vertical-align: top;
    background: url(../img/icon.png) no-repeat;
}

.btn {
    border: 0 none;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
    filter: alpha(Opacity=90);
}

html,
body {
    height: 100%;
}

body {
    background: url(../img/bg.jpg) no-repeat center bottom #03aefe;
    min-width: 1000px;
}

.register-bg {
    background: #ffffff;
}

.register-container {
    overflow: hidden;
}

.register-header {
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    background: url(../img/banner.jpg) center;
    height: 235px
}

.register-banner {
    height: 325px;
    overflow: hidden;
    background: url(../img/register_banner.jpg) no-repeat center top;
}

.register-inner {
    padding: 14px 49px 100px;
    margin-top: 40px;
    border: 1px solid #efefef;
    background-color: #fff;
}

.register-heading {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #b2b2b2;
    font-size: 18px;
    color: #e2413e;
    font-weight: bold
}

.register-heading .icon-edit {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: 4px;
    margin-right: 10px;
    background-position: 0 0;
}

.register-form {
    margin-top: 65px;
    font-size: 14px;
    .input-group {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .ipt-lab,
    .ipt,
    .ipt-wrap,
    .ipt-tip,
    .imgCode,
    select {
        display: inline-block;
        vertical-align: bottom;
    }
    .ipt-wrap {
        width: 220px;
    }
    select {
        width: 50px;
        height: 32px;
        border: 1px solid #6d6d6d;
        border-radius: 3px;
    }
    .imgCode {
        position: absolute;
        left: 224px;
        top: 5px;
        width: 78px;
        height: 26px;
        cursor: pointer;
    }
    .ipt-tip {
        margin-left: 20px;
    }
    .ipt-lab {
        width: 75px;
        margin-right: 10px;
        text-align: right;
    }
    .ipt-tip {
        color: #8d8d8d;
    }
    .ipt {
        width: 200px;
        border: 1px solid #6d6d6d;
    }
    .btn-group {
        padding-left: 85px;
        padding-top: 35px;
        .btn {
            display: block;
            width: 270px;
            height: 40px;
            line-height: 40px;
            margin-bottom: 15px;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
        }
        .btn-reg {
            width: 135px;
            height: 34px;
            background: url(../img/bt1.png);
            line-height: 34px;
            float: left;
            &:hover {
                opacity: .9;
                filter: alpha(Opacity=90);
            }
        }
        .btn-login {
            width: 135px;
            height: 34px;
            background: url(../img/bt2.png);
            line-height: 34px;
            float: left;
            &:hover {
                opacity: .9;
                filter: alpha(Opacity=90);
            }
        }
    }
}

.register-form .ipt-lab,
.register-form .ipt-tip,
.login-form .ipt-lab {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}

.register-form .ipt,
.login-form .ipt {
    height: 24px;
    line-height: 24px \9;
    padding: 5px 9px;
    border-radius: 5px;
}

.zhanghu {
    display: inline-block;
    float: left;
    line-height: 34px;
    margin: 0px 22px;
    color: #d70000
}

.footer {
    padding-top: 25px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.footer p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-container .footer {
    color: #858585;
}

.header {
    height: 150px;
    overflow: hidden;
}

.logo {
    position: relative;
    float: left;
    margin-top: 36px;
    padding-right: 242px;
    background: url(../img/slogan.png) no-repeat right top;
}

.logo .url {
    position: absolute;
    z-index: 9;
    top: 48px;
    right: 0;
    width: 206px;
    height: 24px;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.content {
    margin-top: 25px;
}

.float-login {
    position: relative;
    float: right;
    width: 254px;
    height: 325px;
    padding: 1px 20px;
    color: #fff;
    background: url(../img/login_bg.png) no-repeat;
}

.float-login h3 {
    height: 62px;
    line-height: 62px;
    overflow: hidden;
    font-size: 18px;
    font-weight: normal;
}

.login-form {
    height: 128px;
    padding-top: 15px;
}

.login-form .input-group {
    position: relative;
    margin-bottom: 10px;
}

.login-form .ipt-lab {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #333333
}

.login-form .ipt-lab i {
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 11px;
    margin-right: 8px;
}

.login-form .ipt-lab .icon-user {
    background-position: 0 0px;
}

.login-form .ipt-lab .icon-lock {
    background-position: 0px -48px;
}

.login-form .ipt {
    width: 134px;
    padding-left: 80px;
    border: 1px solid #484848;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
}

.login-form .btn-group {
    overflow: hidden;
}

.login-form .btn-group .btn,
.float-login .btn-visit {
    color: #fff;
    font-size: 18px;
}

.login-form .btn-group .btn {
    float: left;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    background-color: #0085b7;
}

.login-form .btn-group a.btn {
    width: 105px;
    line-height: 32px;
}

.login-form .btn-group .btn-login {
    margin-right: 12px;
    border-color: #2d8800;
    background-color: #2d8800;
    width: 105px;
    color: #ffffff;
}

.float-login .btn-visit {
    display: block;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #eb1919, #c40606);
    background-image: -moz-linear-gradient(top, #eb1919, #c40606);
    background-image: -o-linear-gradient(top, #eb1919, #c40606);
    background-image: linear-gradient(to bottom, #eb1919, #c40606);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eb1919', endColorstr='#c40606', GradientType=0);*/
    width: 224px
}

.float-login .btn-os {
    position: absolute;
    z-index: 9;
    top: 6px;
    right: 15px;
    width: 124px;
    height: 62px;
    line-height: 54px;
    padding-left: 40px;
    font-size: 13px;
    background: url(../img/kf.png) no-repeat;
}

.float-ad {
    float: left;
    margin-left: 90px;
}

.float-side {
    width: 120px;
    height: 350px;
    position: fixed;
    left: 50%;
    margin-left: 500px;
    top: 143px;
    background: url(../img/float_side.png) no-repeat;
    .Link {
        display: block;
        position: absolute;
        width: 94px; height: 24px;
        left: 15px;
    }
    a{
        position:absolute;
        width:100%;

    }
    .close{
        bottom:0;
        left:0;
        height:20px;
    }
}

.nav {
    float: right;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    margin-top: 15px;
    font-size: 14px;
    a {
        float: left;
        margin-left: 10px;
        color: #fff;
        width: 100px;
        height: 33px;
        display: inline-block;
        background: url(../img/nav.png) no-repeat;
        text-align: center;
        line-height: 33px;
        &:hover {
            background: url(../img/navbg.png) no-repeat;
            color: #ffd81f;
        }
        &:first-child {
            margin-left: 0;
        }
        &.open-le {
            color: #ffd81f;
        }
        &.current {
            color: #ffd81f;
        }
    }
}

.fr {
    float: right;
    width: 665px;
    margin-top: 50px
}

.radio {
    position: relative;
    float: left;
    width: 540px;
    height: 18px;
    overflow: hidden;
    padding-left: 95px;
    color: #a5a5a5;
    margin-left: 19px;
    h3 {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        color: #ffffff;
        font-weight: normal;
        .icon-horn {
            float: left;
            width: 20px;
            height: 18px;
            margin-top: 1px;
            margin-right: 5px;
            background: url(../img/gg.png) left top no-repeat
        }
    }
    marquee {
        color: #fff;
    }
}

.index .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.zlc-model {}

.model-content {
    padding: 0 15px;
    h4,
    p {
        line-height: 24px;
    }
    h4 {
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: normal;
        color: #98282b;
    }
    p {
        margin-bottom: 25px;
    }
    .warn {
        color: #e43232;
    }
}

.zlc-faq .icon-doubt,
.jc-aboutus .icon-i {
    float: left;
    width: 12px;
    height: 13px;
    margin-top: 6px;
    margin-right: 10px;
}

.zlc-faq .icon-doubt {
    background-position: -140px 0;
}

.zlc-aboutus .icon-i {
    background-position: -170px 0;
}

.zlc-appdl {
    text-align: center;
    img { width: 80%; }
    .ewm {
        width: 30%;
        margin-bottom: 20px;
    }
}

.prom-table,
.prom-table th,
.prom-table td {
    border: 1px solid #b5e2ff;
}

.prom-table {
    margin-bottom: 25px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    background-color: #FFFFFF
}

.prom-table tr {
    height: 40px;
}

.prom-table th,
.prom-table td {
    padding-left: 20px;
    padding-right: 20px;
}

.prom-table td {
    color: #e43232;
}

.agency-actions {
    height: 40px;
    line-height: 40px;
    margin: 20px 0px;
}

.agency-actions a {
    width: 115px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    background-color: #98292b;
}

.agency-actions .btn-login {
    float: left;
}

.agency-actions .btn-reg {
    float: right;
}

.agency-login {
    position: relative;
    height: 475px;
    margin-top: 150px;
    background: url(../img/agency_login_banner.jpg) no-repeat center;
}

.agency-login .user-login {
    top: 70px;
}

.agency-login .login-form .ipt {
    width: 150px;
}

.agency-login .login-form .btn-login {
    width: 209px;
    height: 50px;
    margin-top: 5px;
    margin-left: -3px;
    background-position: 0 -280px;
}

.agency-login .jc-logo {
    background: none;
}

.layui-layer {
    border: 5px solid #656565;
    background: url(../img/model_bg.png) no-repeat center top #b1e1ff !important;
}

.layui-layer-title {
    padding: 0 !important;
    border-bottom: 0 none !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    font-weight: normal;
    color: #b50000 !important;
    text-align: center;
    background: transparent !important;
}

.layui-layer-setwin {
    top: 5px !important;
    right: 5px !important;
}

.layui-layer-setwin .layui-layer-close1 {
    width: 30px;
    height: 30px;
    background: url(../img/zlc_sprites.png) no-repeat -100px 0 !important;
}


/*婊氬姩鏉℃牱寮�*/

.layui-layer-content {
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border: 2px solid #051037;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    &::-webkit-scrollbar-track {
        background-color: #051037;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
}

.float {
    width: 119px;
    background: url(../img/v_pic.png) center top no-repeat;
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left: 500px;
    top: 175px;
    div {
        margin-top: 4px
    }
}
