body,
div,
span,
object,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
}

input,
select {
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    outline: none;
    border: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

select {
    // -webkit-appearance: none;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // outline: none;
}

fieldset,
img {
    border: 0;
    display: block;
}

address,
code,
caption,
th,
cite,
dfn,
em,
var {
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

q:before,
q:after {
    content: "";
}

legend {
    display: none;
}

a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}

a:hover {
    // text-decoration: underline;
}



// float
.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

html,
body {
    min-width: 1020px;
    font-size: 12px;
    font-family: 'Microsoft YaHei', Arial, 'Times New Roman', SimHei, Helvetica, sans-serif;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

// fontsize
.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f21 {
    font-size: 21px;
}

.f24 {
    font-size: 24px;
}

.f28 {
    font-size: 28px;
}

.f26 {
    font-size: 26px;
}

.f30 {
    font-size: 30px;
}

.f40 {
    font-size: 40px;
}

.f50 {
    font-size: 50px;
}

.f60 {
    font-size: 60px;
}

.fwb {
    font-weight: bold;
}

.fwn {
    font-weight: normal;
}

.tul {
    text-decoration: underline;
}

//margin
.nomg {
    margin: 0;
}

.mgr5 {
    margin-right: 5px;
}

.mgb5 {
    margin-bottom: 5px;
}

.mgb10 {
    margin-bottom: 10px;
}

.mgb12 {
    margin-bottom: 12px;
}

.mgb15 {
    margin-bottom: 15px;
}

.mgb25 {
    margin-bottom: 25px;
}

.mgb30 {
    margin-bottom: 30px;
}

.mgb37 {
    margin-bottom: 37px;
}

.mgt30 {
    margin-top: 30px;
}

.mgt10 {
    margin-top: 10px;
}

.mgt5 {
    margin-top: 5px;
}

.mgr10 {
    margin-right: 10px;
}

//display
.hide {
    display: none;
}

.show {
    display: block;
}

//color
.cyl {
    color: #ffe14b!important;
}

.cy2 {
    color: #ffc600!important;
}

.cyl2 {
    color: #ffff00;
}

.cyl3 {
    color: #f0e091;
}

.cf {
    color: #fff;
}

.cf7 {
    color: #f7f76f;
}

.cred {
    color: red;
}

.cy3 {
    color: #feea8b!important;
}

.c3 {
    color: #333;
}

.c6 {
    color: #666;
}

//z-index
.z3 {
    z-index: 3;
}

.z2 {
    z-index: 2;
}

.z1 {
    z-index: 1;
}

//
i {
    display: inline-block;
}

i {
    *display: inline;
}

// main
.container {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}

// icon
@mixin icon-pic {
    background: url(../img/icon.png)no-repeat;
}


// header
.header {
    color: #fff;
    .top {
        height: 40px;
        background: #ff0033;
    }
    .radio {
        font-size: 16px;
        line-height: 40px;
        &>div {
            float: left;
        }
        .tit {
            @include icon-pic;
            background-position: 2px 5px;
            width: 30px;
            height: 40px;
            margin-right: 15px;
        }
        marquee {
            width: 960px;
            display: block;
        }
    }
    .bottom {
        background: url(../img/headerbg.jpg) no-repeat center;
        height: 110px;
        .logo {
            position: absolute;
            left: 0px;
            top: 12px;
        }
        .nav {
            position: absolute;
            right: 0;
            top: 37px;
            font-size: 18px;
        }
        li {
            float: left;
            background: #1774b5;
            padding: 2px 12px;
            border-radius: 20px;
            margin-left: 12px;
            a {
                color: #fff;
            }
            &:hover {
                background: #ffff33;
                a {
                    color: #006699;
                }
            }
            &.active {
                background: #ffff33;
                a {
                    color: #006699;
                }
            }
        }
    }
}


.lb {
    min-width: 1024px;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 430px;
    .lb-wrap {
        height: 430px;
        position: absolute;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        overflow: hidden;
        ul li {
            float: left;
            height: 430px;
        }
        .dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            z-index: 4;
            text-align: center;
        }
        .dot {
            display: inline-block;
            height: 14px;
            width: 14px;
            margin: 0 5px;
            border-radius: 7px;
            cursor: pointer;
            background: #999;
            transition: all .5s;
            -webkit-transition: all .5s;
            box-shadow: 0 1px 2px #555 inset;
        }
        .dot {
            *display: inline;
        }
        .dots li.active {
            background: #fff;
        }
    }
}

.gamelist {
    padding: 13px 0;
    font-size: 0;
    border-bottom: #ff0033 1px solid;
    li {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        text-align: center;
        width: 170px;
        height: 210px;
        padding-top: 13px;
        background: url(../img/gamelist/bg1.jpg) no-repeat center;
        &:hover {
            background: url(../img/gamelist/bg2.jpg) no-repeat center;
        }
        img {
            margin: 0 auto;
        }
    }
    .pic {
        margin-bottom: 6px;
    }
    p {
        color: #4a4a4a;
        line-height: 28px;
    }
    a {
        font-size: 14px;
        color: #fff;
        background: #ff0033;
        display: inline;
        padding: 3px 11px;
        border-radius: 3px;
        &:hover {
            background: #006699;
        }
    }
}

.showbox {
    padding: 30px 0;
    border-bottom: #ff0033 1px solid;
    img {
        margin: 0 auto;
    }
}

.footer {
    img {
        margin: 0 auto;
    }
    border-bottom: #ff0033 20px solid;
    text-align: center;
    padding-bottom: 20px;
}

.index .footer img {
    margin: -1px auto 0;
}

.float {
    width: 120px;
    height: 290px;
    border: 1px solid #fff;
    position: absolute;
    right: -138px;
    top: 40px;
    .tit {
        text-align: center;
        color: #fff;
        font-size: 18px;
    }
    .appewm {
        width: 90%;
        margin: 10px auto 0;
        img {
            width: 100%;
        }
    }
    .apptext {
        text-align: center;
        line-height: 26px;
        font-weight: bold;
    }
    .btns {
        a {
            margin: 5px auto;
            width: 90px;
            height: 25px;
            @include icon-pic;
            &:first-child {
                margin-top: 0;
            }
        }
        .dhw {
            background-position: -121px -96px;
        }
        .kjw {
            background-position: -121px -179px;
        }
        .chat {
            background-position: -121px -270px;
        }
    }
    .close {
        @include icon-pic;
        background-position: 0 -54px;
        width: 42px;
        height: 13px;
        margin: 17px auto;
    }
}

.lgbox {
    width: 260px;
    height: 285px;
    padding: 20px 11px;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    right: 0;
    top: 40px;
    border-radius: 5px;
    .tit {
        color: #fff;
        font-size: 18px;
        line-height: 40px;
        padding: 0 7px;
        position: relative;
        margin-bottom: 22px;
    }
    .ol {
        position: absolute;
        right: 15px;
        top: 5px;
        width: 99px;
        height: 32px;
        @include icon-pic;
        background-position: 0 -97px;
    }
    .ipt {
        text-align: center;
        margin-bottom: 26px;
        position: relative;
        input {
            padding: 10px 0 10px 40px;
            width: 217px;
            height: 20px;
            color: #000;
            border-radius: 20px;
            font-size: 16px;
        }
        label {
            position: absolute;
            width: 40px;
            height: 40px;
            @include icon-pic;
        }
        .icon-usn {
            background-position: -53px 7px;
        }
        .icon-pwd {
            background-position: -117px 6px;
        }
        .forget {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 14px;
            color: #666;
        }
    }
    .btns {
        padding: 0 18px;
        margin-bottom: 16px;
        input[type="submit"] {
            @include icon-pic;
            width: 99px;
            height: 32px;
            background-position: 0 -180px;
            float: left;
        }
        .regbtn {
            @include icon-pic;
            width: 99px;
            height: 32px;
            background-position: 0 -269px;
            float: right;
        }
        .try {
            width: 220px;
            height: 32px;
            @include icon-pic;
            background-position: 0 -364px;
        }
    }
}

.ban {
    overflow: hidden;
    position: relative;
    height: 175px;
    img {
        position: absolute;
        left: 50%;
        margin-left: -960px;
        top: 0;
    }
}

.main {
    padding: 40px 0 90px;
    .text {
        padding: 10px 24px;
        font-size: 14px;
        line-height: 24px;
        h5 {
            line-height: 30px;
            font-size: 16px;
        }
    }
    &.agent {
        .btns {
            a {
                padding: 6px 12px;
                background: #ff0033;
                display: inline;
                color: #fff;
                font-size: 18px;
            }
        }
    }
}

.regbox {
    height: 800px;
    background: url(../img/regbg.jpg) no-repeat center;
    position: relative;
    &.agent{
        background: url(../img/regbg-agent.jpg) no-repeat center;
    }
    .regtb {
        width: 1000px;
        background: #fff;
        position: absolute;
        left: 50%;
        margin-left: -500px;
        top: 180px;
        min-height: 90px;
        padding: 50px 0 40px 100px;
    }
    .typename {
        text-align: right;
        line-height: 40px;
    }
    input[type="text"],
    input[type="password"] {
        font-size: 14px;
        width: 240px;
        height: 16px;
        padding: 10px;
        color: #000;
        border-radius: 4px;
        border: 1px solid #d2d2d2;
        margin: 5px;
    }
    select{
        border: 1px solid #d2d2d2;
        color: #000;
        width: 50px;
        height: 30px;
        padding: 5px;
        margin: 5px 12px 5px 5px;
    }
    .prompt{
        padding-left: 10px;
        color: #ff2f2b;
    }
    input.authimgcode{
        width: 70px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
    }
    .imgCode{
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
    }
    input[type="submit"]{
        width: 270px;
        height: 38px;
        border: 1px solid #d2d2d2;
        background: #ff0033;
        border-radius: 4px;
        margin: 5px 0 0 5px;
        font-size: 18px;
    }
}