a {
    text-decoration: none
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999
}

.loadingfa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
    color: #444;
    position: absolute;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    top: 50%
}

.animteeh {
    opacity: .2;
    transition: all ease 1.5s;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    -o-transition: all ease 1.5s;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px)
}

.animteeh.active {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0)
}

.animts {
    opacity: .2;
    transition: all ease 1.5s;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    -o-transition: all ease 1.5s;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px)
}

.active .animts {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0)
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0)
    }
    to {
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes rotate1 {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-webkit-keyframes rotate1 {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-moz-keyframes rotate1 {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(-360deg)
    }
}

@-ms-keyframes rotate1 {
    from {
        -ms-transform: rotate(0)
    }
    to {
        -ms-transform: rotate(-360deg)
    }
}

@-o-keyframes rotate1 {
    from {
        -o-transform: rotate(0)
    }
    to {
        -o-transform: rotate(-360deg)
    }
}

.xuanzhuan {
    animation: 2s linear 0s normal forwards infinite rotate;
    -webkit-animation: 2s linear 0s normal forwards infinite rotate;
    -moz-animation: 2s linear 0s normal forwards infinite rotate;
    -o-animation: 2s linear 0s normal forwards infinite rotate
}

.xuanzhuan1 {
    animation: 5s linear 0s normal forwards infinite rotate;
    -webkit-animation: 5s linear 0s normal forwards infinite rotate;
    -moz-animation: 5s linear 0s normal forwards infinite rotate;
    -o-animation: 5s linear 0s normal forwards infinite rotate
}

.nizhuan {
    animation: 2s linear 0s normal forwards infinite rotate1;
    -webkit-animation: 2s linear 0s normal forwards infinite rotate1;
    -moz-animation: 2s linear 0s normal forwards infinite rotate1;
    -o-animation: 2s linear 0s normal forwards infinite rotate1
}

.nizhuan1 {
    animation: 3s linear 0s normal forwards infinite rotate1;
    -webkit-animation: 3s linear 0s normal forwards infinite rotate1;
    -moz-animation: 3s linear 0s normal forwards infinite rotate1;
    -o-animation: 3s linear 0s normal forwards infinite rotate1
}

@keyframes Updown {
    0% {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px)
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0)
    }
}

.shangxia {
    animation: 1.4s 0s alternate none infinite running Updown
}

.yaohuan {
    animation: 2.4s 0s alternate none infinite running swing
}

.yaohuan1 {
    animation: 9.4s 0s alternate none infinite running swing
}

.flash {
    animation: 2.4s 0s alternate none infinite running flash
}

.wobble {
    animation: 20.4s 0s alternate none infinite running wobble
}

.dtable {
    display: table;
    width: 100%;
    height: 100%
}

.dcell {
    display: table-cell;
    vertical-align: middle
}

.shangxia1 {
    animation: 2.4s 0s alternate none infinite running Updown
}

.shangxia2 {
    animation: 2.9s 0s alternate none infinite running Updown
}

.shangxia3 {
    animation: 3.4s 0s alternate none infinite running Updown
}

.shangxia4 {
    animation: 2.5s 0s alternate none infinite running Updown
}

.shangxia5 {
    animation: 3.3s 0s alternate none infinite running Updown
}

.shangxia6 {
    animation: 2.4s 0s alternate none infinite running Updown
}

.shangxia7 {
    animation: 2.6s 0s alternate none infinite running Updown
}

.df {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.dc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.ac {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.as {
    -webkit-box-align: justify;
    -webkit-align-items: space-between;
    -ms-flex-align: justify;
    align-items: space-between
}

.ae {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.jc {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.js {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.je {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.fww {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap
}

.rightdao {
    position: absolute;
    right: 10px;
    top: 220px;
    z-index: 999;
}

.inner {
    width: 1000px;
    margin: 0 auto;
}

.header .inner {
    height: 99px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header {
    background-image: -webkit-linear-gradient(bottom, #0b3d7a, #124e8a);
    background-image: -moz-linear-gradient(bottom, #0b3d7a, #124e8a);
    background-image: -o-linear-gradient(bottom, #0b3d7a, #124e8a);
    background-image: -ms-linear-gradient(bottom, #0b3d7a, #124e8a);
    background-image: linear-gradient(to top, #0b3d7a, #124e8a);
}

body {
    height: 100vh;
    min-height: 860px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 1200px;
}

.nav {}

.nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav ul li a {
    display: block;
    font-size: 16px;
    color: #fff;
    width: 102px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.nav ul li a:hover {
    background: url(../img/reg/navcur.png) no-repeat center center;
    color: #114b87;
}

.nav ul li.cur a {
    background: url(../img/reg/navcur.png) no-repeat center center;
    color: #114b87;
}

.content {
    background: #f6f9fc url(../img/reg/bg.jpg) no-repeat center top;
}

.banner {
    height: 120px;
    background: url(../img/reg/mg1.png) no-repeat center center;
}

.contein {
    background: #fff;
    padding: 40px 0px;
}

.zahusul {}

.zuosmz {
    font-size: 13px;
    text-align: right;
    width: 146px;
    line-height: 40px;
}

.zahusul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
}

.yoinst {
    padding-left: 8px;
    width: 270px;
    padding-right: 15px;
    position: relative;
}

.sinptx {
    height: 38px;
    width: 100%;
    text-indent: 10px;
    border: 1px solid #b9b4b4;
}

.itshim {
    color: #FF0000;
    line-height: 40px;
}

.saksle {
    height: 40px;
    border: 1px solid #b9b4b4;
    width: 60px;
    height: 35px;
}

.hetishi {
    font-size: 12px;
    padding-left: 6px;
}

.yamzm {
    position: absolute;
    right: 21px;
    top: 5px;
}

.chanjs {
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #2161b3;
    margin-top: 15px;
}

.huasnnts {
    padding-top: 22px;
    text-align: center;
    font-size: 12px;
}

.huasnnts a {
    color: #0072ff;
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footer {
    margin-top: 15px;
    text-align: center;
    background: #fff;
    padding: 15px 0px;
}

.cop {
    color: #ccc;
}

body .gundong {
    position: absolute;
    width: 20px;
    height: auto;
    background: #e5d7ba url(../img/reg/taninbg.png) no-repeat right top;
    background-size: cover;
    right: 0;
    top: 50px;
    bottom: 10px;
    background: #fff;
    z-index: 1000;
    display: block;
}

.tainmx {
    padding: 22px 12px;
    padding-top: 0px;
}

.dailbtn {
    display: block;
    width: 113px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #bf0408;
}

.dailbtn:hover {
    color: #fff;
}

.tantlx {
    text-align: center;
    color: #fff100;
    font-size: 16px;
    width: 139px;
    line-height: 30px;
    margin-top: 8px;

    background: url(../img/reg/tantlbg.png) no-repeat left top;
}

.fanganw {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 8px;
}

.huitl {
    width: 137px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff100;
    font-size: 16px;
    background: #7b0000;
    border-radius: 6px;
    margin-top: 6px;
}

.dhusimt {
    text-align: center;
    font-size: 18px;
    color: #7b0000;
    line-height: 33px;
}

.wmbtal {
    width: 415px;
    margin: 0 auto;
}

.wmbtal td {
    height: 30px;
    border: 1px solid #9d9d9d;
    text-align: center;
}

.wmtbltou td {
    color: #fff;
    background: #0e4582;
}

.wmbtal1 {
    width: 100%;
}

#m1,
#m2,
#m3,
#m4 {
    display: none;
}

.zhuceinbx {
    height: 35px;
    line-height: 35px;
    margin-bottom: 12px;
}

.newinput {
    border: medium none;
    width: 275px;
    height: 32px;
}

.zhuiconas {
    padding: 10px;
}

.zhuceinbx {
    padding: 0px;
}

.zuhwemz {
    font-size: 12px;
}

body .layui-layer-title {
    padding: 0px;
}

.datlt {
    background: url(../img/reg/tlbgx.png) no-repeat center top;
    background-size: 100%;
    position: relative;
    z-index: 1999;
    font-size: 22px;
    padding-top: 0px;
    color: #fff;
    font-family: "宋体";
    height: 54px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
}

body .layui-layer {
    border: 8px solid #0e4582;
    border-radius: 0px;
    background: #fff;
    /* background:#fff url(../img/reg/tanbgs.png) no-repeat center bottom; */
}

.bgmxs {
    /* height:130px;
	background:#fff url(../img/reg/tanbgs.png) no-repeat center bottom; 
	position:absolute;
	bottom: 0px;
	left: 0px;
	width:100%;
	z-index: 1999; */
    position: absolute;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1999;
    height: 10px;
    background: #fff;
}

body .layui-layer-setwin .layui-layer-close1 {
    width: 33px;
    height: 33px;
    background: url(../img/reg/close.png) no-repeat center top;
    cursor: pointer;
    margin-left: 10px;
}

body .layui-layer-setwin {
    position: absolute;
    right: 7px;
    top: 8px;
    font-size: 0;
    line-height: initial;
    z-index: 9999;
}


.newbox {
    position: relative;
    left: 0px;
    top: -35px;
    height: 5px;
    width: 100%;
    background: url(../img/reg/newbg.png);
    z-index: 99;
}

.newin {
    height: 35px;
    padding-left: 63px;
    padding-right: 300px;
    background: url(../img/reg/newtl.png) no-repeat left center;
}

.lunleft {
    position: relative;
    overflow: hidden;
    height: 35px;
}

.lunleft ul {
    position: absolute;
    left: 100%;
    top: 0px;
    display: table;
}

.lunleft ul li {
    display: table-cell;
    white-space: nowrap;
    line-height: 35px;
    color: #999;
}

.taeblen {
    width: 90%;
    margin: 20px auto;
}

.taeblen td {
    color: #000;
    background: #fff;
    text-align: center;
    height: 32px;
    border: 1px solid #000;
}

.teibtou td {
    color: #fff;
    background: #3C3E4A;
}

.hide{
	display: none;
}