blockquote,
body,
button,
caption,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent
}

:focus,
a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

em,
i {
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0 none;
    vertical-align: middle
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

th {
    font-weight: 400
}

li {
    list-style: none
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer
}

button,
input {
    line-height: normal
}

button,
input,
select,
textarea {
    font: inherit;
    line-height: inherit;
    color: inherit
}

button[disabled],
input[disabled] {
    cursor: default
}

button,
select {
    text-transform: none
}

input[type=checkbox],
input[type=radio] {
    padding: 0;
    box-sizing: border-box
}

textarea {
    overflow: auto;
    resize: none
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
    opacity: 1
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 "Microsoft YaHei", Arial, \5b8b\4f53, sans-serif;
    color: #333
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.hide {
    display: none
}

.show {
    display: block
}

div {
    overflow: visible
}

* {
    box-sizing: content-box
}

body {
    background: 0 0
}

.fl {
    float: left
}

.fr {
    float: right
}

.tac {
    text-align: center
}

.btn,
.icon {
    display: inline-block;
    padding: 0
}

.icon {
    position: relative;
    vertical-align: top
}

.btn,
.ipt,
.tea {
    border: 0 none
}

.btn {
    text-align: center;
    cursor: pointer
}

.btn:hover {
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90)
}

.icon {
    background: url(../img/jc_sprites.png) no-repeat
}

.btn-bg {
    background: url(../img/btn_bg.png) no-repeat
}

.jc-container {
    position: relative;
    overflow: hidden
}

.jc-layout {
    width: 1000px;
    margin: 15px auto 0;
    height: 103px;
    position: relative
}

.jc-layout:after,
.jc-layout:before {
    display: table;
    content: ""
}

.jc-layout:after {
    clear: both
}

.jc-footer .jc-layout {
    height: auto
}

.jc-header {
    height: 102px;
    position: relative;
    z-index: 3
}

.jc-logo {
    float: left;
    width: 400px;
    height: 88px;
    margin-top: 15px
}

.jc-logo object {
    vertical-align: middle;
    display: inline-block
}

.jc-nav {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-top: 65px;
    font-size: 16px;
    text-align: center
}

.jc-nav a {
    padding: 0 9px;
    display: inline-block;
    height: 30px;
    color: #faf106;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px
}

.jc-nav a:hover {
    background: #fc3e12;
    color: #fff
}

.jc-footer {
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 14px
}

.jc-footer p {
    margin-bottom: 10px
}

.jc-content {
    position: relative
}

.login-page {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: url(../img/login_bg.png) no-repeat center top #333;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    /*background-size:cover;*/
}

.login-page body {
    overflow: hidden;
    position: relative;
    max-width: 1920px;
    margin: auto;
    min-height: 870px;
    height: 100%;
}

.site-notice {
    width: 460px;
    padding-right: 15px;
    position: absolute;
    background: rgba(5, 73, 134, .53);
    border-radius: 8px;
    top: 0;
    right: 0;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    padding-left: 120px;
    margin-top: 20px;
    color: #fff;
    font-size: 13px
}

.site-notice h3 {
    float: left;
    margin-left: -105px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 30px;
    background: url(../img/notice.png) no-repeat left center
}

.user-login {
    position: absolute;
    z-index: 2;
    width: 273px;
    height: 313px;
    top: 20px;
    right: 0;
    padding: 62px 30px 15px;
    background: url(../img/user_login.png) repeat;
    box-sizing: border-box;
}

.user-login h2 {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 400;
    color: #fff
}

.user-login .btn-os {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 87px;
    height: 30px;
    background-position: 0 0
}

.btn-group:after,
.input-group:after {
    content: "";
    display: table;
    clear: both
}

.login-form .input-group {
    position: relative;
    margin-bottom: 13px
}

.login-form .input-group+.input-group {
    margin-bottom: 10px
}

.login-form .btn-doubt,
.login-form .input-label,
.login-form .input-label i {
    position: absolute;
    z-index: 9
}

.login-form .input-label {
    left: 0;
    top: 0;
    width: 45px;
    height: 45px
}

.login-form .input-label i {
    left: 5px;
    top: 6px;
    width: 35px;
    height: 33px
}

.login-form .input-label .icon-user {
    background-position: 0 0
}

.login-form .input-label .icon-lock {
    background-position: -50px 0
}

.login-form .ipt {
    width: 176px;
    height: 30px;
    background: 0 0;
    border: none;
    line-height: 25px;
    padding: 0 5px 10px 30px;
    border-radius: 5px;
    font-size: 14px
}

.login-form .btn-doubt {
    top: 13px;
    right: -26px;
    width: 26px;
    height: 23px;
    background-position: -80px 0
}

.login-form .btn-group {
    margin-bottom: 8px
}

.login-form .btn-group:after {
    display: table;
    content: "";
    clear: both
}

.login-form .btn-login,
.login-form .btn-reg {
    float: left;
    height: 42px;
    margin-top: -2px
}

.login-form .btn-login {
    width: 104px;
    background-position: 0 -30px
}

.login-form .btn-reg {
    width: 104px;
    margin-left: 6px;
    margin-right: -4px;
    background-position: 0 -80px
}

.login-form .btn-visit {
    width: 218px;
    height: 44px;
    background-position: 0 -130px
}

.login-form .btn-jh {
    width: 218px;
    height: 44px;
    background-position: 0 -180px;
    margin-top: -7px;
}

.login-ad {
    margin-top: 20px;
    width: 650px;
    height: 400px;
    position: relative
}

.login-ad embed {
    margin: -30px 0 0 25px
}

.reg-banner {
    height: 300px;
    background: url(../img/reg_banner.jpg) no-repeat center top
}

.reg-nav {
    width: 980px;
    margin: 0 auto;
    padding-top: 180px;
    text-align: justify;
}

.reg-nav-item {
    display: inline-block;
    color: #FFF;
    background: #147aaa;
    padding: 5px 25px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
}

.reg-nav-item:hover {
    color: #ffe084;
}

.reg-content {
    background: 0 0;
}

.jc-reg h3 {
    position: relative;
    height: 36px;
    line-height: 36px;
    margin-left: 50px;
    border-bottom: 2px solid #c54751;
    font-size: 20px;
    font-weight: 400;
    color: #ce483f
}

.jc-reg h3 .icon-user {
    position: absolute;
    left: -50px;
    top: -4px;
    width: 45px;
    height: 45px;
    background-position: 0 -50px
}

.reg-form {
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 14px
}

.reg-form .input-group {
    margin-bottom: 8px
}

.reg-form .input-label,
.reg-form .input-tips {
    float: left;
    height: 35px;
    line-height: 35px;
    overflow: hidden
}

.reg-form .input-label {
    width: 90px;
    margin-right: 10px;
    text-align: right
}

.reg-form .ipt,
.reg-form .iptd {
    float: left;
    width: 320px;
    height: 25px;
    line-height: 25px;
    padding: 4px 9px;
    border: 1px solid #ccc
}

.reg-form .iptd {
    border: none;
    padding: 0;
    padding-right: 20px
}

.reg-form .input-tips {
    margin-left: 20px;
    color: #999
}

.reg-form .input-warn {
    color: #ce483f
}

.reg-form .code-pic {
    float: left;
    margin-left: 20px;
    margin-top: 3px
}

.reg-form .btn-group {
    margin-top: 40px;
    padding-left: 100px
}

.reg-form .btn-login,
.reg-form .btn-reg {
    float: left;
    width: 200px;
    height: 45px
}

.reg-form .btn-reg {
    background-position: 0 -230px
}

.reg-form .btn-login {
    background-position: 0 -290px
}

.reg-form .has-acc {
    float: left;
    height: 45px;
    line-height: 45px;
    margin-left: 55px;
    margin-right: 15px
}

.jc-model {
    height: 100%;
    overflow: hidden
}

.model-content {
    padding: 0 15px
}

.model-content h4,
.model-content p {
    line-height: 24px
}

.model-content h4 {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #98282b
}

.model-content p {
    margin-bottom: 25px
}

.model-content .warn {
    color: #e43232
}

.jc-aboutus .icon-i,
.jc-faq .icon-doubt {
    float: left;
    width: 12px;
    height: 13px;
    margin-top: 6px;
    margin-right: 10px
}

.jc-faq .icon-doubt {
    background-position: -140px 0
}

.jc-aboutus .icon-i {
    background-position: -170px 0
}

.prom-table,
.prom-table td,
.prom-table th {
    border: 1px solid #7c7363
}

.prom-table {
    margin-bottom: 25px;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .5)
}

.prom-table tr {
    height: 40px
}

.prom-table td,
.prom-table th {
    padding-left: 20px;
    padding-right: 20px
}

.prom-table td {
    color: #e43232
}

.agency-actions {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;
}

.agency-actions .dl {
    position: absolute; width: 200px; left: 50%;
    margin-left: -100px; text-align: center;
    font-size: 18px; color: #F00;
}

.agency-actions a {
    width: 115px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    background-color: #915a12
}

.agency-actions .btn-login {
    float: left
}

.agency-actions .btn-reg {
    float: right
}

.agency-login {
    position: relative;
    height: 475px;
    margin-top: 150px;
    background: url(../img/agency_login_banner.jpg) no-repeat center
}

.agency-login .user-login {
    top: 70px
}

.agency-login .login-form .ipt {
    width: 150px
}

.agency-login .login-form .btn-login {
    width: 209px;
    height: 50px;
    margin-top: 5px;
    margin-left: -3px;
    background-position: 0 -280px
}

.agency-login .jc-logo {
    background: 0 0
}

.layui-layer.bgIndex {
    border: 5px solid #656565;
    background: url(../img/model_bg.png) no-repeat;
    background-size: cover
}

.bgIndex .layui-layer-title {
    padding: 0!important;
    border-bottom: 0 none!important;
    border-radius: 0!important;
    font-size: 16px!important;
    font-weight: 400;
    color: #4b2413!important;
    text-align: center;
    background: 0 0!important
}

.bgIndex .layui-layer-page .layui-layer-content {
    overflow: hidden!important
}

.bgIndex .layui-layer-setwin {
    top: 5px!important;
    right: 5px!important
}

.bgIndex .layui-layer-setwin .layui-layer-close1 {
    width: 30px;
    height: 30px;
    background: url(../img/jc_sprites.png) no-repeat -100px 0!important
}

.notice-list li {
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer
}

.car-wr {
    width: 1600px;
    height: 400px;
    margin-left: -800px;
    left: 50%;
    position: relative;
    margin-top: -115px
}

.car-wr .car-con {
    height: 400px;
    position: relative;
    width: 100%
}

.car-wr .car {
    position: absolute;
    display: none;
    width: 826px;
    height: 275px
}

.car-wr img {
    position: relative
}

.car-wr .fire {
    position: absolute
}

.car-wr .fire3 {
    bottom: 75px;
    left: -20px
}

.car-wr .fire2 {
    bottom: 55px;
    left: -34px
}

.car-wr .fire1 {
    bottom: 35px;
    left: -38px
}

.car-wr .car3 {
    bottom: 30px;
    left: 0
}

.car-wr .car2 {
    bottom: -15px;
    left: 405px
}

.car-wr .car1 {
    bottom: -55px;
    left: 860px
}

.car-wr .car-con2 {
    display: none
}

.car-wr .car-con1 .car3.animate {
    display: block;
    animation: car3 1.05s cubic-bezier(.5, 0, .8, 1) 0s;
    -webkit-animation: car3 1.05s cubic-bezier(.5, 0, .8, 1) 0s
}

.car-wr .car-con1 .car2.animate {
    display: block;
    animation: car2 .9s cubic-bezier(.5, 0, .8, 1) 0s;
    -webkit-animation: car2 .9s cubic-bezier(.5, 0, .8, 1) 0s
}

.car-wr .car-con1 .car1.animate {
    display: block;
    animation: car1 1s cubic-bezier(.45, 0, .8, 1) 0s;
    -webkit-animation: car1 1s cubic-bezier(.45, 0, .8, 1) 0s
}

.car-wr .car-con2 .car3.animate2 {
    display: block;
    animation: car33 1.05s linear 0s forwards;
    -webkit-animation: car33 1.05s linear 0s forwards
}

.car-wr .car-con2 .car2.animate2 {
    display: block!important;
    animation: car22 .9s linear 0s forwards;
    -webkit-animation: car22 .9s linear 0s forwards
}

.car-wr .car-con2 .car1.animate2 {
    display: block!important;
    animation: car11 1s linear 0s forwards;
    -webkit-animation: car11 1s linear 0s forwards
}

@keyframes car33 {
    0% {
        opacity: 1;
        transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        transform: translate(-2000px, 140px) scale(1)
    }
}

@keyframes car22 {
    0% {
        opacity: 1;
        transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        transform: translate(-2000px, 360px) scale(1)
    }
}

@-moz-keyframes car11 {
    0% {
        opacity: 1;
        -moz-transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        -moz-transform: translate(-2000px, 480px) scale(1)
    }
}

@-moz-keyframes car33 {
    0% {
        opacity: 1;
        -moz-transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        -moz-transform: translate(-2000px, 140px) scale(1)
    }
}

@-moz-keyframes car22 {
    0% {
        opacity: 1;
        -moz-transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        -moz-transform: translate(-2000px, 360px) scale(1)
    }
}

@-moz-keyframes car11 {
    0% {
        opacity: 1;
        -moz-transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        -moz-transform: translate(-2000px, 480px) scale(1)
    }
}

@-webkit-keyframes car33 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-2000px, 140px) scale(1)
    }
}

@-webkit-keyframes car22 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-2000px, 360px) scale(1)
    }
}

@-webkit-keyframes car11 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0) scale(1)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-2000px, 480px) scale(1)
    }
}

@keyframes car3 {
    0% {
        transform: translate(1140px, -98px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        transform: translate(0) scale(1)
    }
}

@keyframes car2 {
    0% {
        transform: translate(780px, -140px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        transform: translate(0) scale(1)
    }
}

@keyframes car1 {
    0% {
        transform: rotate(-1deg) rotateX(4deg) translate(627px, -165px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        transform: rotate(0) rotateX(0) translate(0) scale(1)
    }
}

@-moz-keyframes car3 {
    0% {
        -moz-transform: translate(1140px, -98px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0) scale(1)
    }
}

@-moz-keyframes car2 {
    0% {
        -moz-transform: translate(780px, -140px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0) scale(1)
    }
}

@-moz-keyframes car1 {
    0% {
        -moz-transform: rotate(-1deg) rotateX(4deg) translate(627px, -165px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        -moz-transform: rotate(0) rotateX(0) translate(0) scale(1)
    }
}

@-webkit-keyframes car3 {
    0% {
        -webkit-transform: translate(1140px, -98px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0) scale(1)
    }
}

@-webkit-keyframes car2 {
    0% {
        -webkit-transform: translate(780px, -140px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0) scale(1)
    }
}

@-webkit-keyframes car1 {
    0% {
        -webkit-transform: rotate(-1deg) rotateX(4deg) translate(627px, -165px) scale(.05);
        opacity: .7
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0) rotateX(0) translate(0) scale(1)
    }
}

select.pwd {
    width: 60px;
    height: 35px;
    border: 1px solid #b9b4b4;
    border-radius: 2px;
    font-size: 16px;
    padding-left: 10px
}

.yun {
    height: 1px;
    width: 1920px;
    position: relative;
    margin-left: -960px;
    left: 50%;
    top: -80px
}

.yun .bd {
    position: relative
}

.yun .y {
    margin-left: 100px
}

.jc-mob {
    height: 100%;
    background: url(../img/mobg.png) repeat-x top left;
    padding: 20px 0
}

.jc-mob img {
    display: block;
    margin: 0 auto
}

.bgmobile .model-content {
    padding: 0
}

.floatright {
    float: right;
}


.float {
    position: fixed;

    padding: 55px 5px 0 0;
    left: 50%;
    margin-left: 550px;
    top: 10%;
}
.float img {
    display: block;
}
.float.type-l {
    left: auto;
    right: 50%;
    margin-right: 520px;
}

.float2 {
    position: fixed;
    cursor: pointer;
    padding: 55px 0 0 5px;
    right: 50%;
    margin-right: 550px;
    top: 10%;
}