body {
    font-size: 14px;
    font-family: font-Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e7e6e2;
}

div,
ul,
ol,
li,
form,
img,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
pre,
code,
form,
fieldset,
legend,
button,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}


/* 页头样式 */

.reg_nav {
    width: 100%;
    height: 50px;
    background: url(../img/reg/reg_navbg.jpg) repeat-x left top;
}


/* 注册页样式 */

.reg_info {
    width: 1000px;
    margin: 0 auto;
}

.reg_title {
    background: url(../img/reg/reg_line.gif) repeat-x left bottom;
    margin: 0 0 45px 0;
    img {
        display: block;
        margin: 0 12px;
        float: left;
    }
    li {
        font-size: 24px;
        color: #ce483f;
        line-height: 40px;
        margin: 0 0 20px 0;
        background: url("../img/reg/ico_reg.gif") no-repeat left;
        padding-left: 50px
    }
}

.reg_te {
    width: 96%;
    margin: 0 auto;
    li {
        font-size: 16px;
        line-height: 38px;
        color: #898989;
        margin: 0 0 18px 0;
        input {
            border-top: 1px solid #b8b8b8;
            border-left: 1px solid #b8b8b8;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            margin: 0 15px 0 0;
            float: left;
        }
        img {
            display: block;
            float: left;
        }
    }
    span {
        display: block;
        width: 100px;
        font-size: 18px;
        color: #313131;
        text-align: right;
        float: left;
    }
}

.reg_bu {
    margin: 0 0 60px 0;
    li {
        font-size: 16px;
        color: #898989;
        line-height: 40px;
        margin: 30px 0;
    }
    a {
        display: block;
        width: 202px;
        height: 43px;
        text-indent: -9999em;
        margin: 0 20px 0 115px;
        float: left;
    }
}

.bu_reg {
    background: url(../img/reg/reg_bu.jpg) no-repeat left top;
}

.bu_reg:hover {
    background: url(../img/reg/reg_bu.jpg) no-repeat left -43px;
}

.bu_login {
    background: url(../img/reg/reg_bu.jpg) no-repeat left -86px;
}

.bu_login:hover {
    background: url(../img/reg/reg_bu.jpg) no-repeat left -129px;
}

.submitbtn {
    border: 1px solid #a2a2a2;
    background-color: #fff;
    color: #a2a2a2;
    padding: 7px 20px;
    cursor: pointer;
    display: block;
    margin: 0 20px 0 115px;
    float: left;
    background-color: #e3e3e3
}

.bu_line {
    border-bottom: 4px solid #e3e3e3;
    padding: 0 0 30px 0;
}

.te01 {
    width: 300px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;
    text-indent: 5px;
}

.te02 {
    width: 120px;
    height: 34px;
    font-size: 18px;
    line-height: 34px;
    text-indent: 5px;
}

.pwd-select {
    height: 30px;
    width: 40px;
    font-size: 16px;
}
