body,
div,
span,
object,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
}

input,
select {
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    outline: none;
    border: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

select {
    /* -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none; */
}

fieldset,
img {
    border: 0;
    display: block;
}

address,
code,
caption,
th,
cite,
dfn,
em,
var {
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

q:before,
q:after {
    content: "";
}

legend {
    display: none;
}

a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}

a:hover {
    /* text-decoration: underline; */
}


/* float */

.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

html,
body {
    height: 100%;
    min-width: 980px;
    min-height: 770px;
    font-size: 14px;
    font-family: 'Microsoft YaHei', Arial, 'Times New Roman', SimHei, Helvetica, sans-serif;
}

body {
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/* fontsize */

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f21 {
    font-size: 21px;
}

.f24 {
    font-size: 24px;
}

.f28 {
    font-size: 28px;
}

.f26 {
    font-size: 26px;
}

.f30 {
    font-size: 30px;
}

.f40 {
    font-size: 40px;
}

.f50 {
    font-size: 50px;
}

.f60 {
    font-size: 60px;
}

.fwb {
    font-weight: bold;
}

.fwn {
    font-weight: normal;
}

//margin
.nomg {
    margin: 0;
}

.mgr5 {
    margin-right: 5px;
}

.mgb10 {
    margin-bottom: 10px;
}

//display
.hide {
    display: none;
}

.show {
    display: block;
}

//color
.cyl {
    color: rgb(255, 192, 0);
}

.cyl2 {
    color: #ffff00;
}

.cyl3 {
    color: #f0e091;
}

.cf {
    color: #fff;
}

.cf7 {
    color: #f7f76f;
}

.cred {
    color: #b50000;
}

//
i {
    display: inline-block;
}

i {
    *display: inline;
}

.index {
    background: url(../img/bg.jpg) no-repeat center bottom #428fbb;
    .container {
        width: 980px;
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

// main
.header {
    height: 44px;
    background: rgb(64, 141, 178);
    background: rgba(64, 141, 178, .8);
    .radio {
        height: 100%;
        line-height: 44px;
        color: #fff;
        font-size: 15px;
    }
    i {
        width: 155px;
        height: 100%;
        background: url(../img/icon.png) no-repeat -460px -645px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.fixedradio {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -490px;
    height: 44px;
    width: 980px;
    marquee {
        position: absolute;
        left: 160px;
        top: 10px;
        color: #fff;
    }
}

.main {
    .logo {
        position: absolute;
        left: 0;
        top: 0;
    }
    .nav {
        position: absolute;
        right: 0;
        top: 30px;
        li {
            float: left;
            padding: 4px 19px;
            border-radius: 5px;
            &:hover {
                background: #0023a3;
                a {
                    color: #fff;
                }
            }
        }
        a {
            font-size: 17px;
            color: #000;
        }
        .active {
            background: #0023a3;
            a {
                color: #fff;
            }
        }
    }
    .textshow {
        position: absolute;
        left: 47px;
        top: 135px;
    }
    .lgbox {
        position: absolute;
        right: 0;
        top: 140px;
        width: 309px;
        height: 313px;
        background: url(../img/icon.png)no-repeat -572px -108px;
        .service {
            position: absolute;
            right: 15px;
            top: 18px;
            background: url(../img/icon.png) no-repeat 0 -80px;
            width: 103px;
            height: 31px;
            &:hover {
                background-position: -156px -80px
            }
        }
        form {
            position: absolute;
            top: 70px;
            left: 26px;
        }
        .ipt {
            background: url(../img/icon.png) no-repeat 0 -631px;
            margin-bottom: 20px;
            width: 258px;
            height: 45px;
            position: relative;
            label {
                position: absolute;
                width: 45px;
                left: 14px;
                top: 10px;
                width: 25px;
                height: 25px;
                background: url(../img/icon.png) no-repeat;
            }
            .usn {
                background-position: -395px 3px;
            }
            .pwd {
                background-position: -395px -61px;
            }
            input {
                color: #000;
                position: absolute;
                width: 160px;
                height: 29px;
                background: none;
                left: 44px;
                top: 8px;
            }
        }
        .ctrl {
            text-align: center;
            input {
                display: inline-block;
                width: 108px;
                height: 40px;
                background: url(../img/icon.png) no-repeat -1px -152px;
                cursor: pointer;
                margin-right: 13px;
                &:hover {
                    background-position: -156px -152px
                }
            }
            input {
                *display: inline;
            }
            a {
                display: inline-block;
                width: 108px;
                height: 40px;
                background: url(../img/icon.png) no-repeat 0px -240px;
                vertical-align: bottom;
                &:hover {
                    background-position: -156px -240px
                }
            }
            a {
                *display: inline;
            }
        }
        .try {
            position: absolute;
            width: 232px;
            height: 40px;
            background: url(../img/icon.png) no-repeat -1px -332px;
            left: 50%;
            bottom: 18px;
            margin-left: -116px;
            &:hover {
                background-position: -264px -332px;
            }
        }
    }
}

.footer {
    position: absolute;
    color: #fff;
    bottom: 20px;
    left: 50%;
    margin-left: -139px;
}

.banner {
    overflow: hidden;
    position: relative;
    height: 200px;
    img {
        position: absolute;
        left: 50%;
        margin-left: -960px;
    }
}

.regbox {
    padding-top: 55px;
    .tit {
        font-size: 20px;
        color: #e20000;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    li {
        line-height: 36px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    li > div {
        display: inline-block;
    }
    li > div {
        *display: inline;
    }
    input[type="password"],
    input[type="text"] {
        width: 189px;
        height: 20px;
        border: 1px solid #6d6d6d;
        color: #000;
        padding: 7px 15px;
    }
    select {
        height: 34px;
        width: 50px;
        color: #000;
        border: 1px solid #6d6d6d;
        padding: 5px 5px;
        margin-right: 3px;
    }
    .typename {
        width: 80px;
        text-align: right;
    }
    .ipt {
        margin-right: 5px;
        position: relative;
    }
    .hint {
        color: #b5b5b5;
        font-size: 13px;
    }
    .imgCode {
        position: absolute;
        right: 3px;
        top: 6px;
        width: 80px;
        height: 27px;
        cursor: pointer;
    }
    input[type="submit"] {
        width: 136px;
        height: 33px;
        background: url(../img/icon.png) no-repeat -1px -437px;
        cursor: pointer;
        margin-right: 5px;
        &:hover {
            background-position: -181px -437px;
        }
    }
    a {
        display: inline-block;
        vertical-align: bottom;
        color: #d70000;
    }
    a {
        *display: inline;
    }
    .lgbtn {
        width: 136px;
        height: 34px;
        background: url(../img/icon.png) no-repeat -1px -538px;
        margin-left: 70px;
        &:hover {
            background-position: -181px -538px;
        }
    }
}

.jpbox {
    width: 650px;
    height: 550px;
    position: fixed;
    margin: -325px 0 0 -275px;
    background: #393939;
    left: 50%;
    top: 50%;
    .wrap {
        position: absolute;
        left: 5px;
        top: 5px;
        background: url(../img/bg_text.jpg) no-repeat center;
        width: 640px;
        height: 540px;
    }
    .close {
        position: absolute;
        right: 8px;
        top: 11px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: url(../img/icon.png) no-repeat -395px -206px;
        &:hover {
            background-position: -471px -206px;
        }
    }
    .tit {
        font-size: 20px;
        font-weight: bold;
        color: #b50000;
        text-align: center;
        line-height: 44px;
    }
    .text {
        padding: 0 25px;
        font-size: 13px;
        line-height: 20px;
    }
    .tb {
        margin-bottom: 65px;
        th {
            color: #ff0000;
            height: 46px;
            background: #fff;
            text-align: center;
            border: 2px solid #ffc489;
        }
        td {
            text-align: center;
            background: #fff;
            height: 46px;
            border: 2px solid #ffc489;
        }
    }
    .links {
        margin-bottom: 25px;
        a {
            width: 127px;
            height: 33px;
            border-radius: 5px;
            background: #b50000;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            line-height: 33px;
        }
    }
}

.float {
    width: 180px;
    height: 300px;
    position: absolute;
    ul {
        position: absolute;
        top: 57px;
        right: 15px;
    }
    li {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .close {
        img {
            margin: 5px auto;
            width: 30%;
        }
    }
    .qr {
        height: 285px; width: 100%;
        background-size: 100% auto;
        background-image: url(../img/float/0926.jpg);
        position: relative;
        .lnk {
            width: 115px; height: 35px;
            position: absolute; left: 24px;
        }
        .lnk1 {
            top: 212px;
        }
        .lnk2 {
            top: 248px;
        }
    }
}
