@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

ul,
ol {
    list-style-type: none;
}

body,
form {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 180%;
    font-family: "Microsoft YaHei", "微软雅黑";
    background-color: #042b7a;
}

.right {
    float: right;
}

.left {
    float: left;
}

.wrap {
    width: 1060px;
    margin: 0px auto;
}

.more {
    float: right;
}

a {
    text-decoration: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
    text-decoration: none;
}

a:active {
    color: #FF0000;
    text-decoration: none;
}

.clear {
    clear: both;
}

#hbg {
    width: 100%;
    float: left;
    height: 171px;
    background: url(../images/hbg.png) center top repeat-x;
}

#header {
    width: 100%;
    float: left;
    height: 171px;
    background: url(../images/menuer.png) center top no-repeat;
}

.header1 {
    width: 100%;
    float: left;
    height: 25px;
    color: #FFF;
    padding-top: 5px;
}

.header1 a {
    color: #FFF;
}

.header1 span {
    padding: 0px 10px;
}

.header2 {
    width: 100%;
    float: left;
    height: 108px;
}

.logoer {
    width: 640px;
    float: left;
    height: 104px;
    background: url(../images/text.png) center right no-repeat;
    margin-left: 30px;
    margin-right: 20px;
    padding-top: 4px;
}

.loginer {
    width: 345px;
    height: 76px;
    background: url(../images/login.bg.png);
    float: right;
    padding-top: 21px;
    padding-left: 25px;
}

.gusername {
    width: 140px;
    height: 22px;
    float: left;
    padding-top: 3px;
    margin: 0px 5px;
    overflow: hidden;
}

.gpassword {
    width: 140px;
    height: 22px;
    float: left;
    padding-top: 8px;
    margin: 0px 5px;
    overflow: hidden;
}

.gcode {
    width: 61px;
    height: 22px;
    float: left;
    padding-top: 3px;
    margin-left: 10px;
    overflow: hidden;
}

.loginer input {
    border: 0px;
    background: none;
    outline: none;
    float: left;
    margin-top: 2px;
}

.gcodes {
    float: left;
}

.gcodes label {
    font-family: Arial;
    font-style: italic;
    display: block;
    font-size: 14px;
    width: 40px;
    height: 23px;
    line-height: 24px;
    margin-top: 1px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bolder;
    background-color: #c3c3c3;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    text-align: center;
}

.forget {
    float: left;
    margin-top: 3px;
    color: #FFF;
    padding-left: 8px;
}

.forget a {
    color: #FFF;
}

.header3 {
    padding-left: 32px;
    padding-top: 4px;
    float: left;
}

.header3 a {
    color: #FFF;
}

.header3 a:hover {
    color: #FF0;
}

.w160 {
    width: 80px;
    float: left;
    padding-left: 62px;
}

.w100 {
    width: 100px;
    float: left;
    text-align: center;
}

.w128 {
    width: 128px;
    float: left;
    text-align: center;
}

.w126 {
    width: 114px;
    float: left;
    text-align: center;
}

.w120 {
    width: 78px;
    float: left;
    text-align: center;
}

.w108 {
    width: 130px;
    float: left;
    text-align: center;
}

.w118 {
    width: 76px;
    float: left;
    text-align: center;
    position: relative;
}

.w119 {
    width: 84px;
    float: left;
    text-align: center;
    position: relative;
}

.hot {
    position: absolute;
    top: -20px;
    left: 50px;
}

#gonggao {
    width: 100%;
    float: left;
    height: 42px;
    background: url(../images/gonggao.png) center bottom no-repeat;
}

.bg {
    width: 100%;
    float: left;
    background: url(../images/index/bg.jpg) #0b40ad repeat-x top;
}

.ggmain {
    padding-left: 170px;
    padding-right: 100px;
    color: #FFF;
    padding-top: 7px;
}

#footerbg {
    width: 100%;
    float: left;
    background: url(../images/page/bg.png) repeat-x bottom;
}

#footer {
    width: 100%;
    float: left;
    height: 176px;
    background: url(../images/footer.png) center top no-repeat;
    text-align: center;
    color: #FFF;
}

.footmenu {
    width: 100%;
    height: 100px;
    text-align: center;
    float: left;
    color: #FFF;
    padding-top: 38px;
}

.footmenu a {
    color: #FFF;
}

.footmenu a:hover {
    color: #FF0;
}

.footmenu span {
    padding: 0px 15px;
}


/*浮动客服*/

#floatDivBoxs {
    width: 172px;
    position: fixed;
    top: 180px;
    right: 0;
    z-index: 999;
}

#floatDivBoxs .floatDtt {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #f08326;
    color: #fff;
    font-size: 18px;
    text-indent: 22px;
    position: relative;
}

#floatDivBoxs .floatDqq {
    padding: 0 14px;
}

#floatDivBoxs .floatDqq li {
    width: 100%;
}

.floatShadow {
    background: url(../images/kf/bg.png) no-repeat;
    padding-top: 50px;
    height: 418px;
}

.qqnum {
    position: absolute;
    top: 420px;
    left: 78px;
    color: yellow;
    font-size: 14px;
}

#rightArrow {
    width: 40px;
    height: 263px;
    background: url(../images/kf/array.png) no-repeat;
    position: fixed;
    top: 220px;
    right: 170px;
    z-index: 999;
}

#rightArrow a {
    display: block;
}
