body { 
	font-family: "Microsoft YaHei",Tahoma,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; 
	width: 100%; 
	background-color: #fff;
	margin: 0;
}

div,ul,ol,li,form,img,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,pre,code,form,fieldset,legend,button,input,textarea{ margin:0; padding:0; border:0; list-style:none; overflow:hidden;}

a{ text-decoration:none;}

.body_bg{ background:white;}

.hide{
	display: none;
}
