/* common style */

.clear {
    margin: 0;
    padding: 0;
    clear: both;
}




/* site style */

html {
    background: #2C0085;
}

html.is-tpl {
    background: transparent;
}

body {
    background: url('../image/bg03_x.jpg') center top repeat-x #0B002B;
    color: #000;
    font-size: 12px;
    min-width: 1112px;
}




/* .first body {
    background: url('../image/bg01_x.png') center top repeat-x #2C0085;
} */

.game body {
    background: url('../image/bg02_x.jpg') center top repeat-x #0B002B;
}

.is-tpl body {
    min-width: 1022px;
}

.zh-cn body {
    font-family: STHeiti, "Microsoft YaHei", "寰蒋闆呴粦", "SimSun", "瀹嬩綋", arial;
}

.zh-tw body {
    font-family: "Microsoft JhengHei", "寰粺姝ｉ粦楂�", arial, helvetica, sans-serif;
}

#page-body {
    margin: 0 auto;
    padding: 20px 0 34px;
    /*     background: url('../image/content_bg1.jpg') center top no-repeat; */
    width: 1104px;
}

.first #page-body {
    position: relative;
    padding: 0;
    background: url('../image/content_bg.png') center top no-repeat;
    width: 1112px;
    min-height: 390px;
    z-index: 1;
    margin-top: -13px;
}

.game #page-body {
    padding: 0;
}

.hide {
    display: none;
}


/* header */

#page-header {
    background: url('../image/header_top.jpg') top repeat-x;
    overflow: hidden;
}

.is-tpl body,
.is-tpl #mainBody,
.is-tpl #page-header {
    background: none;
}

.is-tpl #page-header {
    overflow: hidden;
}

.header {
    margin: 0 auto;
    height: 125px;
    width: 1028px;
}

.header-logo {
    float: left;
    margin: 15px 0 0 1px;
    height: 108px;
    width: 298px;
}

.header-right,
.header-top,
.lang-wrap,
.top-link-wrap,
.header-join-btn {
    float: right;
}

.header-right {
    margin-right: 7px;
}

.is-login .header-right {
    margin-right: 28px;
}

.header-top {
    margin-right: 9px;
}

.lang-wrap,
.top-link-wrap {
    height: 35px;
    line-height: 35px;
    color: #FFF;
}

.lang-wrap {
    margin-left: 12px;
}

.lang-wrap a {
    margin-left: 2px;
}

.top-link-wrap a {
    text-decoration: none;
}

.top-custom-link:hover {
    color: #FFCC00 !important;
}




/* 鐧诲叆鍗€ */

.header-join-btn {
    margin-top: 5px;
    height: 75px;
    width: 177px;
    clear: right;
}

.login-wrap {
    float: right;
    margin: 11px 5px 0 0;
}

.login-unit,
.login-submit,
.header-forget-pw,
.header-join-link {
    float: left;
}

.login-unit {
    position: relative;
    background: url('../image/h_inputbg.png') no-repeat;
    height: 29px;
    width: 173px;
}

.login-unit-pwd {
    margin-top: 7px;
    clear: left;
}

.login-unit-chk {
    margin-left: 6px;
}

.login-user-icon,
.login-pwd-icon {
    position: absolute;
    display: block;
    top: 3px;
    left: 1px;
    height: 21px;
    width: 21px;
}

.login-user-icon {
    background: url('../image/h_mem.png') no-repeat;
}

.login-pwd-icon {
    background: url('../image/h_password.png') no-repeat;
}

.login-unit .login-placeholder,
.acc-unicode {
    position: absolute;
    color: #E0AF3F;
    font-family: arial;
}

.login-unit .login-placeholder {
    top: 7px;
    cursor: text;
}

.login-unit-user .login-placeholder,
.login-unit-pwd .login-placeholder {
    left: 29px;
}

.login-unit-chk .login-placeholder {
    left: 9px;
}

.acc-unicode {
    top: 7px;
    right: 5px;
}

.login-input {
    border: none;
    background-color: transparent;
    height: 29px;
    line-height: 29px;
    color: #E0AF3F;
    outline: none;
}

.login-unit-user .login-input,
.login-unit-pwd .login-input {
    padding-left: 27px;
}

.login-unit-pwd .login-input {
    width: 146px;
}

.login-unit-chk .login-input {
    padding-left: 7px;
    width: 166px;
}

.login-submit {
    margin-top: 4px;
    border: none;
    height: 39px;
    width: 70px;
    cursor: pointer;
}

.header-join-btn:hover,
.login-submit:hover {
    background-position: bottom;
}

#vPic {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    visibility: hidden;
}

.header-forget-pw {
    margin-right: 7px;
}

.header-forget-pw,
.header-join-link {
    color: #FFFFA9;
    line-height: 43px;
    text-decoration: none;
}

.header-forget-pw:hover,
.header-join-link:hover {
    color: #FFCC00;
}




/* 鐧诲叆寰� */

.login-info-wrap,
.login-info-right,
.login-info-y,
.login-info-left {
    float: right;
}

.login-info-title {
    height: 22px;
    width: 145px;
}

.login-info-wrap {
    margin-top: 1px;
    clear: right;
}

.login-info-right,
.login-info-left {
    height: 81px;
}

.login-info-right,
.login-info-left {
    width: 11px;
}

.login-info-right {
    background: url('../image/login_info_right.png') no-repeat;
}

.login-info-y {
    padding: 6px 10px 0;
    background: url('../image/login_info_x.png') left top repeat-x;
    height: 75px;
    max-width: 500px;
}

.login-info-left {
    background: url('../image/login_info_left.png') no-repeat;
}

.mem-info,
.SU-Menual {
    margin-left: 4px;
    color: #FFF;
    line-height: 20px;
    text-align: left;
}

.mem-info .ele-accinfo.ele-acc-name,
.mem-info .ele-accinfo.ele-first-balance {
    padding-right: 10px;
}




/* 鏈冨摗閬稿柈 */

.login-Menual {
    float: left;
}

.SU-Menual li {
    float: left;
}

.SU-Menual a {
    color: #FFF;
    text-decoration: none;
    transition: color .2s;
}

.SU-Menual a:hover {
    color: #FFFF00;
}




/* 涓婚伕鍠� */

.fixed .mainnav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    background: url('../image/mainnav-x.png') left top repeat-x;
    width: 100%;
    min-width: 1112px;
    z-index: 100;
}

.fixed .mainnav {
    margin: 0 auto;
}

.mainnav-placeholder,
.mainnav-wrap {
    height: 59px;
}

.mainnav-placeholder {
    position: relative;
    margin: 0 auto;
    width: 1028px;
    z-index: 100;
}

.mainnav {
    padding: 0 14px 11px;
    background: url('../image/nav_bg.png') center top no-repeat;
    height: 58px;
    width: 1000px;
}

.mainnav li {
    float: left;
}

.mainnav ul a {
    display: block;
    height: 58px;
    line-height: 58px;
    width: 109px;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.mainnav ul .LS-mobile a {
    color: #FFFF00;
}

.en .mainnav ul li.LS-live a,
.en .mainnav ul li.LS-network a,
.en .mainnav ul li.LS-mobile a,
.en .mainnav ul li.LS-service a {
    padding: 15px 18px 0;
    width: 73px;
    height: 43px;
    line-height: normal;
    word-wrap: break-word;
}

.en .mainnav ul li.LS-memberexclusiveii a {
    padding: 0 16px;
    width: 77px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mainnav ul a.current,
.mainnav ul a:hover {
    background: url('../image/nav_hover.png') left 8px no-repeat;
    color: #3729B5;
}

.LS-memberexclusiveii {
    position: relative;
}

.LS-memberexclusiveii .nav-icon {
    position: absolute;
    top: 6px;
    left: 40px;
    background: url('../image/nav_hot.png') no-repeat;
    height: 14px;
    width: 23px;
}




/* 涓嬫媺瀛愰伕鍠� */

.ele-lsub-group {
    position: absolute;
    z-index: 999;
    overflow: hidden;
}

.ele-lsub-group a,
.ele-lsub-group span {
    float: left;
    background-image: url('../image/sub.png');
}

.ele-lsub-group a {
    padding: 0 4px;
    height: 27px;
    line-height: 27px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-position: 100% -27px;
}

.ele-lsub-group a:hover {
    color: #F3E6BA;
}

.ele-lsub-group span {
    height: 27px;
    width: 15px;
}

.lsub-back-bg {
    background-position: 100% 27px;
}

.est-wrap {
    float: left;
}

#est_bg.time_text {
    background-color: transparent;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: left;
}




/* 鏈€鏂版秷鎭� */

.news-wrap,
.news-item {
    height: 30px;
    line-height: 30px;
    width: 870px;
}

.news-wrap {
    margin: 0 auto;
    padding: 8px 46px 7px 92px;
}

.news-item {
    color: #FFF;
}

.first .news-wrap,
.first .news-item {
    width: 723px;
}

.first .news-wrap {
    position: relative;
    margin: 9px 0;
    padding: 0 84px 0 305px;
    background-position: 219px center;
}

.is-tpl .news-wrap {
    margin: 7px auto 0;
}




/* 棣栭爜 */

.first-game-wrap {
    margin: 17px auto 0;
    width: 980px;
    height: 221px;
}

.first-game-wrap a {
    margin: 0 30px;
}

.page-body-bottom {
    margin: 0 auto;
    padding-top: 4px;
    height: 41px;
    width: 724px;
}

.first-jp-wrap,
.first-phone,
.first-qq {
    float: left;
}

.first-phone,
.first-qq {
    font-size: 17px;
    line-height: 42px;
    text-indent: 45px;
    color: #ccc;
}

.first-jp-wrap,
.first-phone {
    height: 41px;
    width: 222px;
}

.first-jp-wrap {
    margin: 1px 0 0 6px;
}

.first-phone {
    margin: 0 14px 0 19px;
    height: 41px;
    width: 222px;
    background: url('../image/index_phone.png') top no-repeat;
}

.first-qq {
    height: 41px;
    width: 170px;
    padding-left: 70px;
    cursor: pointer;
}

.first-jp-wrap .ele-jackpot-wrap {
    float: right;
    margin: 8px 5px 0 0;
    height: 25px;
    line-height: 25px;
    width: 138px;
    color: #CCC;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}




/*banner-wrap*/

.banner-wrap {
    height: 275px;
    width: 1025px;
    margin: 0px auto;
}

#page-container {
    margin-top: -13px;
}

.ad-flash-wrap {
    position: relative;
    width: 100%;
    height: 525px;
    overflow: hidden;
}

.ad-flash {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    height: 525px;
    width: 1920px;
}

.ad-flash .ele-slideshow-control-wrap {
    bottom: 25px;
}

.ad-flash .ele-slideshow-nav a {
    margin: 0 5px;
    background: url('../image/slider_ctrl.png') center top no-repeat transparent;
    width: 16px;
    height: 20px;
}

.ad-flash .ele-slideshow-nav a.active,
.ad-flash .ele-slideshow-nav a:hover {
    background: url('../image/slider_ctrl.png') center bottom no-repeat transparent;
}

.first-qr-code {
    position: absolute;
    right: 460px;
    bottom: 30px;
    /*     background: url('../image/qr_code.jpg') center top no-repeat; */
    width: 126px;
    height: 120px;
    z-index: 1;
}

.ele-gamebanner-wrap {
    margin: -11px auto 0;
}




/* footer */

#page-footer {
    padding: 20px 0;
    background: #2C0085;
}

.footer {
    margin: 0 auto;
    width: 996px;
}

.footer-text-box,
.footer-text-center {
    float: left;
    width: 300px;
}

.footer-text-center {
    margin: 0 48px;
}

.box-title-left,
.box-title-center,
.box-title-right {
    height: 52px;
    width: 300px;
}

.text-box-live,
.text-box-sports,
.text-box-lottery,
.text-box-bet {
    position: relative;
    margin: 20px 0 8px;
    height: 28px;
    width: 121px;
}

.text-box-bet {
    margin-left: 10px;
}

.box-link-open {
    position: absolute;
    top: 6px;
    right: -178px;
    display: block;
    background: url('../image/footer_open.png') no-repeat;
    height: 15px;
    width: 49px;
}

.box-detail {
    margin-left: 3px;
    width: 297px;
    color: #D6C7FF;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}

.footer-text-center .box-detail {
    margin-left: 13px;
}

.text-box-logo {
    margin-top: 15px;
    background: url('../image/footer_icon1.png') no-repeat;
    height: 209px;
    width: 300px;
}

.text-box-service {
    margin-top: 8px;
    height: 340px;
    width: 300px;
}

.footer-logo-img {
    margin: 20px auto;
    background: url('../image/footer_icon.png') right bottom no-repeat;
    height: 51px;
    width: 442px;
}

.footer-logo-img a {
    float: left;
}

#bblogo {
    margin-right: 12px;
    background: url('../image/bbinlogo.png') no-repeat;
    height: 51px;
    width: 127px;
}

#browser-logo {
    margin-top: 10px;
}

.article-menu,
.article-menu a,
.copyright,
.footer-info {
    color: #FFF;
    line-height: 20px;
}

.article-menu {
    text-align: center;
}

.article-menu a {
    text-decoration: none;
}

.article-menu a:hover {
    color: #FFB01E;
}

.footer-info-copyright {
    text-align: center;
}

.copyright,
.footer-info {
    display: inline-block;
}

.copyright {
    margin-right: 10px;
}




/* ELE Style */


/*
** 鍚勭珯 閬婃埐褰╅噾 Game Jackpot
*/

.ele-gamejp-wrap {
    margin: 0 auto;
    height: 85px;
    width: 1024px;
}

.ele-gamejp-title {
    width: 266px;
}

.ele-gamejp-title,
.ele-gamejp-bb-area,
.ele-gamejp-g3d-area {
    float: left;
    height: 85px;
}

.ele-gamejp-bb-area,
.ele-gamejp-g3d-area {
    margin-left: 22px;
    width: 200px;
    padding: 0 15px 0 142px;
}

.ele-gamejp-explain {
    background: url('../image/layout/gamejp_btn.png') no-repeat;
    height: 27px;
    line-height: 27px;
    width: 174px;
    color: #FFF;
    transition: all 0.2s ease;
}

.ele-gamejp-explain:hover {
    color: #FFB973;
}

.ele-gamejp-prize {
    padding-top: 8px;
    height: 35px;
    line-height: 35px;
    color: #4AD2FF;
    font-size: 25px;
}




/* 灏忓僵閲�  */

.ele-layout-subjp .ele-game-layout {
    height: 270px;
}

.ele-layout-subjp .ele-game-ctl-wrap {
    bottom: 52px;
}

.ele-layout-subjp .ele-game-sub-jp .minorJP {
    margin: 30px auto 0;
    padding: 0 10px 0 10px;
    background: #6029B4;
    width: 300px;
    color: #FEDF00;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5);
}

.ele-layout-subjp .ele-game-sub-jp .minorJP:before {
    color: #FEDF00;
}

.ele-game-pt-casino .ele-game-ctl-links {
    border-radius: 0 0 2px 2px;
    overflow: hidden;
}




/*
** 鍚勭珯 閬婃埐灏庤鍒� Game Menu
*/

.game-menu {
    margin: 0 auto;
    background: url('../image/layout/game_menu.jpg') no-repeat;
    width: 1024px;
}

.game-menu-bg,
.nav-normal>a {
    height: 51px;
}

.nav-normal {
    background: url('../image/layout/game_menu_line.png') right center no-repeat;
}

.nav-normal>a {
    padding: 0 20px;
    line-height: 51px;
    text-decoration: none;
}

.nav-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    transition: all 0.2s ease;
}




/*
** 鍚勭珯 閬婃埐鎼滃皨
*/

#ele-search-wrap {
    width: 218px;
    height: 51px;
}




/* for ie8*/

#ele-search-wrap label {
    top: 18px;
    left: 6px;
}

#ele-search-wrap .ele-search-input {
    float: left;
    margin-left: 5px;
    height: 100%;
    line-height: 51px \9;
}

#ele-search-wrap label,
#ele-search-wrap .ele-search-input {
    width: 155px;
}

#ele-search-wrap .ele-search-btn {
    width: 58px;
}




/*
** 鍚勭珯閬婃埐鍦� 妯ｅ紡
*/

.game .ele-game-wrap {
    margin: 20px auto;
    width: 1017px;
}

.ele-game-layout {
    margin: 0 3px 10px;
    background: url('../image/layout/game_bg.png') no-repeat;
    height: 238px;
    width: 333px;
}

.ele-game-layout .ele-game-status {
    top: 1px;
    right: 6px;
}

.ele-game-name {
    margin-top: 4px;
}

.ele-game-name .ele-hall-icon {
    margin: 0 14px 0 37px;
    background-position: center center;
}

.ele-game-name h3 {
    margin-top: 5px;
    height: 25px;
    line-height: 25px;
    width: 180px;
    color: #150033;
}

.ele-game-ctl-wrap,
.ele-game-ctl-tools,
.ele-game-ctl-links {
    width: 100%;
}

.ele-game-ctl-wrap {
    bottom: 20px;
}

.ele-game-ctl-tools {
    background: url('../image/layout/game_toolbar.png') center top no-repeat;
    height: 28px;
}

.ele-game-ctl-tools .tool-btn-comingsoon {
    margin-left: 15px;
}

.ele-game-ctl-tools .tool-btn-favorite {
    margin-right: 17px;
}




/*
** 鍚勭珯 閬婃埐閫ｇ祼
*/

.ele-game-link {
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}

.ele-game-ctl-links a {
    background: url('../image/layout/game_btn_rule.png') center top no-repeat;
    color: #D8D8E9;
}

.ele-game-ctl-links a.ctl-btn-enter {
    background: url('../image/layout/game_btn_entergame.png') center top no-repeat;
    color: #F9DFFD;
}

.ele-game-ctl-links a:hover,
.ele-game-ctl-links a.ctl-btn-enter:hover {
    background-position: bottom;
}

.ele-game-ctl-links a:hover {
    color: #FDF2FD;
}

.ele-game-ctl-links a.ctl-btn-enter:hover {
    color: #FAE7A7;
}




/* 鏂囨鍗€濉� */

#page-sidebar {
    float: left;
    margin-left: 50px;
    width: 225px;
}

#page-right {
    float: right;
    margin-right: 39px;
}

#page-right,
.page-right-top,
.page-right-y,
.page-right-bottom {
    width: 788px;
}

.page-right-center,
#page-right iframe {
    width: 700px;
}

.page-right-top {
    background: url('../image/about_bg_top.png') center top no-repeat;
    height: 12px;
}

.page-right-y {
    background: url('../image/about_bg_y.png') center top repeat-y;
}

.page-right-center {
    padding: 12px 44px 18px;
    background: url('../image/about_bg_center.png') center top no-repeat;
    min-height: 582px;
}

.page-right-bottom {
    background: url('../image/about_bg_bottom.png') center top no-repeat;
    height: 10px;
}




/*閬婃埐閬稿柈*/

.sidemenu-header,
.sidemenu-body,
.sidemenu-footer {
    width: 225px;
}

.sidemenu-header {
    height: 151px;
}

.sidemenu-body {
    background: url('../image/sidebar_y.png') center top repeat-y;
}

.sidemenu {
    padding: 0 31px;
    background: url('../image/sidebar_center.png') center top no-repeat;
    width: 163px;
}

.sidemenu-body li {
    padding-top: 5px;
}

.sidemenu-body a {
    display: block;
    padding-left: 68px;
    background: url('../image/sidebar.png') no-repeat;
    height: 34px;
    line-height: 29px;
    text-decoration: none;
    width: 95px;
    color: #000;
    font-size: 13px;
}

.en .sidemenu-body a {
    padding-right: 5px;
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sidemenu-body a:hover {
    color: #6666CC;
}

.sidemenu-footer {
    background: url('../image/sidebar_bottom.png') no-repeat;
    height: 42px;
}




/*鏂囨*/

#direction {
    color: #FFF;
}




/*鏂囨妯欓*/

.case-article-title {
    color: #FFF;
}

#direction ul.mtab-menual {
    list-style: none;
    border-bottom: 3px solid #7232D2;
}

#direction ul.mtab-menual li {
    display: inline-block;
    vertical-align: bottom;
    *display: inline;
    *zoom: 1;
    margin-right: 4px;
    padding: 1px 10px;
    background-color: #8F6DC1;
    color: #F0DAFF;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: background-color .4s;
}

#direction ul.mtab-menual li:hover,
#direction ul.mtab-menual li.mtab {
    background-color: #7232D2;
    color: #FFF;
}

#direction .mtab-menual {
    margin-top: 10px;
}




/*鍎儬娲诲嫊*/

#direction #PT-switcher-wrap {
    margin: 1.5em auto;
    width: 960px;
}

.exclusive-event #MemberExclusive_area .memExclusive {
    margin-bottom: 8px;
}




/*鍏辩敤闋侀潰*/

.Tpl-table01 {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #000;
    font-size: 12px;
}

table .Tpl-title01 th {
    background-color: #DDD;
    height: 24px;
    text-align: center;
    font-weight: bold;
}

#Tpl-user-acc span {
    line-height: 20px;
    color: #0000FF;
}

.Tpl-table01 th,
.Tpl-table01 td {
    height: 22px;
    border: 1px solid #CCC;
}

tr.Tpl-trcolor1 {
    background: #FFF;
}

tr.Tpl-trcolor2 {
    background: #EEE;
}

tr.Tpl-trmouseenter {
    background: #DEF;
}

#Tpl-memdata .Tpl-table01 th,
#Tpl-memdata .Tpl-table01 td.Tpl-left {
    text-align: center;
}

#Tpl-memdata .Tpl-table01 td.Tpl-right {
    text-align: left;
}

.Tpl-blue {
    color: #00F;
}




/*#float_r_ight {
    display: none;
    width: 41px;
    height: 371px;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 1100;
    overflow: hidden;
}

.float_right_l {
    padding-top: 2px;
    width: 205px;
    height: 371px;
    position: absolute;
    right: -205px;
    top: 0px;
    z-index: 1099;
    background: url('../image/float_bg.png') no-repeat;
}

#float_right_log {
    cursor: pointer;
    width: 41px;
    height: 169px;
    position: absolute;
    right: 205px;
    top: 62px;
    z-index: 1100;
    background-image: url('../image/float_click.gif');
}

.float_right_l span {
    position: relative;
    padding-left: 5px;
}

.right_img4 {
    float: left;
    overflow: hidden;
}

#right_img1,
#right_img2 {
    width: 193px;
    height: 86px;
    display: block;
}

#right_img3 {
    width: 193px;
    height: 100px;
    display: block;
}*/

.float {
    position: fixed;
    right: -999px;
    top: 0;
    padding: 20px 5px 0 0;
}

.float li {
    position: relative;
}

.float .ewmbox {
    background: url(../image/float/6.png) no-repeat center;
    width: 134px;
    height: 134px;
    position: relative;
}

.float .cfgMainCustomerQQ {
    position: absolute;
    left: 0;
    top: 27px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.float .ewmbox img {
    position: absolute;
    left: 13px;
    top: 8px;
    width: 107px;
    height: 105px;
}

.float img {
    display: block;
    margin: 0 auto;
}

.fixedNav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100000;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop));
}

#ele-logo-wrap,
#ele-logo-img {
    width: 298px;
    height: 108px;
    display: block;
    cursor: pointer;
}

#ele-logo-wrap {
    background-position: 100% 100%;
}

#ele-logo-img {
    background-position: 0 0;
}

.ele-lang-wrap {
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.ele-lang-option {
    width: 22px;
    height: 20px;
    vertical-align: top;
    *margin-left: 4px;
    background: url('../image/lang_circle.png') no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.ele-lang-zh-cn {
    background-position: 0 -40px;
}

.ele-lang-en {
    background-position: 0 -80px;
}

.ele-lang-ja {
    background-position: 0 -120px;
}

.ele-lang-ko {
    background-position: 0 -160px;
}

.ele-lang-vi {
    background-position: 0 -200px;
}

.ele-lang-th {
    background-position: 0 -240px;
}

.header {
    background: url('../image/index_word.png') 319px 53px no-repeat;
}

.header-join-btn {
    background: url('../image/btn_joinus.png') top no-repeat;
}

.login-submit {
    background: url('../image/btn_login.png') top no-repeat;
}

.news-wrap {
    background: url('../image/new.png') 13px center no-repeat;
}

.login-info-title {
    background: url('../image/login_info_text.png') no-repeat;
}




/* 首頁 */

.first-mobile-img {
    background: url('../image/index_mobile.png') top no-repeat;
}

.first-jp-wrap {
    background: url('../image/prize_bg.png') top no-repeat;
}

.first-qq {
    background: url('../image/index_qq.png') top no-repeat;
}




/* 文案頁 */

.sidemenu-header {
    background: url('../image/sidebar_top.png') no-repeat;
}




/* banner-wrap */

.banner-wrap {
    background: url('../image/title_welcome.png') left top no-repeat;
}

.live .banner-wrap,
.livetop .banner-wrap {
    background: url('../image/title_live.png') left top no-repeat;
}

.memberexclusiveii .banner-wrap {
    background: url('../image/title_memberexclusiveii.png') left top no-repeat;
}




/* footer */

.box-title-left {
    background: url('../image/index_service1.png') no-repeat;
}

.box-title-center {
    background: url('../image/index_service2.png') no-repeat;
}

.box-title-right {
    background: url('../image/index_service3.png') no-repeat;
}

.text-box-live {
    background: url('../image/footer_word1.png') no-repeat;
}

.text-box-sports {
    background: url('../image/footer_word2.png') no-repeat;
}

.text-box-lottery {
    background: url('../image/footer_word3.png') no-repeat;
}

.text-box-bet {
    background: url('../image/footer_word4.png') no-repeat;
}

.text-box-service {
    background: url('../image/index_service.png') no-repeat;
}




/*
** 各站 遊戲彩金 Game Jackpot
*/

.ele-gamejp-wrap {
    background: url('../image/gamejp_bg.jpg') no-repeat;
}

.ele-firstgame {
    position: relative;
}

.ele-firstgame-1 {
    width: 185px;
    height: 221px;
    float: left;
    _display: inline;
    position: relative;
    overflow: hidden;
    background: url(../image/a1.png) -185px bottom no-repeat;
}

.ele-firstgame-1 span {
    width: 185px;
    height: 221px;
    background: url(../image/a1.png) left top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.ele-firstgame-2 {
    width: 185px;
    height: 221px;
    float: left;
    _display: inline;
    position: relative;
    overflow: hidden;
    background: url(../image/a2.png) -185px bottom no-repeat;
}

.ele-firstgame-2 span {
    width: 185px;
    height: 221px;
    background: url(../image/a2.png) left top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.ele-firstgame-3 {
    width: 185px;
    height: 221px;
    float: left;
    _display: inline;
    position: relative;
    overflow: hidden;
    background: url(../image/a3.png) -185px bottom no-repeat;
}

.ele-firstgame-3 span {
    width: 185px;
    height: 221px;
    background: url(../image/a3.png) left top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.ele-firstgame-4 {
    width: 185px;
    height: 221px;
    float: left;
    _display: inline;
    position: relative;
    overflow: hidden;
    background: url(../image/a4.png) -185px bottom no-repeat;
}

.ele-firstgame-4 span {
    width: 185px;
    height: 221px;
    background: url(../image/a4.png) left top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}




/*超級彩金*/

.ele-jackpot-wrap {
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.ele-jackpot span {
    letter-spacing: 2px;
}

#js-ele-jpRemote {
    float: left;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
}

.ele-slideshow-wrap {
    width: 1920px;
    position: relative;
    margin: 0 auto;
}

.ele-slideshow-scroll {
    width: 1920px;
    height: 512px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.ele-slideshow-scroll li {
    opacity: 0;
    filter: alpha(opacity=0);
}

.ele-slideshow-wrap ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 512px;
}

.ele-slideshow-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 512px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.ele-slideshow-wrap li a {
    display: block;
    width: 1920px;
    height: 512px;
}

.ele-slideshow-wrap li a img {
    image-rendering: optimizeQuality;
}

.ele-slideshow-control-wrap {
    position: absolute;
    z-index: 3;
    bottom: 0;
    padding: 5px;
}

.ele-slideshow-nav {
    display: inline-block;
    vertical-align: middle;
}

.ele-slideshow-nav a {
    width: 16px;
    height: 16px;
    background-color: #8296B1;
    display: inline-block;
    text-align: center;
    color: #FFF;
    line-height: 16px;
    margin: 0 2px;
    text-decoration: none;
    position: relative;
}

.ele-slideshow-nav a.active,
.ele-slideshow-nav a:hover {
    background-color: #74B0CE;
    color: #FFF;
}

.ele-slideshow-clip {
    background-repeat: no-repeat;
}

.ad-flash-wrap {
    position: relative;
    width: 100%;
    height: 512px;
    overflow: hidden;
}

.ad-flash {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    height: 512px;
    width: 1920px;
}

.ad-flash .ele-slideshow-control-wrap {
    bottom: 25px;
}

.ad-flash .ele-slideshow-nav a {
    margin: 0 5px;
    background: url('../image/slider_ctrl.png') center top no-repeat transparent;
    width: 16px;
    height: 20px;
}

.ad-flash .ele-slideshow-nav a.active,
.ad-flash .ele-slideshow-nav a:hover {
    background: url('../image/slider_ctrl.png') center bottom no-repeat transparent;
}

.ele-msg-cp {
    cursor: pointer;
}

.formError .formErrorArrowBottom {
    box-shadow: none;
    margin: 0 0 0 12px;
    top: 2px;
}

.formError .formErrorArrow div {
    background: #ee0101 none repeat scroll 0 0;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-shadow: 0 2px 3px #444;
    display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 auto;
}

.formError .formErrorArrowBottom div {
    box-shadow: none;
}

.greenPopup .formErrorArrow div {
    background: #33be40 none repeat scroll 0 0;
}

.blackPopup .formErrorArrow div {
    background: #393939 none repeat scroll 0 0;
    color: #fff;
}

.formError .formErrorArrow .line10 {
    border: medium none;
    width: 15px;
}

.formError .formErrorArrow .line9 {
    border: medium none;
    width: 13px;
}

.formError .formErrorArrow .line8 {
    width: 11px;
}

.formError .formErrorArrow .line7 {
    width: 9px;
}

.formError .formErrorArrow .line6 {
    width: 7px;
}

.formError .formErrorArrow .line5 {
    width: 5px;
}

.formError .formErrorArrow .line4 {
    width: 3px;
}

.formError .formErrorArrow .line3 {
    border-bottom: 0 solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    width: 1px;
}

.formError .formErrorArrow .line2 {
    background: #ddd none repeat scroll 0 0;
    border: medium none;
    width: 3px;
}

.formError .formErrorArrow .line1 {
    background: #ddd none repeat scroll 0 0;
    border: medium none;
    width: 1px;
}

fieldset {
    border: 1px solid #074391;
    margin-top: 15px;
    overflow: hidden;
    padding: 10px 0;
}

fieldset legend {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 12px;
    padding: 2px 5px;
}

fieldset table {
    margin-top: 0;
}

fieldset table th,
fieldset table td {
    padding: 2px 5px;
}

fieldset table th {
    font-weight: normal;
    padding: 2px 0;
    text-align: right;
    width: 150px;
}

fieldset table th span {
    color: #ff0000;
    font-weight: bold;
    margin: 0 5px;
}

INPUT.inp-txt {
    border: 1px solid #5799f2;
    box-shadow: 2px 2px 4px #072a65 inset;
    height: 22px;
    line-height: 22px;
    padding: 2px 4px 0;
}

.reg-btn {
    background: rgba(0, 0, 0, 0) url("../image/btn-bg.png") repeat-x scroll 0 0;
    border: 1px solid #707070;
    color: #707070;
    cursor: pointer;
    height: 28px;
    width: 90px;
}

.reg-btn:hover {
    background-position: left bottom;
    border: 1px solid #fea201;
    color: #990000;
}

.formError {
    cursor: pointer;
    display: block;
    left: 300px;
    position: absolute;
    text-align: left;
    top: 300px;
}

.formError {
    z-index: 990;
}

.formError .formErrorContent {
    background: #ee0101 none repeat scroll 0 0;
    border: 2px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 0 6px #000;
    color: #fff;
    font-size: 11px;
    min-width: 120px;
    padding: 4px 10px;
    position: relative;
    width: 100%;
}

.formError.inline .formErrorContent {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}

.formError .formErrorArrow {
    margin: -2px 0 0 13px;
    position: relative;
    width: 15px;
}

.formError .formErrorArrow {
    z-index: 996;
}

.layui-layer-content {
    margin: 10px;
}

.code_img {
    position: absolute;
    margin-top: 2px;
    margin-left: 291px;
    width: 60px;
    height: 25px;
}

.code_img label {
    font-family: Arial;
    display: block;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bolder;
    background-color: #e6e6e6;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}




/*appdownload*/

.appbox {
    text-align: center;
}

.appbox .teach img {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.appbox .down {
    height: 190px;
}

.appbox .down h5 {
    font-size: 14px;
    line-height: 30px;
}

.appbox .down img {
    margin-top: 20px;
}

.appbox .teach {
    height: 450px;
    overflow-x: hidden;
}

.appbox .teach::-webkit-scrollbar {
    width: 8px;
}

.appbox .teach::-webkit-scrollbar-thumb {
    background-color: #00179a;
    border: 2px solid #051037;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

.appbox .teach::-webkit-scrollbar-track {
    background-color: #051037;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}